<div class=" row">
    <div class=" col-md-8">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title"> Let's give your program a title! </h4>
              <h6 class="card-subtitle mb-4 text-muted"> You can change your title at any time. </h6>
              <div class=" p-3">
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Many clients don't yet know they need coaching but are looking for a specific solution to 
                    a problem, issue, goal or challenge they are facing. Choose a short, goal or outcome focussed title 
                    that hints at what clients can expect to achieve through your program.
                </p>

                <div class="mt-3">
                    <form *ngIf="newProgramForm" [formGroup]="newProgramForm" (submit)="onSubmit()">

                        <div
                        class="input-group no-symbol"
                        [ngClass]="{
                            'has-danger':
                            (( (focusTouched && programF.title.value != '') || saveAttempt) && programF.title.errors),
                            'has-success': !programF.title.errors
                        }">
                            <input
                            type="text"
                            class="form-control"
                            formControlName="title"
                            placeholder="eg. Master Your Anxiety"
                            (focus)="focusTouched = true"
                            (input)="onTitleInput($event)">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                  {{ titleActualLength + '/' + titleMaxLength }}
                              </span>
                            </div>
                        </div>
                        <div *ngIf="(( (focusTouched && programF.title.value != '') || saveAttempt) && programF.title.errors)">
                            <label
                            *ngFor="let error of objKeys(programF.title.errors)"
                            class="error custom-error-label"
                            >{{ showError('title', error) }}
                            </label>
                        </div>

                        <!-- buttons -->
                        <div class=" row">
                            <div class=" col">
                                <div class=" pull-left">
                                    <button type="button" class=" btn btn-default btn-round btn-fill mt-4" (click)="cancel()">
                                        <i class="fas fa-times"></i>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <div class=" col">
                                <div class=" pull-right">
                                    <button type="submit" class=" btn btn-primary btn-round btn-fill mt-4">
                                        <span *ngIf="!saving">
                                            <i class="fas fa-save"></i>
                                          </span>
                                          <span
                                          *ngIf="saving"
                                          class="spinner-border spinner-border-sm"
                                          role="status"
                                          ></span> {{ saving ? 'Saving...' : 'Continue'}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
