<!-- wizard modal -->
<div id="find-coach-wizard-modal">
    <!-- modal header -->
    <!-- <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <!-- end modal header -->

    <!-- modal body -->
    <div class="modal-body">

        <!-- wizard container -->
        <div class=" wizard-container">

            <!-- wizard card -->
            <div class="card card-wizard active" id="wizardProfile">

                <!-- form -->
                <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">

                    <!-- stepper -->
                    <mat-horizontal-stepper
                    formArrayName="formArray"
                    linear labelPosition="bottom"
                    class=" card-body"
                    (selectionChange)="onStepChange($event)"
                    >
                        <!-- Step 0 -->
                        <mat-step formGroupName="0" [stepControl]="formArray.get([0])" label="Goals">
                            <p class=" info-text mt-3">
                            Any goals?
                            </p>
                            <app-chips-multi-select [options]="goals" formControlName="goals"></app-chips-multi-select>
                            <button type="button" class=" btn btn-round btn-default">
                                Cancel
                            </button>
                            <button
                            type="button" 
                            class=" btn btn-round btn-primary"
                            mat-button
                            matStepperNext>
                                Next: Challenges
                            </button>
                        </mat-step>
                        <!-- end step 0 -->

                        <!-- Step 1 -->
                        <mat-step formGroupName="1" [stepControl]="formArray.get([1])" label="One">
                            <p class=" info-text mt-3">
                            Any challenges?
                            </p>
                            <app-chips-multi-select [options]="challenges" formControlName="challenges"></app-chips-multi-select>
                            <button
                            type="button" 
                            class=" btn btn-round btn-default"
                            mat-button
                            matStepperPrevious>
                                Back
                            </button>
                            <button
                            type="button" 
                            class=" btn btn-round btn-primary"
                            mat-button
                            matStepperNext>
                                Next: Details
                            </button>
                        </mat-step>
                        <!-- end step 1 -->

                        <!-- Step 2 -->
                        <mat-step formGroupName="2" [stepControl]="formArray.get([2])" label="Two">
                            <p class=" info-text mt-3">
                            Next this
                            </p>
                            <button
                            type="button" 
                            class=" btn btn-round btn-default"
                            mat-button
                            matStepperPrevious>
                                Back
                            </button>
                            <button
                            type="button" 
                            class=" btn btn-round btn-primary"
                            (click)="onSubmit()">
                                Go!
                            </button>
                        </mat-step>
                        <!-- end step 2 -->

                    </mat-horizontal-stepper>
                    <!-- end stepper -->

                </form>
                <!-- end form -->

            </div>
            <!-- end wizard card -->

        </div>
        <!-- end wizard container -->
        
    </div>
    <!-- end modal body -->
  
    <!-- modal footer -->
    <!-- <div class="modal-footer">
        
    </div> -->
    <!-- end modal footer -->

  </div>
  <!-- End of wizard modal -->
