<!-- wizard modal -->
<div id="find-coach-wizard-modal">
    <!-- modal header -->
    <!-- <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <!-- end modal header -->

    <!-- modal body -->
    <div class=" modal-body">

        <!-- wizard container -->
        <div class=" wizard-container">

            <!-- wizard card -->
            <div class=" card card-register card-white" id="wizardProfile">

                <!-- card body -->
                <div class=" card-body">
                    <!-- form -->
                    <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">

                        <!-- stepper -->
                        <mat-horizontal-stepper
                        formArrayName="formArray"
                        linear labelPosition="bottom"
                        class=" card-body"
                        (selectionChange)="onStepChange($event)"
                        >
                            <!-- Step 0 -->
                            <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
                                <h3>
                                    Goals
                                </h3>
                                <p>
                                    Do you have any specific life goals in mind right now? Select them below...
                                </p>
                                <div class=" mt-4">
                                    <app-chips-multi-select [options]="goals" formControlName="goals"></app-chips-multi-select>
                                </div>
                                <div class=" mt-4">
                                    <button type="button" class=" btn btn-round btn-default">
                                        <i class="fas fa-times mr-2"></i>
                                        Cancel
                                    </button>
                                    <button
                                    type="button" 
                                    class=" btn btn-round btn-primary pull-right"
                                    mat-button
                                    matStepperNext>
                                        Next: Challenges
                                        <i class="fas fa-chevron-right ml-2"></i>
                                    </button>
                                </div>
                            </mat-step>
                            <!-- end step 0 -->

                            <!-- Step 1 -->
                            <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
                                <h3>
                                    Challenges
                                </h3>
                                <p>
                                    Are you facing any specific challenges right now? Select them below...
                                </p>
                                <div class=" mt-4">
                                    <app-chips-multi-select [options]="challenges" formControlName="challenges"></app-chips-multi-select>
                                </div>
                                <div class=" mt-4">
                                    <button
                                    type="button" 
                                    class=" btn btn-round btn-default"
                                    mat-button
                                    matStepperPrevious>
                                        <i class="fas fa-chevron-left mr-2"></i>
                                        Back: Goals
                                    </button>
                                    <button
                                    type="button" 
                                    class=" btn btn-round btn-primary pull-right"
                                    mat-button
                                    matStepperNext>
                                        Next: Details
                                        <i class="fas fa-chevron-right ml-2"></i>
                                    </button>
                                </div>
                            </mat-step>
                            <!-- end step 1 -->

                            <!-- Step 2 -->
                            <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
                                <h3>
                                    Other
                                </h3>
                                <p>
                                    Other stuff
                                </p>
                                <div class=" mt-4">
                                    <button
                                    type="button" 
                                    class=" btn btn-round btn-default"
                                    mat-button
                                    matStepperPrevious>
                                        <i class="fas fa-chevron-left mr-2"></i>
                                        Back
                                    </button>
                                    <button
                                    type="button" 
                                    class=" btn btn-round btn-primary pull-right"
                                    (click)="onSubmit()">
                                        Get Recommended Coaches!
                                        <i class="fas fa-flag-checkered ml-2"></i>
                                    </button>
                                </div>
                            </mat-step>
                            <!-- end step 2 -->

                        </mat-horizontal-stepper>
                        <!-- end stepper -->

                    </form>
                    <!-- end form -->
                </div>
                <!-- end card body -->

            </div>
            <!-- end wizard card -->

        </div>
        <!-- end wizard container -->
        
    </div>
    <!-- end modal body -->
  
    <!-- modal footer -->
    <!-- <div class="modal-footer">
        
    </div> -->
    <!-- end modal footer -->

  </div>
  <!-- End of wizard modal -->
