<app-auth-navbar></app-auth-navbar>

<div class="full-page publishers-page">

  <!-- Hero -->
  <section id="section-hero">
      <div class="jumbotron jumbotron-fluid custom-jumbotron" id="publisher-jumbotron">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-10">
              <h1 class="display-1"> Get Paid To Promote Coaching </h1>

              <h3>
                Join our generous Publisher Program & earn 50% on all successful referrals.
            </h3>
  
              <p class="lead">
                  <a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'publisher']" role="button">
                    Get Started
                  </a>
              </p>
              </div>
          </div>
          </div>
      </div>
  </section>

  <!-- Section 1 -->
  <section id="section-one" class=" padded-section">
      <div class=" content">
          <div class=" container">
              <div class="row justify-content-center text-center">
                  <div class="col pt-4">
                    <h2 class="display-3">
                      Your Audience <span class="text-success"> + </span> 
                      Our Coaches <span class="text-success"> = </span> 
                      <span class=" text-danger"><i class="fas fa-heart"></i></span>
                    </h2>

                    <h4>
                      <strong>The world needs coaching. Can you help people to discover the benefits?</strong><br><br>
                      Connect your audience to our coaching community to boost your kudos & earn commission.
                    </h4>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Section 2 -->
  <section id="section-two" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              How Does It <span class="text-success">Work?</span>
            </h2>

            <h4>
              Our Publisher Program is simple and rewarding:
            </h4>

            <div class=" row mt-5">
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fas fa-stopwatch"></i></div>
                  <p class=" pl-3 pr-3">
                    Sign up in 60 seconds. No complicated application process.
                  </p>
              </div>
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fas fa-link"></i></div>
                  <p class=" pl-3 pr-3">
                    Get a unique Publisher Tracking Link.
                  </p>
              </div>
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fas fa-percent"></i></div>
                  <p class=" pl-3 pr-3">
                    Promote any Lifecoach page using your link & earn 50% on all referred revenue.
                  </p>
              </div>
          </div>

            <p class="lead mt-5">
              <a class="btn btn-primary btn-lg btn-round btn-simple" [routerLink]="['/register', 'publisher']" role="button">
                Join Now
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section id="section-four" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              What Can I <span class="text-info"> Promote?</span>
            </h2>

            <h4>
              Lifecoach is a digital coaching platform. Our coaching community offers a diverse mix of professional online 
              coaching services and self-study coaching courses. Whether you choose to promote the Lifecoach platform, 
              specific coaching specialities, individual Coaches, services or self-study courses, all you need to do is 
              link to any page on the site and add your unique tracking code.
              Your tracking code will earn you 50% on all referred revenue. Simple.
            </h4>

            <div class=" row mt-5">
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-laptop"></i></div>
                    <h5 class=" font-weight-bold"> The Platform </h5>
                    <p>
                      Lifecoach is the perfect resource for anyone looking for self-improvement, overcoming obstacles & personal development.
                      Promote the platform as a great place to connect with high quality coaching.
                    </p>
                </div>
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-user"></i></div>
                    <h5 class=" font-weight-bold"> Coaches & Services </h5>
                    <p> 
                      Our Coaches cover a diverse range of coaching specialities and offer a wide array of services. Promote specific 
                      coaching specialities, individual coaches or specific services depending on your audience.
                    </p>
                </div>
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-play-circle"></i></div>
                    <h5 class=" font-weight-bold"> Coaching Courses </h5>
                    <p>
                      Online self-study courses are the perfect way for students to progress on their own schedules. We also run 
                      regular special offers to make our community courses highly attractive and perfect for you to promote.
                    </p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5 -->
  <section id="section-five" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                <h2 class="display-3">
                    <span class="text-danger">FAQ</span>
                </h2>

                <div class=" row text-left mt-5">
                    <div class=" col-md-6 mb-3">
                      <strong>
                        How do I join Lifecoach as a Publisher?
                      </strong>
                      <p>
                        Click <a [routerLink]="['/register', 'publisher']">here</a> to get started.
                        Signing up takes under 60 seconds. Get your link and start promoting!
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        Do I qualify as a Publisher?
                      </strong>
                      <p>
                        If you have an audience, following or mailing list who would be interested in 
                        discovering the Lifecoach platform, our coaching community, coaching services
                        and/or our self-study courses, you qualify for our Publisher Program.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        Are there any special requirements?
                      </strong>
                      <p>
                        The only requirement is your ability to reach people who might be interested in coaching
                        and personal development. If you're keen to help your audience move forward through better 
                        access to high quality coaching, we'd love to partner with you.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        How does it work?
                      </strong>
                      <p>
                        Sign up in 60 seconds, enable your payment account and get your unique referral code. 
                        Use your code to promote any Lifecoach page to your existing audience. Earn 50% on all 
                        referred revenue. No technical skills/development required and we'll provide you with 
                        detailed but simple instructions to get you started.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        Do I have to track multiple referral codes?
                      </strong>
                      <p>
                        No! Our tracking system is uniquely simple. All you need to do is append your tracking 
                        code onto the end of a link to any Lifecoach page (we'll show you how). 
                        Wherever you choose to send your readers, we'll detect your code and credit you for 
                        all referred revenue.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        Where will I see my earnings?
                      </strong>
                      <p>
                        We'll report your earnings in real-time via your Lifecoach Publisher dashboard.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        How much can I earn?
                      </strong>
                      <p>
                        There's no cap on earnings so the more you promote Lifecoach to your audiences, 
                        the more you can earn. We handle international currency conversion, maximising your 
                        ability to earn.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        What % will I earn?
                      </strong>
                      <p>
                        We operate a generous 50/50 profit share meaning you earn an industry leading 50% on all 
                        referred revenue via your tracking code.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        How & when will I be paid?
                      </strong>
                      <p>
                        We'll pay you through a single, automated monthly payment (usually at the end of each month) 
                        direct to your chosen bank account in your local currency.
                      </p>
                    </div>
                    <div class=" col-md-6 mb-3">
                      <strong>
                        Where can I ask questions?
                      </strong>
                      <p>
                        We'd love to answer any questions you may have! You can reach our fast & friendly support 
                        team via our dedicated <a href="https://lifecoach.freshdesk.com/support/home" target="_blank">support hub.</a>
                      </p>
                    </div>
      
                  </div>
    
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Section 6 -->
  <section id="section-six" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                <h2 class="display-3"> Heard Enough? </h2>

                <h4>
                  Join the Publisher Program today.
                </h4>

                <p><a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'publisher']" role="button">
                  Let's go!
                </a></p>
    
                </div>
            </div>
        </div>
    </div>
  </section>

</div>

<app-page-footer></app-page-footer>
