<app-auth-navbar></app-auth-navbar>

<div class="full-page courses-landing-page">

  <!-- Hero -->
  <section id="section-hero">
      <div class="jumbotron jumbotron-fluid custom-jumbotron" id="pricing-jumbotron">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-10">
              <h1 class="display-1"> Increase Your Impact </h1>

              <h3>
                Turn your coaching material into an on-demand, Lifecoach eCourse.
              </h3>

              <h4>
                Create, publish & sell eCourses through our simple, commission based platform.
              </h4>
  
              <p class="lead mt-5">
                  <a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'coach']" role="button">
                    Get Started
                  </a>
              </p>
              </div>
          </div>
          </div>
      </div>
  </section>

  <!-- Section 1 -->
  <section id="section-one" class=" padded-section">
      <div class=" content">
          <div class=" container">
              <div class="row justify-content-center text-center">
                  <div class="col-md-10">
                  <h2 class="display-3">
                    It's So <span class="text-danger"> Simple </span>
                  </h2>

                  <h4>
                    Creating an eCourse that clients can access completely on-demand is easy.
                    Simply convert your existing coaching material into a collection of pre-recorded videos or articles (or a mix of both). 
                    Videos can be recorded with you talking to the camera, slide presentations and voice-overs. Articles can be typed or copied from existing documents. 
                    It's completely up to you! Most eCourses range from short, 10 minute presentations to deep, multi-part courses with hours of video. 
                    And don't worry if you're new to eCourses (or recording yourself) - we'll help you every step of the way!
                  </h4>

                  <div class="mt-5">
                    <img src="../../../assets/img/lifecoach-ecourse-student-learning-centre.png" alt="A Lifecoach Coach delivering online coaching via an eCourse">
                  </div>
      
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Section 2 -->
  <section id="section-two" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              Discover Our Friendly <span class="text-info">eCourse Builder</span>
            </h2>

            <h4>
                Not sure how to bring your coaching material together into an eCourse? 
                That's exactly why we built our user-friendly eCourse builder. 
                An eCourse is simply a collection of sections, with each section containing at least one video or article based lecture. 
                Simply create your structure, drag and drop until you're happy, upload your lecture content and away you go!
                You can learn more about building self-study courses 
                <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001135032-what-are-courses-" target="_blank">
                 here.
                </a>

                <div class="mt-5">
                  <img src="../../../assets/img/lifecoach-coaching-course-builder.png" alt="The Lifecoach online coaching eCourse Builder">
                </div>
            </h4>

            <p class="lead mt-5">
              <a class="btn btn-primary btn-lg btn-round btn-simple" [routerLink]="['/my-courses']" role="button">
                Get Started 
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 3 -->
  <section id="section-three" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                <h2 class="display-3">
                  Deliver a Seamless <span class="text-success"> Learning Experience </span>
                </h2>

                <h4 class="">
                    All eCourses are delivered through our high quality online client learning centre. Explore the benefits:
                </h4>

                <div class=" row mt-5">
                    <div class=" col-4">
                        <div class=" text-success display-2 mb-3"><i class="fas fa-share-alt"></i></div>
                        <p>
                            Create eCourses that flow seamlessly, guiding clients from start to finish in a flow that delivers maximum benefit.
                        </p>
                    </div>
                    <div class=" col-4">
                        <div class=" text-success display-2 mb-3"><i class="fas fa-check-square"></i></div>
                        <p>
                            Our eCourse progress tracker helps clients to monitor their progress, resume where they left off and encourages them to progress with timely notifications.
                        </p>
                    </div>
                    <div class=" col-4">
                        <div class=" text-success display-2 mb-3"><i class="fas fa-file-pdf"></i></div>
                        <p>
                            Add additional resources to enhance your eCourse. We'll make them available at just the right point for students to access and download.
                        </p>
                    </div>
                </div>

                <div class=" row mt-5">
                  <div class=" col-4">
                      <div class=" text-success display-2 mb-3"><i class="fas fa-comments"></i></div>
                      <p>
                          A chat style eCourse Q&A allows clients to ask public questions at any point in your eCourse, which means a single reply can help multiple clients to progress - and save you time.
                      </p>
                  </div>
                  <div class=" col-4">
                      <div class=" text-success display-2 mb-3"><i class="fas fa-star"></i></div>
                      <p>
                          Clients are gently prompted to leave reviews, giving you valuable feedback and helping new clients to discover how much the eCourse has helped others.
                      </p>
                  </div>
                  <div class=" col-4">
                      <div class=" text-success display-2 mb-3"><i class="fas fa-bullhorn"></i></div>
                      <p>
                          Message all of your clients in one go with course wide announcements to keep your clients engaged, notify them of updates and promote your other services.
                      </p>
                  </div>
              </div>
    
              </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Section 7 -->
  <section id="section-seven" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              Get <span class="text-info"> Paid </span>
            </h2>

            <h4>
                Get paid through our Shared Payment Model every time you sell an eCourse, 
                with automated monthly payouts direct to your nominated bank account.
            </h4>

            <div class=" row mt-5">
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-percent"></i></div>
                    <h5 class=" font-weight-bold"> Shared Payments </h5>
                    <p>
                        Earn <strong>90%</strong> on all eCourses that you sell via your referral link and <strong>50%</strong> on all organic sales coming through the platform. 
                        <br>
                        <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001135033-how-does-the-shared-payment-model-work-" target="_blank">
                          Read more.
                        </a>
                    </p>
                </div>
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-credit-card"></i></div>
                    <h5 class=" font-weight-bold"> No Fixed Fees </h5>
                    <p> 
                        Create as many eCourses as you like, completely risk free. With no listing or fixed monthly/annual fees, 
                        you only pay commission on the sales you make.
                    </p>
                </div>
                <div class=" col-4">
                    <div class=" text-info display-2 mb-3"><i class="fas fa-check"></i></div>
                    <h5 class=" font-weight-bold"> Hassle Free Refunds </h5>
                    <p>
                        Refunds happen, but our Quality Team handles all refund requests so you don't have to. 
                        This ensures fairness across the platform and simplifies your earnings.
                        <br>
                        <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001123378-refunds" target="_blank">
                          Read more.
                        </a>
                    </p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 8 -->
  <section id="self-study" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class=" row justify-content-center text-center">
          <div class=" col-md-10">
            <h2 class="display-3 text-center mb-3">
              eCourse <span class="text-danger"> FAQ </span>
            </h2>

            <div class=" row text-left mt-5">
              <div class=" col-md-6 mb-3">
                <strong>
                  Do I have to pay to create an eCourse?
                </strong>
                <p>
                  No. You only pay a platform commission when you make a sale. There are no upfront or monthly fees, making it risk free to get started.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  What subject(s) can I publish eCourses on?
                </strong>
                <p>
                  You can create eCourses on any subject that you feel empowered to teach, as long as it's related to Personal Development / Personal Transformation, and helps other people to achieve success in this area.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Are all eCourses reviewed before being published?
                </strong>
                <p>
                  Yes. Every new eCourse is reviewed by our Quality Team to ensure it meets our guidelines before being published on the platform.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Can I update my eCourse after it is published?
                </strong>
                <p>
                  Yes. You can update your course content, landing page info and pricing at any time.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Do students pay monthly to access my eCourse, or one-off?
                </strong>
                <p>
                  If you make your eCourse paid, students pay once to enrol. You set the price in your own currency
                  and we handle presentment in local currency in all supported territories.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Do you run sales and special offers?
                </strong>
                <p>
                  Yes but these are optional. You can opt-in to include your eCourses in our platform wide promotions. Opting
                  in will allow our algorithms to occasionally reduce prices in an effort to deliver increased volume.
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  How much can I earn & how do I get paid?
                </strong>
                <p>
                  Thanks to the massive demand for online & self study learning and the almost limitless scale of publishing globally 
                  through the Lifecoach platform, the opportunity is significant. You'll receive your payouts monthly, 
                  direct to your bank account. Read more about how payouts work 
                  <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001123913-how-payouts-work" target="_blank">
                    here.
                  </a>
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  What % do I earn from my eCourse sales?
                </strong>
                <p>
                  If you sell an eCourse by promoting it with your unique link, you earn 90%.
                  If you make a sale organically (i.e. from our promotions), you keep 50%. An exception to
                  this rule is our 'Extended Promotions Program' which you can read about 
                  <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001140464-promotions-policy" target="_blank">
                    here.
                  </a>
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Do I still own my IP if I publish an eCourse on Lifecoach?
                </strong>
                <p>
                  Yes. You retain full ownership of your intellectual property. You can find our full terms 
                  <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001140441-course-creator-terms-of-use" target="_blank">
                    here.
                  </a>
                </p>
              </div>
              <div class=" col-md-6 mb-3">
                <strong>
                  Why make an eCourse?
                </strong>
                <p>
                  eCourses are a great way to offer a little bit of yourself and your specialist knowledge to a very large number
                  of students at a lower cost and in a way that allows students to learn on their own schedule. This lowers the 
                  barrier to entry for many clients and provides an excellent opportunity to build rapport with your clients before leading them into
                  1-to-1 coaching.
                </p>
              </div>

            </div>
            <!-- End of row -->
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Section 9 -->
  <section id="section-nine" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                <h2 class="display-3"> Ready To Go? </h2>

                <h4>
                  Create your eCourse today. We'll help you every step of the way!
                </h4>

                <p><a class="btn btn-primary btn-lg btn-round" [routerLink]="['/my-courses']" role="button">
                  Get Started
                </a></p>
    
                </div>
            </div>
        </div>
    </div>
  </section>

</div>

<app-page-footer></app-page-footer>
