<div class=" content">
    <!-- Server -->
    <div *ngIf="!browser">

    </div>
    <!-- Browser -->
    <div *ngIf="browser" class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" card-category"> Account </h5>
                    <h3 class=" card-title"> Manage Your Account </h3>
                </div>
                <div class=" card-body">
                    <tabset #staticTabs class="nav-pills-primary" type="pills">

                        <!-- Account tab -->
                        <tab heading="Account Settings">
                            <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

                                <h6 class=" mt-4"> Update your account info </h6>

                                <div class=" row mt-3">
                                    <!-- First Name -->
                                    <div class=" col-md-6">
                                        <label> First Name </label>
                                        <div
                                        class=" input-group"
                                        [ngClass]="{
                                            'input-group-focus': focus === true,
                                            'has-danger':
                                            ((focusTouched || submitted) &&
                                                accountF.firstName.errors) ||
                                            (accountF.firstName.value != '' &&
                                                accountF.firstName.errors),
                                            'has-success': !accountF.firstName.errors
                                        }"
                                        >
                                        <div class=" input-group-prepend">
                                            <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"> </i>
                                            </div>
                                        </div>
                                        <input
                                            class=" form-control"
                                            name="firstname"
                                            placeholder="First Name..."
                                            type="text"
                                            formControlName="firstName"
                                            (focus)="focus = true; focusTouched = true"
                                            (blur)="focus = false"
                                        />
                                        <label
                                            class="error"
                                            *ngIf="
                                            ((focusTouched || submitted) &&
                                                accountF.firstName.errors) ||
                                            (accountF.firstName.value != '' &&
                                                accountF.firstName.errors)
                                            "
                                            >This field is required.</label
                                        >
                                        </div>
                                    </div>

                                    <!-- Last Name -->
                                    <div class=" col-md-6">
                                        <label> Last Name </label>
                                        <div
                                        class=" input-group"
                                        [ngClass]="{
                                            'input-group-focus': focus1 === true,
                                            'has-danger':
                                            ((focus1Touched || submitted) &&
                                                accountF.lastName.errors) ||
                                            (accountF.lastName.value != '' &&
                                                accountF.lastName.errors),
                                            'has-success': !accountF.lastName.errors
                                        }"
                                        >
                                        <div class=" input-group-prepend">
                                            <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"> </i>
                                            </div>
                                        </div>
                                        <input
                                            class=" form-control"
                                            name="lastname"
                                            placeholder="Last Name..."
                                            type="text"
                                            formControlName="lastName"
                                            (focus)="focus1 = true; focus1Touched = true"
                                            (blur)="focus1 = false"
                                        />
                                        <label
                                            class="error"
                                            *ngIf="
                                            ((focus1Touched || submitted) &&
                                                accountF.lastName.errors) ||
                                            (accountF.lastName.value != '' &&
                                                accountF.lastName.errors)
                                            "
                                            >This field is required.</label
                                        >
                                        </div>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class=" row">
                                    <div class=" col-md-6">
                                        <div class=" form-group">
                                            <label> Account Email </label>
                                            <input
                                                class=" form-control"
                                                name="accountemail"
                                                placeholder="Email..."
                                                required=""
                                                formControlName="accountEmail"
                                                type="email"
                                            />
                                        </div>
                                    </div>

                                    <!-- Account Type -->
                                    <div class=" col-md-6">
                                        <label> Account Type </label>
                                        <p>
                                            <span class=" badge badge-pill badge-success">
                                                {{ accountF.accountType.value + ' Account' }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </form>

                            <div class=" row mt-3">
                                <div class=" col-md-12">
                                    <h6 class=" mt-4"> Close your account </h6>
                                    <button
                                    class=" btn btn-fill btn-danger btn-round btn-sm"
                                    name="deletebutton"
                                    type="button"
                                    (click)="deleteAccount()">
                                        <span
                                        *ngIf="submitted"
                                        class="spinner-border spinner-border-sm"
                                        role="status"
                                        ></span> {{ submitted ? 'Processing...' : 'Request Closure' }}
                                    </button>
                                </div>
                            </div>
                            <div class=" row mt-3">
                                <div class=" col-md-12">
                                    <h6 class=" mt-4"> Log out of your Lifecoach account </h6>
                                    <button
                                    class=" btn btn-fill btn-default btn-round"
                                    name="logout-button"
                                    type="button"
                                    (click)="logout()">
                                        Log out
                                    </button>
                                </div>
                            </div>

                        </tab>

                        <!-- Billing tab for coach accounts -->
                        <tab *ngIf="accountF.accountType.value === 'coach'" heading="Billing">
                            <div class="">
                                <h6 class=" mt-4 pl-4">
                                    Billing
                                </h6>
                                <p class=" small text-muted pl-4 mb-2">
                                    <i class="fas fa-info-circle"></i> Click 'Manage Billing' to change, update, renew or cancel your Lifecoach plan, update your payment details 
                                     and view your payment history & invoices.
                                </p>
                                <div *ngIf="stripeCustomerId && billingSubscriptions?.length > 0" class=" table-responsive">
                                    <table class=" table">
                                        <thead class=" text-primary">
                                            <tr>
                                            <th> Plan </th>
                                            <th> Start </th>
                                            <th> Expires </th>
                                            <th> Status </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subscription of billingSubscriptions" class="">
                                                <td> {{ subscription.name }} </td>
                                                <td> {{ timestampToDate(subscription.current_period_start.seconds) }} </td>
                                                <td> {{ timestampToDate(subscription.current_period_end.seconds) }} </td>
                                                <td> {{ subscription.status.toUpperCase() }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="!stripeCustomerId">
                                    <p class=" mt-3">
                                        You have no active billing plan.
                                    </p>
                                </div>
                                <button class=" btn btn-primary btn-round pull-right" (click)="onManageBilling()">
                                    <span
                                    *ngIf="redirectingToPortal"
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    ></span>
                                    <span *ngIf="!redirectingToPortal">
                                        <i class="fab fa-stripe-s"></i> | 
                                    </span>
                                    {{ redirectingToPortal ? ' Loading...' : ' Manage Billing' }}
                                </button>
                            </div>
                        </tab>

                        <!-- Payments tab for coach accounts -->
                        <tab *ngIf="accountF.accountType.value === 'coach'" heading="Accept Payments">
                            <div class="">
                                <h6 class=" mt-4 pl-4">
                                    Accept Client Payments
                                </h6>

                                <!-- template if user is on flame or blaze plan -->
                                <div *ngIf="subscriptionPlan && (subscriptionPlan === 'flame' || subscriptionPlan === 'blaze') ; else noPayments">
                                    <p class=" small text-muted pl-4 mb-2">
                                        <i class="fas fa-info-circle"></i> To accept client payments for any of the products & services you add to Lifecoach, 
                                        you need a secure payments account. We partner with Stripe for simple, fast & secure client payment processing. 
                                        Read more about <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001174512-how-to-enable-payments-on-lifecoach" target="_blank">
                                            how to enable client payments on Lifecoach
                                        </a>.
                                    </p>

                                    <!-- User has a Stripe Standard Connect Account -->
                                    <div *ngIf="accountSnapshot?.stripeAccountId ; else enableStripe">
                                        <div class=" row mb-4">
                                            <div class=" col-md-8">
                                                <div 
                                                *ngIf="accountF.stripeUid.value && accountF.stripeRequirementsCurrentlyDue.value && accountF.stripeRequirementsCurrentlyDue.value.length > 0" 
                                                class=" pull-left pl-3">
                                                    <p>
                                                        <span class=" text-warning">
                                                            <i class=" tim-icons icon-alert-circle-exc"> </i> Needs action!
                                                        </span> - Payouts may be restricted until you complete all verification requirements for your country. 
                                                        Click 'Manage' and complete any outstanding actions to ensure you can receive payouts.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class=" col-md-4">
                                                <div *ngIf="accountF.stripeUid.value" class=" pull-right pr-3">
                                                    <button
                                                    class=" btn btn-fill btn-info btn-round btn-wd"
                                                    name="manage-stripe"
                                                    type="button"
                                                    (click)="manageStripe()">
                                                        <span
                                                        *ngIf="managingStripe"
                                                        class="spinner-border spinner-border-sm"
                                                        role="status"
                                                        ></span>
                                                        <span *ngIf="!managingStripe">
                                                            <i class="fab fa-stripe-s"></i> | 
                                                        </span>
                                                        {{ managingStripe ? ' Loading...' : ' Manage' }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- User does not have a (or has not connected an existing) Stripe Standard Connect Account -->
                                    <ng-template #enableStripe>
                                        <div>
                                            <div class=" row highlight-box">
                                                <div class=" col-md-8">
                                                    <p class="mt-4 pl-5">
                                                        We've made accepting client payments a breeze!
                                                        With a Stripe account you'll be able to take client payments directly from your 
                                                        Lifecoach product & service pages; meaning you can sell sessions, programs & 
                                                        eCourses seamlessly (and in multiple currencies) through a simple, secure client 
                                                        payment form, while keeping full control over your payments, 
                                                        refunds policy & payment account management.
                                                    </p>
                                                    <p class=" mt-4 pl-5">
                                                        Click 'Get Started' to create a 
                                                        Stripe account or connect an existing account if you have one...
                                                    </p>
                                                </div>
                                                <div class=" col-md-4">
                                                    <div style="font-size: 5rem; line-height: 0; text-align: center;">
                                                        <i class="fab fa-stripe"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" pull-right pr-3">
                                                <button
                                                class=" btn btn-fill btn-info btn-round"
                                                name="connect-stripe"
                                                type="button"
                                                (click)="connectStripe()">
                                                    <span
                                                    *ngIf="connectingStripe"
                                                    class="spinner-border spinner-border-sm"
                                                    role="status"
                                                    ></span>
                                                    <span *ngIf="!connectingStripe">
                                                        <i class="fab fa-stripe-s"></i> | 
                                                    </span>
                                                    {{ connectingStripe ? ' Preparing Account...' : ' Get Started' }}
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>

                                </div>

                                <!-- template if user is not on the flame or blaze plan -->
                                <ng-template #noPayments>
                                    <div>
                                        <p class=" small text-muted pl-4 mb-2">
                                            <i class="fas fa-info-circle"></i> Upgrade to the Flame or Blaze plan to sell your products & services directly through Lifecoach.
                                        </p>
                                        <div class=" row highlight-box">
                                            <div class=" col">
                                                <p class=" mt-4">
                                                    Available on the 
                                                <span class=" badge badge-warning">
                                                    Flame
                                                </span>
                                                and
                                                <span class=" badge badge-danger">
                                                    Blaze
                                                </span>
                                                plans. Click 
                                                    <a href="https://lifecoach.io/for-coaches#section-pricing" target="_blank">
                                                    here
                                                    </a> to view plans or visit '<a [routerLink]="['/account']">Account</a> > Billing' to upgrade your plan.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </div>
                        </tab>

                        <!-- Purchases & refunds tab for coaches and regular accounts -->
                        <tab *ngIf="(accountF.accountType.value === 'coach' || accountF.accountType.value === 'regular') && (successfulPayments?.length > 0 || successfulRefunds?.length > 0 || failedPayments?.length > 0 || refundRequests?.length > 0)" heading="Purchases & Refunds">
                            <!-- Purchases table -->
                            <h6 class=" mt-4"> Purchases </h6>
                            <p class=" small text-muted pl-4 mb-2">
                                <i class="fas fa-info-circle"></i> Any purchases that you make through the platform will appear here. 
                                If you are not 100% happy with a purchase, you can request a refund. Refund requests are handled by our 
                                Quality Team to promote fairness and improve processing times.
                            </p>
                            <div *ngIf="successfulPayments && successfulPayments.length" class=" table-responsive">
                                <table class=" table">
                                <thead class=" text-primary">
                                    <tr>
                                    <th> </th>
                                    <th> Item </th>
                                    <th> Type </th>
                                    <th> Price </th>
                                    <th> Date Purchased </th>
                                    <th> Payment Type </th>
                                    <th class=" text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of successfulPayments" class="">
                                        <td>
                                            <div class="img-container">
                                                <img [src]="payment.metadata.sale_item_image">
                                            </div>
                                        </td>
                                        <td> {{ payment.metadata.sale_item_title }} </td>
                                        <td>
                                            <span *ngIf="payment.metadata.sale_item_type === 'ecourse'"
                                            class=" badge badge-pill badge-primary">
                                                eCourse
                                            </span>
                                            <span *ngIf="payment.metadata.sale_item_type === 'fullProgram'"
                                            class=" badge badge-pill badge-success">
                                                Program
                                            </span>
                                        </td>
                                        <td *ngIf="currencies"> {{ currencies[(payment.currency).toUpperCase()].symbol + payment.amount / 100 }} </td>
                                        <td> {{ timestampToDate(payment.created) }} </td>
                                        <td> {{ payment.metadata.payment_type }} </td>
                                        <td class=" text-right">
                                            <!-- Receipt -->
                                            <button
                                            class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                            tooltip="View transaction receipt"
                                            type="button"
                                            (click)="loadReceipt(payment.id)"
                                            >
                                            <i class=" tim-icons icon-paper"> </i>
                                            </button>
                                            <!-- Refund -->
                                            <button
                                            class=" btn btn-danger btn-link btn-icon btn-sm btn-simple"
                                            tooltip="Request a refund"
                                            type="button"
                                            (click)="popRefund(payment)"
                                            [disabled]="refundsRequestedIds && refundsRequestedIds.includes(payment.id)"
                                            >
                                            <i class=" tim-icons icon-double-left"> </i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div *ngIf="!successfulPayments">
                                <p class=" mt-3">
                                    You have not purchased any items yet.
                                </p>
                            </div>

                            <!-- if refund requests -->
                            <div *ngIf="refundRequests && refundRequests.length" class=" mt-4">
                                <h6> Refund Requests </h6>
                                <div class=" table-responsive">
                                    <table class=" table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th> Item </th>
                                            <th> Price </th>
                                            <th> Date Purchased </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let refund of refundRequests" class="">
                                            <td> {{ refund.paymentIntent.metadata.sale_item_title }} </td>
                                            <td> {{ currencies[(refund.paymentIntent.currency).toUpperCase()].symbol + refund.paymentIntent.amount / 100 }} </td>
                                            <td> {{ timestampToDate(refund.paymentIntent.created) }} </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- if successful refunds -->
                            <div *ngIf="successfulRefunds && successfulRefunds.length" class=" mt-4">
                                <h6> Successful Refunds </h6>
                                <div class=" table-responsive">
                                    <table class=" table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th> Item </th>
                                            <th> Price </th>
                                            <th> Date Purchased </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let refund of successfulRefunds" class="">
                                            <td> {{ refund.paymentIntent.metadata.sale_item_title }} </td>
                                            <td> {{ currencies[(refund.paymentIntent.currency).toUpperCase()].symbol + refund.paymentIntent.amount / 100 }} </td>
                                            <td> {{ timestampToDate(refund.paymentIntent.created) }} </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </tab>

                        <!-- Settings of each session duration -->
                        <!-- <tab *ngIf="accountF.accountType.value === 'coach'" heading="Session settings">
                        <div class="">
                            <h6 class=" mt-4 pl-4">
                            SESSION SETTINGS
                            </h6>
                            <p class=" small text-muted pl-4 mb-2">
                                <i class="fas fa-info-circle"></i> Your Lifecoach calendar allows you to quickly and easily create coaching sessions 
                                with your clients and set yourself available to take bookings for discovery video sessions. Discovery sessions allow 
                                prospective clients to find out more about your products & services, and ensure they are suitable prior to enrolling. 
                                These default settings are used by your calendar, allowing you to customise settings such as how long you allow for 
                                each discovery session and whether you want to automatically schedule breaks between your sessions when creating 
                                multiple sessions on a given day.
                            </p>
                            <div class=" row pl-3 pr-3">
                            <div class=" col-md-12">
                                <form>

                                <div class=" form-group mt-3">
                                    <label> My default discovery session duration (15 to 120 min)</label>
                                    <p class=" small text-muted pl-1 mb-2">
                                        <i class="fas fa-info-circle"></i> How long are your (free) discovery sessions?
                                    </p>
                                    <input type="range"  min="15" max="120" step="5"
                                    [(ngModel)]="accountF.sessionDuration.value"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="onSessionDurationInput($event)"
                                    />
                                    <span class=" pl-2">
                                        {{this.accountF.sessionDuration.value || 30}} minutes
                                    </span>
                                </div>


                                <div class=" form-group mt-3">
                                    <label> My default discovery session break time (0 to 30 min) </label>
                                    <p class=" small text-muted pl-1 mb-2">
                                        <i class="fas fa-info-circle"></i> Do you want the calendar to automatically schedule breaks between 
                                        discovery sessions when creating multiple sessions? For example, if you set yourself available for 
                                        discovery sessions between 0900 and 1200 hrs with a session time of 30 min and a break time of 30 min, 
                                        the calendar will create 3 x 30 min discovery sessions (0900 - 0930, 1000 - 1030, 1100 - 1130).
                                    </p>
                                    <input
                                    type="range"
                                    value="0"
                                    [valueAsNumber]="this.breakBeforeNextSessionLength"
                                    id="range"
                                    min="0"
                                    max="30"
                                    step="5"
                                    [(ngModel)]="accountF.breakDuration.value"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="onBreakDurationInput($event)"
                                    />
                                    <span class=" pl-2">
                                        {{this.accountF.breakDuration.value || 0}} minutes
                                    </span>
                                </div>
                                </form>
                                <div class=" row mt-3">
                                <div class=" col-md-12">
                                    <div class=" pull-right">
                                    <button
                                        class=" btn btn-fill btn-primary btn-round btn-wd"
                                        name="save-session-settings"
                                        type="button"
                                        (click)="onSubmit()"
                                    > <span
                                        *ngIf="submitted"
                                        class="spinner-border spinner-border-sm"
                                        role="status"
                                    ></span> {{ submitted ? 'Saving...' : 'Save' }}
                                    </button>


                                    </div>
                                    <div class=" clearfix"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </tab> -->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
    <!-- Refund modal -->
    <div
    aria-hidden="true"
    aria-labelledby="refundModalLabel"
    bsModal
    class="modal fade"
    #refundModal="bs-modal"
    id="refundModal"
    role="dialog"
    tabindex="-1"
    >
    <div class="modal-dialog" style="transform: translate(0,0);">
        <div class="modal-content">
        <div class="modal-body">
            <div class="card card-login card-white">
                <div class=" card-header">
                <h1 class=" card-title"> Request Refund </h1>
                </div>
                <div class=" card-body">
                    <div *ngIf="refundPaymentIntent">
                        <p>
                            {{ refundPaymentIntent.metadata.sale_item_title }} <br>
                            {{ currencies[(refundPaymentIntent.currency).toUpperCase()].symbol + refundPaymentIntent.amount / 100 }} <br>
                            Purchase Date: {{ getDisplayDate(refundPaymentIntent.created) }}
                        </p>
                    </div>
                    <hr>
                    <p>
                        <strong>Not 100% happy with this item?</strong> Please let us know why you're not happy and request a refund.
                    </p>
                    <form [formGroup]="refundForm">
                        <div class="form-group">
                            <label for="refundReason"> Reason </label>
                            <textarea
                            class="form-control"
                            id="refundReason"
                            rows="3"
                            formControlName="reason"
                            [ngClass]="{
                                'has-danger':
                                ((focus7Touched || refunding) &&
                                    refundF.reason.errors) ||
                                (refundF.reason.value != '' &&
                                    refundF.reason.errors),
                                'has-success': !refundF.reason.errors
                            }">
                            </textarea>
                            <label
                            class="error custom-error-label"
                            *ngIf="
                            ((focus7Touched || refunding) &&
                            refundF.reason.errors) ||
                            (refundF.reason.value != '' &&
                            refundF.reason.errors)"
                            > Please tell us why you're not happy with this item. We need a detailed description to process
                            your request. Failure to give a reason will result in a delay.
                            </label>
                          </div>
                    </form>
                    <!-- Submit Button -->
                    <button
                    class=" btn btn-primary btn-lg btn-block btn-round mt-4 mb-3"
                    type="button"
                    (click)="requestRefund()"
                    >
                        <span
                        *ngIf="refunding"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        ></span> {{ refunding ? 'Processing...' : 'Request Refund' }}
                    </button>

                    <!-- Cancel Button -->
                    <button
                    class=" btn btn-success btn-lg btn-block btn-round mt-4 mb-3"
                    (click)="refundModal.hide()"
                    >
                        Cancel
                    </button>
                    <div class=" text-center">
                        <a href="https://lifecoach.freshdesk.com/a/solutions/articles/47001123378" target="_blank">
                            Refunds: Everything you need to know
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- End of refund modal -->
</div>
