<div class=" card">
    <div class=" card-body">
        <!-- Promote form -->
        <form *ngIf="promoteForm" [formGroup]="promoteForm">

            <h5>Promote Your Program
                <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001167917-help-with-promoting-your-coaching-program-through-lifecoach" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with promoting your program </span>
                </a>
            </h5>

            <p class=" small text-muted pl-2 mb-2">
                <i class="fas fa-info-circle"></i> Promote your program as widely as you can!
                Hit the share button to share your program landing page on social media or copy the link and 
                paste it into your website or any of your promotional posts or emails.
                Clients will be able to schedule discovery calls with you and enroll in this program by following your link. 
                You also pay a lower commission on all enrollments when you use this link.
                    Learn more about <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001167917-help-with-promoting-your-coaching-program-through-lifecoach" target="_blank">
                        promoting your program
                    </a> and the <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001167919-everything-you-need-to-know-about-the-shared-payment-model" target="_blank">
                        shared payment model
                    </a>.
            </p>

            <!-- Referral code -->
            <div class=" row">
                <div class=" col">
                    <div class=" mt-4">
                        <div class="form-group">
                            <label for="referral-code"> Use this link to promote your program:
                            </label>
                            <input #referralCode type="text" class="form-control" id="referral-code" formControlName="referralCode">
                        </div>
                    </div>
                    <!-- copy link button -->
                    <button
                    *ngIf="browser"
                    type="button"
                    class=" btn btn-default btn-round btn-fill"
                    (click)="copyReferralCode(referralCode)">
                        Copy Link
                    </button>
                    <app-social-media-share [id]="this.userId" [sharingType]="'program'" [sharingObject]="this.program"></app-social-media-share>

                </div>
            </div>

            <!-- Preview program landing page -->
            <div>
                <div>
                    <div *ngIf="program?.programId">
                        <a
                        [routerLink]="['/program', program.programId]"
                        target="_blank">
                            <button
                            type="button"
                            class="btn btn-default btn-round mt-3">
                                <i class="fas fa-eye"></i> Preview Link Landing Page
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </form>
        <!-- end promote form -->
    </div>
</div>

