<div class=" card">
    <div class=" card-body">
        <form *ngIf="landingForm" [formGroup]="landingForm" (submit)="onSubmit()">

            <h5>eCourse Landing Page
                <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001126534-your-course-landing-page" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with your eCourse landing page </span>
                </a>
            </h5>

            <!-- Course title -->
            <div class="">
                <label> eCourse Title </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> For best results, keep your title short and goal/outcome focussed.
                </p>
            </div>
            <div
            class="input-group no-symbol"
            [ngClass]="{
                'has-danger': (((focusTouched && landingF.title.value != '') || saveAttempt) && landingF.title.errors),
                'has-success': !landingF.title.errors
            }">
                <input
                type="text"
                class="form-control"
                formControlName="title"
                placeholder="eg. Master The Growth Mindset"
                (focus)="focus = true; focusTouched = true"
                (blur)="focus =false"
                (input)="onTitleInput($event)">
                <div class="input-group-append">
                <span class="input-group-text">
                    {{ titleActualLength + '/' + titleMaxLength }}
                </span>
                </div>
            </div>
            <div *ngIf="(((focusTouched && landingF.title.value != '') || saveAttempt) && landingF.title.errors)">
                <label
                *ngFor="let error of objKeys(landingF.title.errors)"
                class="error custom-error-label"
                >{{ showError('title', error) }}
                </label>
            </div>
            <!-- End of course title -->

            <!-- Course subtitle -->
            <div class=" mt-4">
                <label> eCourse Subtitle </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Expand on your title and entice prospective 
                    clients/students by telling them what they can achieve on this eCourse.
                </p>
            </div>
            <div
            class="input-group no-symbol"
            [ngClass]="{
                'has-danger': (((focus1Touched && landingF.subtitle.value != '') || saving) && landingF.subtitle.errors),
                'has-success': !landingF.subtitle.errors
            }">
                <input
                type="text"
                class="form-control"
                formControlName="subtitle"
                placeholder="eg. Discover the power of a growth mindset in your everyday life"
                (focus)="focus1 = true; focus1Touched = true"
                (blur)="focus1 = false"
                (input)="onSubTitleInput($event)">
                <div class="input-group-append">
                <span class="input-group-text">
                    {{ subTitleActualLength + '/' + subTitleMaxLength }}
                </span>
                </div>
            </div>
            <div *ngIf="(((focus1Touched && landingF.subtitle.value != '') || saving) && landingF.subtitle.errors)">
                <label
                *ngFor="let error of objKeys(landingF.subtitle.errors)"
                class="error custom-error-label"
                >{{ showError('subtitle', error) }}
                </label>
            </div>
            <!-- End course subtitle -->

            <!-- Course description -->
            <div class=" mt-4">
                <label> eCourse Description </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Describe what's unique about this eCourse, 
                    what clients/students can expect, and how this eCourse can help them to achieve their goals/desired outcomes.
                </p>
            </div>
            <editor
            *ngIf="viewLoaded"
            apiKey="swb6l7gw85zcl8aw2dh7551jt3t5ydravtthultgf8fo3w2l" 
            [init]="{
                height: 300,
                menubar: false,
                plugins: 'link lists paste',
                toolbar: 'undo redo | formatselect | paste | bold italic backcolor link| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat'
            }"
            formControlName="description"
            >
            </editor>
            <div *ngIf="((saveAttempt) && landingF.description.errors) ||
                (landingF.description.value != '' && landingF.description.errors)">
                <label
                *ngFor="let error of objKeys(landingF.description.errors)"
                class="error custom-error-label"
                >{{ showError('title', error) }}
                </label>
            </div>
            <!-- End course description -->

            <!-- Course language -->
            <div class=" mt-4">
                <label> Course Language </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Marketing is more effective when targeting a single primary language. 
                    If you coach/teach in more than one language, consider creating duplicate eCourses.
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="language">
                    <option [value]="null">Select a language</option>
                    <option *ngFor="let item of objKeys(languages)" [value]="item">
                        {{ languages[item].nativeName }}
                    </option>
                </select>
            </div>
            <div *ngIf="saveAttempt && landingF.language.errors || landingF.language.value != null && landingF.language.errors">
                <label
                *ngFor="let error of objKeys(landingF.language.errors)"
                class="error custom-error-label"
                >{{ showError('language', error) }}
                </label>
            </div>
            <!-- End course language -->

            <!-- Course category -->
            <div class=" mt-4">
                <label> eCourse Category </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Select the closest matching high level category for this eCourse.
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="category">
                    <option [value]="null">Select a category</option>
                    <option *ngFor="let item of specialities" [value]="item.itemName">
                        {{ item.itemName }}
                    </option>
                </select>
            </div>
            <div *ngIf="saveAttempt && landingF.category.errors || landingF.category.value != null && landingF.category.errors">
                <label
                *ngFor="let error of objKeys(landingF.category.errors)"
                class="error custom-error-label"
                >{{ showError('category', error) }}
                </label>
            </div>
            <!-- End course category -->

            <!-- Course level -->
            <div class=" mt-4">
                <label> eCourse Level </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Who is this eCourse suitable for? This helps you to 
                    attract the most suitable clients/students.
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="level">
                    <option [value]="null">Select a level</option>
                    <option value="beginner"> Beginner </option>
                    <option value="intermediate"> Intermediate </option>
                    <option value="advanced"> Advanced </option>
                    <option value="all"> Suitable for all </option>
                </select>
            </div>
            <div *ngIf="saveAttempt && landingF.level.errors || landingF.level.value != null && landingF.level.errors">
                <label
                *ngFor="let error of objKeys(landingF.level.errors)"
                class="error custom-error-label"
                >{{ showError('level', error) }}
                </label>
            </div>
            <!-- End course level -->

            <!-- Course subject -->
            <div class=" mt-4">
                <label> What is <strong>Primarily</strong> taught in your eCourse? </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> This helps you to attract the most suitable clients/students using search.
                </p>
            </div>
            <div
            class="input-group no-symbol"
            [ngClass]="{
                'has-danger': (((focus2Touched && landingF.subject.value != '') || saving) && landingF.subject.errors),
                'has-success': !landingF.subject.errors
            }">
                <input
                type="text"
                class="form-control"
                formControlName="subject"
                placeholder="eg. Six techniques to develop a growth mindset"
                (focus)="focus2 = true; focus2Touched = true"
                (blur)="focus2 = false"
                (input)="onSubjectInput($event)">
                <div class="input-group-append">
                <span class="input-group-text">
                    {{ subjectActualLength + '/' + subjectMaxLength }}
                </span>
                </div>
            </div>
            <div *ngIf="(((focus2Touched && landingF.subject.value != '') || saving) && landingF.subject.errors)">
                <label
                *ngFor="let error of objKeys(landingF.subject.errors)"
                class="error custom-error-label"
                >{{ showError('subject', error) }}
                </label>
            </div>
            <!-- End of course subject -->

            <!-- Course image -->
            <div class=" mt-4">
                <label> eCourse Cover Image </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Make your course stand out with a great cover image! 
                    Note: Images <strong>MUST</strong> be at least 750 x 422 pixels in size; .jpg, .jpeg, .gif, or .png file format and 
                    meet our
                    <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001126534-your-course-landing-page" target="_blank">
                        image guidelines
                    </a>
                    to be accepted. Failure to adhere to the guidelines will result in a delay when publishing your eCourse.
                </p>
            </div>
            <div class=" mt-3">
                <app-picture-upload
                [inputImg]="landingF.mainImage.value"
                (messageEvent)="onPictureUpload($event)">
                </app-picture-upload>
            </div>
            <!-- End course image -->

            <!-- Course promotional video -->
            <div class=" mt-4">
                <label> eCourse Promotional Video </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Optional: Upload a short (90sec max.) promotional video to promote your eCourse. Users 
                    who watch a well-made promo video are 5-10X more likely to enrol! Need a little help? Click  
                    <a href="" target="_blank">
                        here
                    </a> to learn how to make a great promo video. Video files must be at least 720p and less than 4.0GB
                </p>
            </div>

            <!-- Video upload options -->
            <tabset class="nav-pills-default" type="pills">

                <!-- Upload from computer tab -->
                <tab>
                    <ng-template tabHeading>
                        <i
                        class="fas fa-upload mr-2" 
                        style="display: inline-block; line-height: 30px; font-size: 20px;"> </i> Upload Video
                    </ng-template>

                    <!-- Video drop / upload -->
                    <app-course-promo-video-uploader
                    [uid]="userId"
                    [course]="course"
                    (promoVidUploadedEvent)="onPromoVideoUploadEvent($event)">
                    </app-course-promo-video-uploader>

                </tab>

                <!-- Add from library tab -->
                <tab>
                    <ng-template tabHeading>
                        <i
                        class="fas fa-file-video mr-2" 
                        style="display: inline-block; line-height: 30px; font-size: 20px;"> </i> Add From Library
                    </ng-template>

                    <!-- User library -->
                    <app-course-video-library
                    *ngIf="userId"
                    [userId]="userId"
                    [selectedItems]="videoSources"
                    (messageEvent)="onLibraryItemSelect($event)">
                    </app-course-video-library>
                    <!-- End of user library -->

                </tab>
            </tabset>
            <!-- Video player -->
            <div *ngIf="landingF.promoVideo.value && landingF.promoVideo.value.downloadURL" class=" mt-3">
                <vg-player>
                <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
                
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                
                <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                    <source *ngFor="let video of videoSources" [src]="video.src">
                </video>
                </vg-player>
            </div>
            <!-- End video player -->
            <!-- End course promotional video -->

            <!-- Course learning points -->
            <div class=" mt-5">
                <label> What will students learn in your eCourse? </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Optional. These learning points will be highlighted on your landing page & help 
                    to attract the right clients/students to enroll in your eCourse.
                </p>
            </div>
            <div formArrayName="learningPoints" *ngFor="let item of landingF.learningPoints.value.controls ; let i = index">
                <div
                class="input-group no-symbol"
                [ngClass]="{
                    'has-danger':
                    (( (landingF.learningPoints.value.controls[i].touched && landingF.learningPoints.value.controls[i].value != '') || saveAttempt) &&  
                    landingF.learningPoints.value.controls[i].errors),
                    'has-success': !landingF.learningPoints.value.controls[i].errors
                }">
                    <input
                    type="text"
                    class="form-control"
                    [formControl]="landingF.learningPoints.value.controls[i]"
                    placeholder="eg. Self-control">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {{ landingF.learningPoints.value.controls[i].value.length + '/' + learningPointsMaxLength }}
                    </span>
                    </div>
                </div>
                <div *ngIf="(( (landingF.learningPoints.value.controls[i].touched && landingF.learningPoints.value.controls[i].value != '') || saveAttempt) && 
                landingF.learningPoints.value.controls[i].errors)">
                    <label
                    *ngFor="let error of objKeys(landingF.learningPoints.value.controls[i].errors)"
                    class="error custom-error-label"
                    >{{ showError('learningPoints', error) }}
                    </label>
                </div>
            </div>
            <button
            type="button"
            class=" btn btn-primary btn-link"
            (click)="addLearningPoint()"
            [disabled]="landingF.learningPoints.value.controls.length >= learningPointsMax">
                <i class="fas fa-plus"></i> Add a Learning Point
            </button>
            <!-- End course learning points -->

            <!-- Course requirements -->
            <div class=" mt-4">
                <label> Are there any course requirements or prerequisites? </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Optional. If you require any specific conditions to be met 
                    before clients enroll in this eCourse, mention them here. Any requirements or prerequisites will 
                    be highlighted on your landing page & help 
                    to attract the right students to your eCourse.
                </p>
            </div>
            <div formArrayName="requirements" *ngFor="let item of landingF.requirements.value.controls ; let i = index">
                <div
                class="input-group no-symbol"
                [ngClass]="{
                    'has-danger':
                    (( (landingF.requirements.value.controls[i].touched && landingF.requirements.value.controls[i].value != '') || saveAttempt) &&  
                    landingF.requirements.value.controls[i].errors),
                    'has-success': !landingF.requirements.value.controls[i].errors
                }">
                    <input
                    type="text"
                    class="form-control"
                    [formControl]="landingF.requirements.value.controls[i]"
                    placeholder="eg. Completed the beginner course">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {{ landingF.requirements.value.controls[i].value.length + '/' + requirementsMaxLength }}
                    </span>
                    </div>
                </div>
                <div *ngIf="(( (landingF.requirements.value.controls[i].touched && landingF.requirements.value.controls[i].value != '') || saveAttempt) && 
                landingF.requirements.value.controls[i].errors)">
                    <label
                    *ngFor="let error of objKeys(landingF.requirements.value.controls[i].errors)"
                    class="error custom-error-label"
                    >{{ showError('requirements', error) }}
                    </label>
                </div>
            </div>
            <button
            type="button"
            class=" btn btn-primary btn-link"
            (click)="addRequirement()"
            [disabled]="landingF.requirements.value.controls.length >= requirementsMax">
                <i class="fas fa-plus"></i> Add a requirement
            </button>
            <!-- End course requirements -->

            <!-- Course target students -->
            <div class=" mt-4">
                <label> Who are your target students? </label>
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Optional. Adding target clients/students will help 
                    to attract the right people to your eCourse.
                </p>
            </div>
            <div formArrayName="targets" *ngFor="let item of landingF.targets.value.controls ; let i = index">
                <div
                class="input-group no-symbol"
                [ngClass]="{
                    'has-danger':
                    (( (landingF.targets.value.controls[i].touched && landingF.targets.value.controls[i].value != '') || saveAttempt) &&  
                    landingF.targets.value.controls[i].errors),
                    'has-success': !landingF.targets.value.controls[i].errors
                }">
                    <input
                    type="text"
                    class="form-control"
                    [formControl]="landingF.targets.value.controls[i]"
                    placeholder="eg. Female Entreprenuers">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {{ landingF.targets.value.controls[i].value.length + '/' + targetsMaxLength }}
                    </span>
                    </div>
                </div>
                <div *ngIf="(( (landingF.targets.value.controls[i].touched && landingF.targets.value.controls[i].value != '') || saveAttempt) && 
                landingF.targets.value.controls[i].errors)">
                    <label
                    *ngFor="let error of objKeys(landingF.targets.value.controls[i].errors)"
                    class="error custom-error-label"
                    >{{ showError('targets', error) }}
                    </label>
                </div>
            </div>
            <button
            type="button"
            class=" btn btn-primary btn-link"
            (click)="addTarget()"
            [disabled]="landingF.targets.value.controls.length >= targetsMax">
                <i class="fas fa-plus"></i> Add a target user
            </button>
            <!-- End course target students -->

            <hr>

            <div class=" row mt-4">
                <div class="col-md-6">
                    <p class=" small text-muted text-warning pl-2 mb-2">
                        <i class="fas fa-info-circle"></i> Don't forget to save your changes before you preview.
                    </p>
                    <!-- Preview landing page -->
                    <div *ngIf="course?.courseId">
                        <a
                        [routerLink]="['/course', course.courseId]"
                        target="_blank">
                            <button
                            type="button"
                            class="btn btn-default btn-round">
                                <i class="fas fa-eye"></i> Preview Landing Page
                            </button>
                        </a>
                    </div>
                    <!-- Preview eCourse in learning mode -->
                    <div *ngIf="course?.lectures?.length > 0" class=" mt-3">
                        <a
                        [routerLink]="['/course', course?.courseId, 'learn']"
                        [queryParams]="{previewAsStudent: true}"
                        target="_blank">
                            <button
                            type="button"
                            class="btn btn-default btn-round">
                            <i class="fas fa-eye"></i> Preview eCourse As Enrolled User
                            </button>
                        </a>
                    </div>
        
                    <!-- permanently disbaled button until at least one lecture saved -->
                    <div *ngIf="course?.lectures?.length === 0" class=" mt-3">
        
                        <p class="text-danger">
                            Add at least 1 lecture to preview your eCourse in the Lifecoach Learning Centre.
                        </p>
        
                        <a
                        href="javascript:void(0)">
                            <button
                            type="button"
                            class="btn btn-default btn-round"
                            [disabled]="true">
                            <i class="fas fa-eye"></i> Preview eCourse As Enrolled User
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form submit button -->
                    <div class=" pull-right">
                        <button type="submit" class=" btn btn-primary btn-round btn-fill mt-4">
                            <span *ngIf="!saving">
                                <i class="fas fa-save"></i>
                            </span>
                            <span
                            *ngIf="saving"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            ></span> {{ saving ? 'Saving...' : 'Save'}}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
