<app-auth-navbar></app-auth-navbar>

<div class="full-page programs-page">

    <div class=" content" id="page-content">
        <div class=" container">

            <!-- Search & Filters View -->
            <app-program-search-filter-ui
            [clientCurrency]="clientCurrency"
            (currencyEvent)="onManualCurrencyChange($event)"
            [categories]="categories">
            </app-program-search-filter-ui>

            <!-- Results View -->
            <app-program-results
            [results]="hits"
            [clientCurrency]="clientCurrency"
            [clientCountry]="clientCountry"
            [rates]="rates">
            </app-program-results>

            <!-- Navigator View -->
            <app-navigator
            [page]="page"
            [totalItems]="totalHits"
            [itemsPerPage]="hitsPerPage"
            [maxSize]="maxSize"
            (messageEvent)="receivePageUpdate($event)"
            ></app-navigator>

            <!-- Botlinks View -->
            <app-program-botlinks
            [filters]="filters"
            [categories]="categories"
            ></app-program-botlinks>

        </div>
    </div>
</div>