.wizard-container .card-wizard .nav-pills .nav-item {
    width: 25%;
}

.tags-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.goal-chip-list {
    width: 100%;
}

.professional-col {
    text-align: left;
}
