<!-- Loading spinner -->
<div *ngIf="!browser" class="text-center">
  <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- We're in the browser -->
<div *ngIf="browser" class=" col-md-10 mr-auto ml-auto">
  <div class=" wizard-container">
    <div class="card card-wizard active" id="wizardProfile">
      <!-- Preventing enter key submitting form as enter needed to add chips -->
      <form (keydown.enter)="$event.preventDefault()" [formGroup]="formWizard" (ngSubmit)="onSubmit()">
        <div class=" text-center">
          <h3 class=" card-title"> Build Your Profile </h3>
          <h5 class=" description">
            Showcase your skills & services on Lifecoach.
          </h5>

          <!-- Profile Wizard (Stepper) -->
          <mat-horizontal-stepper
          formArrayName="formArray"
          linear labelPosition="bottom"
          class=" card-body"
          (selectionChange)="onStepChange($event)"
          >

            <!-- Step 0 -->
            <mat-step formGroupName="0" [stepControl]="formArray.get([0])" label="About">
              <h4 class=" info-text mt-3">
                Let's start with some basic information 
                <i
                class="fas fa-info-circle btn-tooltip text-light"
                data-animation="true"
                data-container="body"
                placement="top"
                tooltip="This information will be made public. Use the name & email address that you would like clients to see.">
                </i>
              </h4>
              <div class=" row justify-content-center mt-5">
                <div class=" col-sm-5">
                  <!-- First Name -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus === true,
                      'has-danger':
                        ((focusTouched || wizard) &&
                          group0.firstName.errors) ||
                        (group0.firstName.value != '' &&
                        group0.firstName.errors),
                      'has-success': group0.firstName.value != '' && !group0.firstName.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="firstname"
                      placeholder="First Name..."
                      type="text"
                      formControlName="firstName"
                      (focus)="focus = true; focusTouched = true"
                      (blur)="focus = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focusTouched || wizard) &&
                          group0.firstName.errors) ||
                        (group0.firstName.value != '' &&
                          group0.firstName.errors)
                      "
                      >Please enter your first name.</label
                    >
                  </div>
                  <!-- Last Name -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus2 === true,
                      'has-danger':
                        ((focus2Touched || wizard) &&
                        group0.lastName.errors) ||
                        (group0.lastName.value != '' &&
                        group0.lastName.errors),
                      'has-success': group0.lastName.value != '' && !group0.lastName.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-caps-small"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="lastname"
                      formControlName="lastName"
                      placeholder="Last Name..."
                      type="text"
                      (focus)="focus2 = true; focus2Touched = true"
                      (blur)="focus2 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focus2Touched || wizard) &&
                        group0.lastName.errors) ||
                        (group0.lastName.value != '' &&
                        group0.lastName.errors)
                      "
                      >Please enter your last name.</label
                    >
                  </div>
                </div>
                <div class=" col-sm-5">
                  <!-- Email -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus1 === true,
                      'has-danger':
                        ((focus1Touched || wizard) &&
                        group0.email.errors) ||
                        (group0.email.value != '' &&
                        group0.email.errors),
                      'has-success': group0.email.value != '' && !group0.email.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="email"
                      placeholder="Email..."
                      required=""
                      formControlName="email"
                      type="email"
                      (focus)="focus1 = true; focus1Touched = true"
                      (blur)="focus1 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focus1Touched || wizard) &&
                        group0.email.errors) ||
                        (group0.email.value != '' &&
                        group0.email.errors)
                      "
                      >Please enter a valid email.</label
                    >
                  </div>
                  <!-- Phone -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus3 === true,
                      'has-danger':
                        ((focus3Touched || wizard) &&
                        group0.phone.errors) ||
                        (group0.phone.value != '' &&
                        group0.phone.errors),
                      'has-success': group0.phone.value != '' && !group0.phone.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-mobile"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="number"
                      placeholder="Phone (optional)"
                      formControlName="phone"
                      type="number"
                      (focus)="focus3 = true; focus3Touched = true"
                      (blur)="focus3 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focus3Touched || wizard) &&
                        group0.phone.errors) ||
                        (group0.phone.value != '' &&
                        group0.phone.errors)
                      "
                      >Provide a contact number.</label
                    >
                  </div>
                </div>
              </div>
              <div class=" mt-5">
                <button
                type="button"
                mat-button
                matStepperNext
                class=" btn btn-fill btn-round btn-primary"
                (click)="onNextClick()"
                [disabled]="group0.firstName.errors || group0.lastName.errors || group0.email.errors || group0.phone.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 1 -->
            <mat-step formGroupName="1" [stepControl]="formArray.get([1])" label="Photo">
              <h4 class=" info-text mt-3"> Add a profile photo.<span class="required-star">*</span> <br />
                Must be jpg, jpeg or png. Max size 5MB.
                <i
                class="fas fa-info-circle btn-tooltip text-light"
                data-animation="true"
                data-container="body"
                placement="top"
                tooltip="Promote yourself with a friendly profile photo! Format must be .jpg, .jpeg or .png and your image must be smaller than 5MB.">
                </i>
              </h4>
              <div class=" row justify-content-center">
                <div class=" col-lg-10 text-center">
                  <app-picture-upload [avatar]="true" (messageEvent)="receiveMessage($event)"></app-picture-upload>
                </div>
              </div>
              <div class=" mt-5">
                <button type="button" mat-button matStepperPrevious class=" btn btn-fill btn-round btn-default mr-3">Back</button>
                <button type="button" mat-button matStepperNext class=" btn btn-fill btn-round btn-primary ml-3" (click)="onNextClick()" [disabled]="group1.photo.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 2 -->
            <mat-step formGroupName="2" [stepControl]="formArray.get([2])" label="City">
              <div class=" row justify-content-center mt-3">
                <div class=" col-sm-12">
                  <h4 class=" info-text"> Share your location to connect with more clients. 
                    <i
                    class="fas fa-info-circle btn-tooltip text-light"
                    data-animation="true"
                    data-container="body"
                    placement="top"
                    tooltip="Adding your location can promote you above others to clients in your general area if you provide face to face coaching.">
                    </i>
                  </h4>
                </div>
                <!-- City -->
                <div class=" col-sm-5">
                  <div
                  class=" input-group"
                  [ngClass]="{
                    'input-group-focus': focus4 === true,
                    'has-danger':
                      ((focus4Touched || wizard) &&
                        group2.city.errors) ||
                      (group2.city.value != '' &&
                      group2.city.errors),
                    'has-success': group2.city.value != '' && !group2.city.errors
                  }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-square-pin"> </i>
                      </div>
                    </div>
                    <input
                    class=" form-control"
                    name="city"
                    placeholder="City..."
                    formControlName="city"
                    type="text"
                    required=""
                    (focus)="focus4 = true; focus4Touched = true"
                    (blur)="focus4 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focus4Touched || wizard) &&
                        group2.city.errors) ||
                        (group2.city.value != '' &&
                        group2.city.errors)
                      "
                      >City is required even if you work remotely.</label
                    >
                  </div>
                </div>
                <!-- Country -->
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                    class="form-control"
                    id="countrySelect"
                    formControlName="country"
                    (focus)="focus5 = true; focus5Touched = true"
                    (blur)="focus5 = false">
                      <option [ngValue]="null"> Country... </option>
                      <option *ngFor="let country of countryList" [value]="country.code">
                        {{ country.emoji + ' ' + country.name }}
                      </option>
                    </select>
                    <div
                      class="error custom-error-label text-left"
                      *ngIf="
                        ((focus5Touched || wizard) &&
                        group2.country.errors) ||
                        (group2.country.value != '' &&
                        group2.country.errors)
                      "
                      >Please select a country.
                    </div>
                  </div>
                </div>
              </div>
              <div class="" style="margin-top: 12rem;">
                <button type="button" mat-button matStepperPrevious class=" btn btn-fill btn-round btn-default mr-3">Back</button>
                <button type="button" mat-button matStepperNext class=" btn btn-fill btn-round btn-primary ml-3" (click)="onNextClick()" [disabled]="group2.city.errors || group2.country.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 3 -->
            <mat-step formGroupName="3" [stepControl]="formArray.get([3])" label="Pro">
              <!-- Speciality -->
              <div class=" row justify-content-center mt-3">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> My Field<span class="required-star">*</span>
                    <span class=" h5 text-light">
                      <i
                      class="fas fa-info-circle btn-tooltip"
                      data-animation="true"
                      data-container="body"
                      placement="top"
                      tooltip="If you don't fit into any of these fields, use the 'suggest new feature' button at the bottom of this page to request we add a new field.">
                      </i>
                    </span>
                  </h4>
                  <p class=" lead">
                    Which general field do you coach in?
                  </p>
                </div>
              </div>
              <div class=" row mt-3 justify-content-center">
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                    class="form-control"
                    id="specialitySelect"
                    formControlName="speciality1"
                    (focus)="focus6 = true; focus6Touched = true"
                    (blur)="focus6 = false">
                      <option [ngValue]="null"> Select... </option>
                      <option *ngFor="let item of specialityList" [value]="item.id">
                        {{ item.itemName }}
                      </option>
                    </select>
                    <div
                      class="error custom-error-label"
                      *ngIf="
                        ((focus6Touched || wizard) &&
                          group3.speciality1.errors) ||
                        (group3.speciality1.value != null &&
                          group3.speciality1.errors)
                      "
                      >Please select a coaching field.
                    </div>
                  </div>
                </div>
              </div>

              <div class=" row justify-content-center mt-4">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> My Specialist Area(s)<span class="required-star">*</span>
                    <span class=" h5 text-light">
                      <i
                      class="fas fa-info-circle btn-tooltip"
                      data-animation="true"
                      data-container="body"
                      placement="top"
                      tooltip="Help prospective clients to find you in search by entering up to 3 of your specialist coaching areas.">
                      </i>
                    </span>
                  </h4>
                  <p class=" lead">
                    Add up to 3 specialist coaching areas. eg. Mindfulness, meditation & focus.
                  </p>
                </div>
              </div>

              <div class=" row justify-content-center mt-3">
                <div class=" col-md-6 pr-md-1">

                  <div formArrayName="goalTags" *ngFor="let item of group3.goalTags.value.controls ; let i = index">
                    <div
                    class="input-group no-symbol"
                    [ngClass]="{
                        'has-danger':
                        ((group3.goalTags.value.controls[i].touched || saving) &&  
                        group3.goalTags.value.controls[i].errors) ||
                        (group3.goalTags.value.controls[i].value != '' && 
                        group3.goalTags.value.controls[i].errors),
                        'has-success': !group3.goalTags.value.controls[i].errors
                    }">
                        <input
                        type="text"
                        class="form-control"
                        [formControl]="group3.goalTags.value.controls[i]"
                        placeholder="eg. Mindfulness">
                        <div class="input-group-append">
                        <span class="input-group-text">
                            {{ group3.goalTags.value.controls[i].value.length + '/' + goalTagMaxLength }}
                        </span>
                        </div>
                      <div class=" d-inline">
                        <i
                            class="far fa-trash-alt text-danger ml-3 mt-3"
                            tooltip="Delete this specialist area"
                            (click)="removeGoalTag(i)">
                        </i>
                      </div>
                    </div>
                    <div *ngIf="((group3.goalTags.value.controls[i].touched || saving) && 
                        group3.goalTags.value.controls[i].errors) ||
                        (group3.goalTags.value.controls[i].value != '' && 
                        group3.goalTags.value.controls[i].errors)">
                        <label
                        *ngFor="let error of objKeys(group3.goalTags.value.controls[i].errors)"
                        class="error custom-error-label"
                        >{{ showError('learningPoints', error) }}
                        </label>
                    </div>
                  </div>
                  <button
                  type="button"
                  class=" btn btn-primary btn-link"
                  (click)="addGoalTag()"
                  [disabled]="group3.goalTags.value?.controls?.length >= goalTagsMax">
                      <i class="fas fa-plus"></i> Add a specialist area
                  </button>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->

              <!-- Qualifications -->
              <div class=" row justify-content-center mt-5">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> My Qualifications 
                    <span class=" h5 text-light">
                        <i
                        class="fas fa-info-circle btn-tooltip"
                        data-animation="true"
                        data-container="body"
                        placement="top"
                        tooltip="Add your qualifications & professional life coaching
                        certifications.">
                        </i>
                      </span>
                  </h4>
                  <p class=" lead">
                    Do you hold any professional qualifications?
                  </p>
                </div>
              </div>
              <div class=" row justify-content-center">
                <!-- Col 1 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBa" formControlName="qualBa" />
  
                      <span class=" form-check-sign"> </span> BA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBsc" formControlName="qualBsc" />
  
                      <span class=" form-check-sign"> </span> BSc
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBcomm" formControlName="qualBcomm" />
  
                      <span class=" form-check-sign"> </span> BComm
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMa" formControlName="qualMa" />
  
                      <span class=" form-check-sign"> </span> MA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMs" formControlName="qualMs" />
  
                      <span class=" form-check-sign"> </span> MS
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMba" formControlName="qualMba" />
  
                      <span class=" form-check-sign"> </span> MBA
                    </label>
                  </div>
                </div>
                <!-- Col 2 -->
                <div class=" col-sm-3 professional-col ">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMapp" formControlName="qualMapp" />
  
                      <span class=" form-check-sign"> </span> MAPP
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualPhd" formControlName="qualPhd" />
  
                      <span class=" form-check-sign"> </span> PhD
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcc" formControlName="qualAcc" />
  
                      <span class=" form-check-sign"> </span> ICF - ACC
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualPcc" formControlName="qualPcc" />
  
                      <span class=" form-check-sign"> </span> ICF - PCC
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMcc" formControlName="qualMcc" />
  
                      <span class=" form-check-sign"> </span> ICF - MCC
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEia" formControlName="qualEia" />
  
                      <span class=" form-check-sign"> </span> EMCC - EIA
                    </label>
                  </div>
                </div>
                <!-- Col 3 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEqa" formControlName="qualEqa" />
  
                      <span class=" form-check-sign"> </span> EMCC - EQA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEsia" formControlName="qualEsia" />
  
                      <span class=" form-check-sign"> </span> EMCC - ESIA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEsqa" formControlName="qualEsqa" />
  
                      <span class=" form-check-sign"> </span> EMCC - ESQA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualIsmcp" formControlName="qualIsmcp" />
  
                      <span class=" form-check-sign"> </span> EMCC - ISMCP
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualApecs" formControlName="qualApecs" />
  
                      <span class=" form-check-sign"> </span> APECS
                    </label>
                  </div>
                </div>
                <!-- col 4 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEcas" formControlName="qualEcas" />
  
                      <span class=" form-check-sign"> </span> AC - ECAS
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualCas" formControlName="qualCas" />
  
                      <span class=" form-check-sign"> </span> AC - CAS
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualCsa" formControlName="qualCsa" />
  
                      <span class=" form-check-sign"> </span> AC - CSA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualSa" formControlName="qualSa" />
  
                      <span class=" form-check-sign"> </span> AC - SA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualOther" formControlName="qualOther" />
  
                      <span class=" form-check-sign"> </span> Other
                    </label>
                  </div>
                </div>
              </div>

              <!-- Pro Summary -->
              <div class=" row justify-content-center mt-5">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> Professional Summary<span class="required-star">*</span>
                    <span class=" h5 text-light">
                      <i
                      class="fas fa-info-circle btn-tooltip"
                      data-animation="true"
                      data-container="body"
                      placement="top"
                      tooltip=" 
                      This is just a brief summary highlight to get your profile noticed. You can 
                      expand on this information after building your profile.">
                      </i>
                    </span>
                  </h4>
                  <p class=" lead">
                    Add a short summary to introduce yourself to prospective clients.
                  </p>
                </div>
              </div>
              <div class=" row justify-content-center">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <textarea
                    class=" form-control"
                    cols="80"
                    rows="5"
                    formControlName="proSummary"
                    (focus)="focus7 = true; focus7Touched = true"
                    (blur)="focus7 = false"
                    required=""
                    >
                      A little about me...
                    </textarea>
                    <!-- Character count -->
                    <div class=" pull-right" [ngClass]="{'text-success': group3.proSummary.value != '' && !group3.proSummary.errors}">
                      {{ (group3.proSummary.value).length }} / {{ maxSummaryLength }}
                    </div>
                    <!-- Error msg -->
                    <div style="display: inline-block;">
                      <label
                      class="error custom-error-label"
                      *ngIf="
                        ((focus7Touched || wizard) &&
                          group3.proSummary.errors) ||
                        (group3.proSummary.value != '' &&
                          group3.proSummary.errors)
                      "
                      >Please add a professional summary. Your summary must be between 90 - 210 characters long.
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" mt-5">
                <button
                type="button"
                mat-button matStepperPrevious
                class=" btn btn-fill btn-round btn-default mr-3"
                [disabled]="saving"
                >Back</button>

                <button 
                type="submit"
                mat-button
                class=" btn btn-fill btn-round btn-primary ml-3"
                [disabled]="group3.speciality1.errors || group3.proSummary.errors || group3.goalTags.errors"
                >
                  <span
                  *ngIf="saving"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  ></span> {{ saving ? 'Building Profile...' : 'Build My Profile!' }}
                </button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>

        </div>
      </form>
    </div>
  </div>
</div>
