<!-- Loading spinner -->
<!--<div *ngIf="!browser" class="text-center">-->
<!--  <div class="spinner-border" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--</div>-->

<!-- We're in the browser -->
<div *ngIf="browser" class=" col-md-10 mr-auto ml-auto">
  <div class=" wizard-container">
    <div class="card card-wizard active" id="wizardProfile">
      <!-- Preventing enter key submitting form as enter needed to add chips -->
      <form (keydown.enter)="$event.preventDefault()" [formGroup]="formWizard" (ngSubmit)="onSubmit()">
        <div class=" text-center">
          <h3 class=" card-title"> Let's Build Your Profile </h3>
          <p class=" small text-muted pl-2 mb-2">
            <i class="fas fa-info-circle"></i> Stand out from the crowd. Introduce yourself. Take bookings. Showcase your coaches products & services. 
            Everything starts with a great Lifecoach profile.
          </p>

          <!-- Profile Wizard (Stepper) -->
          <mat-horizontal-stepper
          formArrayName="formArray"
          linear labelPosition="bottom"
          class=" card-body"
          (selectionChange)="onStepChange($event)"
          >

            <!-- Step 0 -->
            <mat-step formGroupName="0" [stepControl]="formArray.get([0])" label="Basic Info">
              <p class=" info-text mt-3">
                Let's start with some basic information...
              </p>
              <div class=" row justify-content-center mt-5">
                <div class=" col-sm-5">
                  <!-- First Name -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus === true,
                      'has-danger': (((focusTouched && group0.firstName.value != '') || saveAttempt) && group0.firstName.errors),
                      'has-success': !group0.firstName.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="firstname"
                      placeholder="First Name"
                      type="text"
                      formControlName="firstName"
                      (focus)="focus = true; focusTouched = true"
                      (blur)="focus = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="(((focusTouched && group0.firstName.value != '') || saveAttempt) && group0.firstName.errors)"
                      >Please enter your first name.</label
                    >
                  </div>
                  <!-- Email -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus1 === true,
                      'has-danger': (((focus1Touched && group0.email.value != '') || saveAttempt) && group0.email.errors),
                      'has-success': !group0.email.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="email"
                      placeholder="Public Email"
                      required=""
                      formControlName="email"
                      type="email"
                      (focus)="focus1 = true; focus1Touched = true"
                      (blur)="focus1 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="(((focus1Touched && group0.email.value != '') || saveAttempt) && group0.email.errors)"
                      >Please enter a valid email.</label>
                  </div>
                </div>
                <div class=" col-sm-5">
                  <!-- Last Name -->
                  <div
                    class=" input-group"
                    [ngClass]="{
                      'input-group-focus': focus2 === true,
                      'has-danger': (((focus2Touched && group0.lastName.value != '') || saveAttempt) && group0.lastName.errors),
                      'has-success': !group0.lastName.errors
                    }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-caps-small"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="lastname"
                      formControlName="lastName"
                      placeholder="Last Name"
                      type="text"
                      (focus)="focus2 = true; focus2Touched = true"
                      (blur)="focus2 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="(((focus2Touched && group0.lastName.value != '') || saveAttempt) && group0.lastName.errors)"
                      >Please enter your last name.</label
                    >
                  </div>
                </div>
              </div>
              <div class=" mt-5">
                <button
                type="button"
                mat-button
                matStepperNext
                class=" btn btn-fill btn-round btn-primary"
                (click)="onNextClick()"
                [disabled]="group0.firstName.errors || group0.lastName.errors || group0.email.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 1 -->
            <mat-step formGroupName="1" [stepControl]="formArray.get([1])" label="Profile Pic">
              <h4 class=" info-text mt-3"> Add your best profile photo.</h4>
              <p class=" small text-muted pl-2 mb-4">
                <i class="fas fa-info-circle"></i> Note: Photos must be jpg, jpeg or png. Max size 5MB.
              </p>
              <div class=" row justify-content-center">
                <div class=" col-lg-10 text-center">
                  <app-picture-upload [avatar]="true" (messageEvent)="receiveMessage($event)"></app-picture-upload>
                </div>
              </div>
              <div class=" mt-5">
                <button type="button" mat-button matStepperPrevious class=" btn btn-fill btn-round btn-default mr-3">Back</button>
                <button type="button" mat-button matStepperNext class=" btn btn-fill btn-round btn-primary ml-3" (click)="onNextClick()" [disabled]="group1.photo.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 2 -->
            <mat-step formGroupName="2" [stepControl]="formArray.get([2])" label="Location">
              <div class=" row justify-content-center mt-3">
                <div class=" col-sm-10">
                  <h4 class=" info-text"> Set your location. </h4>
                  <p class=" small text-muted pl-2 mb-3">
                    <i class="fas fa-info-circle"></i> Setting a location allows us to make your profile more visible in search.
                  </p>
                </div>
                <!-- City -->
                <div class=" col-sm-5">
                  <div
                  class=" input-group"
                  [ngClass]="{
                    'input-group-focus': focus4 === true,
                    'has-danger': (((focus4Touched && group2.city.value != '') || saveAttempt) && group2.city.errors),
                    'has-success': !group2.city.errors
                  }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-square-pin"> </i>
                      </div>
                    </div>
                    <input
                    class=" form-control"
                    name="city"
                    placeholder="City"
                    formControlName="city"
                    type="text"
                    required=""
                    (focus)="focus4 = true; focus4Touched = true"
                    (blur)="focus4 = false"
                    />
                    <label
                      class="error custom-error-label text-left"
                      *ngIf="(((focus4Touched && group2.city.value != '') || saveAttempt) && group2.city.errors)"
                      >City is required even if you work remotely.</label>
                  </div>
                </div>
                <!-- Country -->
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                    class="form-control"
                    id="countrySelect"
                    formControlName="country"
                    (focus)="focus5 = true; focus5Touched = true"
                    (blur)="focus5 = false">
                      <option [ngValue]="null"> Country... </option>
                      <option *ngFor="let country of countryList" [value]="country.code">
                        {{ country.emoji + ' ' + country.name }}
                      </option>
                    </select>
                    <div
                      class="error custom-error-label text-left"
                      *ngIf="saveAttempt && group2.country.errors"
                      >Please select a country.
                    </div>
                  </div>
                </div>
              </div>
              <div class="" style="margin-top: 12rem;">
                <button type="button" mat-button matStepperPrevious class=" btn btn-fill btn-round btn-default mr-3">Back</button>
                <button type="button" mat-button matStepperNext class=" btn btn-fill btn-round btn-primary ml-3" (click)="onNextClick()" [disabled]="group2.city.errors || group2.country.errors">Next</button>
              </div>
            </mat-step>

            <!-- Step 3 -->
            <mat-step formGroupName="3" [stepControl]="formArray.get([3])" label="Professional">

              <!-- Pro Summary -->
              <div class=" row justify-content-center mt-5">
                <div class=" col-md-8 text-center">
                  <h4 class=" card-title"> Short Summary </h4>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Add a short summary to introduce yourself to prospective clients. 
                    Clients will see this immediately on your profile card when browsing 
                    and searching coaches. You will have the chance to expand on this info as soon as your basic profile is built.
                  </p>
                </div>
              </div>
              <div class=" row justify-content-center">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <textarea
                    class=" form-control"
                    cols="80"
                    rows="5"
                    formControlName="proSummary"
                    (focus)="focus7 = true; focus7Touched = true"
                    (blur)="focus7 = false"
                    required=""
                    >
                      A little about me...
                    </textarea>
                    <!-- Character count -->
                    <div class=" pull-right" [ngClass]="{'text-success': group3.proSummary.value != '' && !group3.proSummary.errors}">
                      {{ (group3.proSummary.value).length }} / {{ summaryMaxLength }}
                    </div>
                    <!-- Error msg -->
                    <div *ngIf="(((focus7Touched && group3.proSummary.value != '') || saveAttempt) && group3.proSummary.errors)">
                      <label
                      *ngFor="let error of objKeys(group3.proSummary.errors)"
                      class="error custom-error-label"
                      >{{ showError('proSummary', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Speciality -->
              <div class=" row justify-content-center mt-5">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> My Coaching Field </h4>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> What's your generic field of coaching? Select the closest matching field from the list.
                  </p>
                </div>
              </div>
              <div class=" row mt-3 justify-content-center">
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                    class="form-control"
                    id="specialitySelect"
                    formControlName="speciality1"
                    (focus)="focus6 = true; focus6Touched = true"
                    (blur)="focus6 = false">
                      <option [ngValue]="null"> Select... </option>
                      <option *ngFor="let item of specialityList" [value]="item.id">
                        {{ item.itemName }}
                      </option>
                    </select>
                    <div
                      class="error custom-error-label"
                      *ngIf="saveAttempt && group3.speciality1.errors"
                      >Please select a coaching field.
                    </div>
                  </div>
                </div>
              </div>

              <div class=" row justify-content-center mt-5">
                <div class=" col-md-8 text-center">
                  <h4 class=" card-title"> My Goal Focussed Outcomes </h4>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> What can you help clients to achieve? 
                    Enter up to 3 specific goal focussed outcomes. These help clients who may not yet know they need coaching, 
                    but have a specific issue or challenge in mind. eg. 'Boost your self-confidence', 'Overcome your fear of public speaking', 
                    'Unleash your speaking potential'.
                  </p>
                </div>
              </div>

              <div class=" row justify-content-center mt-3">
                <div class=" col-md-6 pr-md-1">

                  <div formArrayName="goalTags" *ngFor="let item of group3.goalTags.value.controls ; let i = index">
                    <div
                    class="input-group no-symbol"
                    [ngClass]="{
                        'has-danger':
                        (((group3.goalTags.value.controls[i].touched && group3.goalTags.value.controls[i].value != '') || saveAttempt) &&  
                        group3.goalTags.value.controls[i].errors),
                        'has-success': !group3.goalTags.value.controls[i].errors
                    }">
                        <input
                        type="text"
                        class="form-control"
                        [formControl]="group3.goalTags.value.controls[i]"
                        placeholder="eg. Boost your self-confidence">
                        <div class="input-group-append">
                        <span class="input-group-text">
                            {{ group3.goalTags.value.controls[i].value.length + '/' + goalTagMaxLength }}
                        </span>
                        </div>
                      <div class=" d-inline">
                        <i
                            class="far fa-trash-alt text-danger ml-3 mt-3"
                            tooltip="Delete this specialist area"
                            (click)="removeGoalTag(i)">
                        </i>
                      </div>
                    </div>
                    <div *ngIf="(((group3.goalTags.value.controls[i].touched && group3.goalTags.value.controls[i].value != '') || saveAttempt) &&  
                    group3.goalTags.value.controls[i].errors)">
                        <label
                        *ngFor="let error of objKeys(group3.goalTags.value.controls[i].errors)"
                        class="error custom-error-label"
                        >{{ showError('learningPoints', error) }}
                        </label>
                    </div>
                  </div>
                  <button
                  type="button"
                  class=" btn btn-primary btn-link"
                  (click)="addGoalTag()"
                  [disabled]="group3.goalTags.value?.controls?.length >= goalTagsMax">
                      <i class="fas fa-plus"></i> Add a goal focussed outcome
                  </button>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->

              <!-- Qualifications -->
              <div class=" row justify-content-center mt-5">
                <div class=" col-lg-10 text-center">
                  <h4 class=" card-title"> My Qualifications 
                    <span class=" h5 text-light">
                        <i
                        class="fas fa-info-circle btn-tooltip"
                        data-animation="true"
                        data-container="body"
                        placement="top"
                        tooltip="Add your qualifications & professional life coaching
                        certifications.">
                        </i>
                      </span>
                  </h4>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Do you have any professional qualifications or accreditations? Add them here.
                  </p>
                </div>
              </div>
              <div class=" row justify-content-center ml-5 mr-5">
                <!-- Col 1 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBa" formControlName="qualBa" />
  
                      <span class=" form-check-sign"> </span> BA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBsc" formControlName="qualBsc" />
  
                      <span class=" form-check-sign"> </span> BSc
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualBcomm" formControlName="qualBcomm" />
  
                      <span class=" form-check-sign"> </span> BComm
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMa" formControlName="qualMa" />
  
                      <span class=" form-check-sign"> </span> MA
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMs" formControlName="qualMs" />
  
                      <span class=" form-check-sign"> </span> MS
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMba" formControlName="qualMba" />
  
                      <span class=" form-check-sign"> </span> MBA
                    </label>
                  </div>
                </div>
                <!-- Col 2 -->
                <div class=" col-sm-3 professional-col ">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMapp" formControlName="qualMapp" />
  
                      <span class=" form-check-sign"> </span> MAPP
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualPhd" formControlName="qualPhd" />
  
                      <span class=" form-check-sign"> </span> PhD
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcc" formControlName="qualAcc" />
  
                      <span class=" form-check-sign"> </span> ICF - ACC
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualPcc" formControlName="qualPcc" />
  
                      <span class=" form-check-sign"> </span> ICF - PCC
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMcc" formControlName="qualMcc" />
  
                      <span class=" form-check-sign"> </span> ICF - MCC
                    </label>
                  </div>
                </div>
                <!-- Col 3 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccFoundation" formControlName="qualEmccFoundation" />
  
                      <span class=" form-check-sign"> </span> EMCC - Foundation
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccPractitioner" formControlName="qualEmccPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Practitioner
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccSeniorPractitioner" formControlName="qualEmccSeniorPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Senior Practitioner
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccMasterPractitioner" formControlName="qualEmccMasterPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Master Practitioner
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualApecs" formControlName="qualApecs" />
  
                      <span class=" form-check-sign"> </span> APECS
                    </label>
                  </div>
                </div>
                <!-- col 4 -->
                <div class=" col-sm-3 professional-col">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcFoundation" formControlName="qualAcFoundation" />
  
                      <span class=" form-check-sign"> </span> AC - Foundation
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcCoach" formControlName="qualAcCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcProfessionalCoach" formControlName="qualAcProfessionalCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Professional Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcMasterCoach" formControlName="qualAcMasterCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Master Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualOther" formControlName="qualOther" />
  
                      <span class=" form-check-sign"> </span> Other
                    </label>
                  </div>
                </div>
              </div>

              <div class=" mt-5">
                <button
                type="button"
                mat-button matStepperPrevious
                class=" btn btn-fill btn-round btn-default mr-3"
                [disabled]="saving"
                >Back</button>

                <button 
                type="submit"
                mat-button
                class=" btn btn-fill btn-round btn-primary ml-3"
                [disabled]="group3.speciality1.errors || group3.proSummary.errors || group3.goalTags.errors"
                >
                  <span
                  *ngIf="saving"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  ></span> {{ saving ? 'Building Profile...' : 'Build My Profile!' }}
                </button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>

        </div>
      </form>
    </div>
  </div>
</div>
