<div class=" content">
    <!-- Loading spinner if server -->
    <div *ngIf="!browser" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- If browser -->
    <div *ngIf="browser">

        <!-- Creating a new service -->
        <div *ngIf="isNewService">

            <h4> New Coaching Service </h4>

            <app-new-service [userId]="userId" [account]="account"></app-new-service>
        </div>

        <!-- Existing Service -->
        <div *ngIf="!isNewService">

            <!-- Title -->
            <h4>{{ service?.title }}
                <span
                *ngIf="reviewRequest?.status === 'submitted' && service?.reviewRequest?.status !== 'approved'"
                class=" badge badge-info ml-2">
                    SUBMITTED FOR REVIEW
                </span>
                <span
                *ngIf="service?.reviewRequest?.status === 'approved'"
                class=" badge badge-success ml-2">
                    SERVICE PUBLISHED
                </span>
                <span
                *ngIf="service?.reviewRequest?.status === 'rejected'"
                class=" badge badge-danger ml-2">
                    NEEDS ACTION
                </span>
                <span *ngIf="!service?.reviewRequest?.status" class=" badge badge-warning ml-2">
                    DRAFT SERVICE
                </span>
            </h4>

            <!-- Tabs -->
            <div class="card card-plain">
                <div class="card-header">
                  <tabset #staticTabs class="nav-tabs-primary">

                    <tab heading="1. Design Landing Page">
                      <app-service-landing-page [userId]="userId" [service]="service" (goNextEvent)="onGoNextEvent($event)"></app-service-landing-page>
                    </tab>

                    <tab heading="2. Set Pricing">
                        <app-service-outline [userId]="userId" [service]="service" (goNextEvent)="onGoNextEvent($event)"></app-service-outline>
                    </tab>

                    <tab heading="3. Submit For Review">
                        <ng-template *ngIf="service?.reviewRequest?.status === 'rejected'" tabHeading>
                            <i class="tim-icons icon-alert-circle-exc text-danger ml-2"> </i>
                        </ng-template>
                        <app-service-submit [userId]="userId" [service]="service"></app-service-submit>
                    </tab>

                    <tab heading="4. Promote Your Service" [disabled]="service?.reviewRequest?.status !== 'approved'">
                        <app-service-promote [userId]="userId" [service]="service"></app-service-promote>
                    </tab>

                    <tab>
                        <ng-template tabHeading>
                          <span class="">
                            <i class="fas fa-ellipsis-h" tooltip="More options"></i>
                          </span>
                        </ng-template>
                        <app-service-more [userId]="userId" [service]="service"></app-service-more>
                    </tab>

                  </tabset>
                </div>
              </div>
            <!-- End of tabs -->
        </div>

    </div>
    
</div>
