<div class=" content">
    <!-- Loading spinner -->
    <div *ngIf="!browser" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Browser -->
    <div *ngIf="browser">

        <!-- General user data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> General User Info </h5>
                        <h4 class=" card-title"> User </h4>
                    </div>
                    <div class=" card-body">
                        <form>
                            <div class=" row">
                                <!-- Lifecoach UID -->
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label for="user-uid"> Lifecoach UID
                                        </label>
                                        <input type="text" class="form-control" id="user-uid" [value]="targetUserUid">
                                    </div>
                                </div>
                                <!-- Account Email -->
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label for="account-email"> Account Email
                                        </label>
                                        <input type="email" class="form-control" id="account-email" [value]="account?.accountEmail">
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class=" col-md-6">
                                    <label> Account Type </label>
                                    <p> {{ accountType?.toUpperCase() }} 
                                        <button
                                        type="button"
                                        class="btn btn-default btn-sm ml-3"
                                        (click)="changeAccountTypeModal.show()"> Change </button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Financial Data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> User Financial Data </h5>
                        <h4 class=" card-title"> Financial </h4>
                    </div>
                    <div class=" card-body">
                        <form>
                            <div *ngIf="accountType === 'coach'" class=" row">
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label for="stripe-uid"> Stripe Account ID
                                        </label>
                                        <input type="text" class="form-control" id="stripe-uid"
                                        [value]="account.stripeUid ? account.stripeUid : 'Not enabled'">
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <button class=" btn btn-round btn-danger" (click)="adminDeleteStripeExpressAccount()">
                                        Delete Stripe Account
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- User profile data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> User Profile Info </h5>
                        <h4 class=" card-title"> Profile </h4>
                    </div>
                    <div class=" card-body">

                        <!-- view profile as public -->
                        <button
                        type="button"
                        class=" btn btn-default btn-round mr-3"
                        tooltip="View this user's public profile"
                        (click)="viewPublicUserProfile()"
                        >
                            View Public Profile
                        </button>

                        <!-- edit profile as user -->
                        <button
                        type="button"
                        class=" btn btn-warning btn-round"
                        tooltip="Edit this user's profile as them"
                        (click)="editUserProfile()"
                        >
                            Edit Profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of profile -->

        <!-- User service data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> User Service Info </h5>
                        <h4 class=" card-title"> Services </h4>
                    </div>
                    <div class=" card-body">
                        
                        <!-- User created services -->
                        <h5>
                            Created Services
                            <span *ngIf="services?.length" class=" ml-1">
                                ({{ services.length }})
                            </span>
                        </h5>
                        <div *ngIf="services?.length" class=" table-responsive">
                            <table class=" table">
                            <thead class=" text-primary">
                                <tr>
                                <th> Title </th>
                                <th> ID </th>
                                <th class=" text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of services">
                                <td> {{ service.title }} </td>
                                <td> {{ service.serviceId }} </td>
                                <td class=" text-right">
                                    <!-- edit service as user -->
                                    <button
                                    class=" btn btn-warning btn-link btn-icon btn-sm btn-simple"
                                    tooltip="Edit service as user"
                                    type="button"
                                    (click)="editUserService(service.serviceId)"
                                    >
                                    <i class=" tim-icons icon-single-02"> </i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                        <div *ngIf="!services?.length">
                            <p>
                                No services created
                            </p>
                        </div>

                        <!-- Create service as user -->
                        <button
                        type="button"
                        class=" btn btn-primary btn-round mt-3"
                        tooltip="Create a course as this user"
                        (click)="createUserService()"
                        >
                            Create Service
                        </button>

                        <!-- User purchased services -->
                        <div class=" mt-5">
                            <h5>
                                Purchased Services
                                <span *ngIf="purchasedServices?.length" class=" ml-1">
                                    ({{ purchasedServices.length }})
                                </span>
                            </h5>
                            <div *ngIf="purchasedServices?.length" class=" table-responsive">
                                <table class=" table">
                                <thead class=" text-primary">
                                    <tr>
                                    <th> Title </th>
                                    <th> ID </th>
                                    <th class=" text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let service of purchasedServices">
                                    <td> {{ service.title }} </td>
                                    <td> {{ service.serviceId }} </td>
                                    <td class=" text-right">
                                        <button
                                        class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                        tooltip="??"
                                        type="button"
                                        >
                                        <i class=" tim-icons icon-single-02"> </i>
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>

                            <div *ngIf="!purchasedServices?.length">
                                <p>
                                    No purchased services
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of services -->

        <!-- User program data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> User Program Info </h5>
                        <h4 class=" card-title"> Programs </h4>
                    </div>
                    <div class=" card-body">
                        
                        <!-- User created programs -->
                        <h5>
                            Created Programs
                            <span *ngIf="programs?.length" class=" ml-1">
                                ({{ programs.length }})
                            </span>
                        </h5>
                        <div *ngIf="programs?.length" class=" table-responsive">
                            <table class=" table">
                            <thead class=" text-primary">
                                <tr>
                                <th> Title </th>
                                <th> ID </th>
                                <th class=" text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let program of programs">
                                <td> {{ program.title }} </td>
                                <td> {{ program.programId }} </td>
                                <td class=" text-right">
                                    <!-- edit program as user -->
                                    <button
                                    class=" btn btn-warning btn-link btn-icon btn-sm btn-simple"
                                    tooltip="Edit program as user"
                                    type="button"
                                    (click)="editUserProgram(program.programId)"
                                    >
                                    <i class=" tim-icons icon-single-02"> </i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                        <div *ngIf="!programs?.length">
                            <p>
                                No programs created
                            </p>
                        </div>

                        <!-- Create program as user -->
                        <button
                        type="button"
                        class=" btn btn-primary btn-round mt-3"
                        tooltip="Create a course as this user"
                        (click)="createUserProgram()"
                        >
                            Create Program
                        </button>

                        <!-- User purchased programs -->
                        <div class=" mt-5">
                            <h5>
                                Purchased Programs
                                <span *ngIf="purchasedPrograms?.length" class=" ml-1">
                                    ({{ purchasedPrograms.length }})
                                </span>
                            </h5>
                            <div *ngIf="purchasedPrograms?.length" class=" table-responsive">
                                <table class=" table">
                                <thead class=" text-primary">
                                    <tr>
                                    <th> Title </th>
                                    <th> ID </th>
                                    <th class=" text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let program of purchasedPrograms">
                                    <td> {{ program.title }} </td>
                                    <td> {{ program.programId }} </td>
                                    <td class=" text-right">
                                        <button
                                        class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                        tooltip="??"
                                        type="button"
                                        >
                                        <i class=" tim-icons icon-single-02"> </i>
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>

                            <div *ngIf="!purchasedPrograms?.length">
                                <p>
                                    No purchased programs
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of programs -->

        <!-- User course(s) data -->
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> User eCourses Info </h5>
                        <h4 class=" card-title"> eCourses </h4>
                    </div>
                    <div class=" card-body">
                        
                        <!-- User created courses -->
                        <h5>
                            Created eCourses
                            <span *ngIf="courses?.length" class=" ml-1">
                                ({{ courses.length }})
                            </span>
                        </h5>
                        <div *ngIf="courses?.length" class=" table-responsive">
                            <table class=" table">
                            <thead class=" text-primary">
                                <tr>
                                <th> Title </th>
                                <th> ID </th>
                                <th class=" text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of courses">
                                <td> {{ course.title }} </td>
                                <td> {{ course.courseId }} </td>
                                <td class=" text-right">
                                    <!-- view course as student -->
                                    <button
                                    class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                    tooltip="View course as student"
                                    type="button"
                                    (click)="viewUserCourse(course.courseId)"
                                    >
                                    <i class=" tim-icons icon-single-02"> </i>
                                    </button>
                                    <!-- edit course as user -->
                                    <button
                                    class=" btn btn-warning btn-link btn-icon btn-sm btn-simple"
                                    tooltip="Edit course as user"
                                    type="button"
                                    (click)="editUserCourse(course.courseId)"
                                    >
                                    <i class=" tim-icons icon-single-02"> </i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                        <div *ngIf="!courses?.length">
                            <p>
                                No eCourses created
                            </p>
                        </div>

                        <!-- Create course as user -->
                        <button
                        type="button"
                        class=" btn btn-primary btn-round mt-3"
                        tooltip="Create a course as this user"
                        (click)="createUserCourse()"
                        >
                            Create eCourse
                        </button>

                        <!-- User purchased courses -->
                        <div class=" mt-5">
                            <h5>
                                Purchased eCourses
                                <span *ngIf="purchasedCourses?.length" class=" ml-1">
                                    ({{ purchasedCourses.length }})
                                </span>
                            </h5>
                            <div *ngIf="purchasedCourses?.length" class=" table-responsive">
                                <table class=" table">
                                <thead class=" text-primary">
                                    <tr>
                                    <th> Title </th>
                                    <th> ID </th>
                                    <th class=" text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of purchasedCourses">
                                    <td> {{ course.title }} </td>
                                    <td> {{ course.courseId }} </td>
                                    <td class=" text-right">
                                        <!--?? -->
                                        <button
                                        class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                        tooltip="??"
                                        type="button"
                                        >
                                        <i class=" tim-icons icon-single-02"> </i>
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>

                            <div *ngIf="!purchasedCourses?.length">
                                <p>
                                    No purchased eCourses
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of course data -->

    </div>
</div>

<!-- Change account type modal -->
<div
aria-hidden="true"
aria-labelledby="changeAccountTypeModalLabel"
bsModal
class="modal fade"
#changeAccountTypeModal="bs-modal"
id="changeAccountTypeModal"
role="dialog"
tabindex="-1"
>
<div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
        <div class="modal-body">
            <div class="card card-login card-white">
                <div class=" card-header">
                    <h1 class=" card-title"> Change Account Type </h1>
                </div>
                <div class=" card-body">
                    <p>
                        Change this user's account type. <span class=" text-danger">Use with caution!</span>
                    </p>

                    <!-- user type -->
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="newAccountType">
                        <option [ngValue]="null"> Select... </option>
                        <option value='coach'>
                            Coach
                        </option>
                        <option value='regular'>
                            Regular
                        </option>
                        <option value='partner'>
                            Promotional Partner
                        </option>
                        <option value='provider'>
                            Provider
                        </option>
                        <option value='admin'>
                            Admin
                        </option>
                        </select>
                    </div>

                    <button class=" btn btn-primary btn-block mt-3" (click)="saveUpdatedAccountType()">
                        Save
                    </button>
                    
                    <button class=" btn btn-default btn-block mt-3" (click)="changeAccountTypeModal.hide()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End of change account type modal -->
