#section-hero {
    margin-top: 60px;

    #pricing-jumbotron {
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.6)), url('../../../assets/img/become-a-life-coach-lifecoach.png') no-repeat bottom center / cover;

        .container {
            padding-top: 100px;
        }
    }
}

#section-benefits {
    img {
        max-width: 90%;
    }
}

.top-section-margin {
    margin-top: 100px;
}

.bottom-section-margin {
    margin-bottom: 100px;
}

.top-row-margin {
    margin-top: 50px;
}

.explainer-text {
    color: #263148;
}

.card-pricing .card-body .card-title {
    position: relative;
    font-size: 5em;
    font-weight: 900;
    color: white;
    text-transform: lowercase;
    margin-left: -4px;
    z-index: 1;
}