#section-hero {
    margin-top: 60px;

    #pricing-jumbotron {
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.6)), url('../../../assets/img/become-a-life-coach-lifecoach.png') no-repeat bottom center / cover;

        .container {
            padding-top: 190px;
        }
    }
}

.top-section-margin {
    margin-top: 100px;
}

.bottom-section-margin {
    margin-bottom: 100px;
}

.top-row-margin {
    margin-top: 50px;
}

// #section-four {
//     background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('../../../assets/img/lifecoach-coaching-online-courses.png') no-repeat bottom center / cover;
//     .container {
//         padding-top: 10vh;
//         padding-bottom: 10vh;
//     }
// }
