<app-auth-navbar></app-auth-navbar>

<div class="full-page pricing-page">

  <!-- hero section -->
  <section id="section-hero">
      <div class="jumbotron jumbotron-fluid" id="pricing-jumbotron">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-10">
              <h1 class="display-1"> Get The Leading Software For Professional Coaches </h1>

              <h3>
                Access a fast growing pool of clients in need of coaching.
              </h3>
  
              <p class=" mt-4">
                  <button id="for-coaches-hero" class="btn btn-primary btn-round" [routerLink]="['/for-coaches']" [fragment]="'section-pricing'" (click)="clickEvent('for-coaches-hero')" role="button">
                    View Plans
                  </button>
              </p>

              <div class=" text-light mt-5">
                <i class="fas fa-chevron-down display-3"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- end of hero section -->

    <!-- mission section -->
    <div id="section-mission" class=" top-section-margin">
      <div class=" row">
          <div id="mission-col" class=" col">
              <div class=" container text-center">
                  <h3 class=" display-2">
                      About Us
                  </h3>
                  <h4>
                    Traditional coaching directories don't give clients what they need to find the <strong>most relevant coaches</strong> 
                    and get a strong sense of whether a coach is right for them <strong>before making contact</strong>. Lifecoach is an 
                    all-in-one coaching platform; giving you a next-generation coaching directory, the software you need 
                    to run & grow your coaching business and access to a fast growing client pool.
                  </h4>
              </div>
          </div>
      </div>
    </div>
    <!-- end of mission section -->

  <!-- benefits section -->
  <div id="section-benefits" class=" top-section-margin">
    <div class=" row">
        <div id="benefits-col" class=" col">
            <div class=" container text-center">
                <h2 class=" display-4 mb-1">
                  Why Join Lifecoach?
                </h2>
                <h3 class=" display-2">
                  Discover The Benefits
                </h3>
                <div class=" row mt-5">
                  <div class=" col-4">
                      <img src="../../../assets/img/pricing/lifecoach-coach-profile.png" alt="Lifecoach better coach profile">
                      <h6 class=" mt-3">
                        A better coach profile
                      </h6>
                      <p class=" pl-3 pr-3">
                        Create a search engine optimised landing page that links seamlessly to your products & services. 
                        Upload a video intro and showcase your top resources. 
                        With an integrated messenger for taking client enquiries, it's the perfect place to send prospective clients 
                        to give them a better sense of who you are. Available on 
                        <a [routerLink]="['/for-coaches']" [fragment]="'section-pricing'">Spark</a> and above.
                      </p>
                  </div>
                  <div class=" col-4">
                    <img src="../../../assets/img/pricing/lifecoach-promote-coaching.png" alt="Lifecoach helps coaches to promote coaching">
                    <h6 class=" mt-3">
                      Active promotion
                    </h6>
                      <p class=" pl-3 pr-3">
                        Lifecoach automatically funnels revenue from your monthly subscription into highly relevant paid advertising, 
                        meaning joining Lifecoach is like having your own advertising manager. We'll send all warm leads through to your 
                        landing page where prospective clients can discover more about you and send enquiries. Available on 
                        <a [routerLink]="['/for-coaches']" [fragment]="'section-pricing'">Blaze</a>.
                      </p>
                  </div>
                  <div class=" col-4">
                    <img src="../../../assets/img/pricing/lifecoach-crm-for-coaches.png" alt="Lifecoach CRM for coaches">
                    <h6 class=" mt-3">
                      Simple CRM
                    </h6>
                      <p class=" pl-3 pr-3">
                        Get a lightweight Customer Relationship Manager built specifically for coaches. 
                        As prospective clients submit leads 
                        via your Lifecoach coach landing page, our CRM will help you keep track. Invite leads to your programs, share 
                        resources, schedule check-ins & coaching sessions and much more. And why not add your existing clients to manage 
                        all of your client history in one place. Available on 
                        <a [routerLink]="['/for-coaches']" [fragment]="'section-pricing'">Spark</a> and above.
                      </p>
                  </div>
                  <div class=" col-4">
                    <img src="../../../assets/img/pricing/lifecoach-sell-coaching-programs-courses-online.png" alt="Lifecoach helps coaches to sell coaching programs & courses online">
                    <h6 class=" mt-3">
                      Seamless payments
                    </h6>
                      <p class=" pl-3 pr-3">
                        Need a simple & secure payment system to accept client payments? No problem! Join the Flame plan to accept online 
                        payments directly through your Lifecoach pages. Our payment flow allows you to take payments in multiple 
                        currencies from clients all over the world while managing your own payment terms and refund policy. Available on 
                        <a [routerLink]="['/for-coaches']" [fragment]="'section-pricing'">Flame</a> and above.
                      </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end of benefits section -->

  <!-- how it works section -->
  <div id="section-how-it-works" class=" top-section-margin">
    <div class=" content">
        <div class=" container">
            <div class="row mb-5">
                <div class="col text-center">
                    <h2 class=" display-2 mb-1">
                        How Lifecoach Works
                    </h2>
                </div>
            </div>

            <!-- step 1 row -->
            <div class=" row mt-5 mb-5">
                <div class=" col-6">
                    <h4 class=" display-4 mb-1 pt-4">
                        1. Profile
                    </h4>
                    <h4 class=" display-3">
                        Start with a free profile
                    </h4>
                    <h4>
                        Here at Lifecoach, everything starts with a free coach profile. Add a friendly video intro, 
                        showcase your products & services & collect leads.
                    </h4>
                </div>
                <div class=" col-6 pl-4">
                    <img src="../../../assets/img/pricing/lifecoach-free-coach-profile-directory-coaches.png" alt="Add your free coach profile to Lifecoach directory of coaches">
                </div>
            </div>

            <!-- step 2 row -->
            <div class=" row mt-5 mb-5">
                <div class=" col-6 pr-4">
                    <img src="../../../assets/img/pricing/lifecoach-promote-coaching-services-programs-courses.png" alt="Promote your coaching services, programs & courses through Lifecoach">
                </div>
                <div class=" col-6">
                    <h3 class=" display-4 mb-1 pt-3">
                        2. Products & Services
                    </h3>
                    <h4 class=" display-3">
                        Add your products and services
                    </h4>
                    <h4>
                        Create coaching services, coaching programs and even eCourses. We'll guide you 
                        every step of the way through creation, publishing & promotion. 
                        We'll even promote your products & services actively through our global network of 
                        promotional partners to reach new clients you may not normally reach.
                    </h4>
                </div>
            </div>

            <!-- step 3 row -->
            <div class=" row mt-5 mb-5">
                <div class=" col-6">
                    <h3 class=" display-4 mb-1 pt-1">
                        3. Discovery
                    </h3>
                    <h4 class=" display-3">
                        Take bookings & convert leads
                    </h4>
                    <h4>
                        Prospective clients book discovery video sessions directly on your calendar or message you from 
                        your landing pages. See all your leads in one place, answer questions and ensure clients are right for you 
                        before inviting them to enrol. When they do enrol, we make payment a breeze.
                    </h4>
                </div>
                <div class=" col-6 pl-4">
                    <img src="../../../assets/img/pricing/lifecoach-convert-coaching-leads.png" alt="Convert your coaching leads through Lifecoach CRM for coaches">
                </div>
            </div>

            <!-- step 4 row -->
            <div class=" row mt-5 mb-5">
              <div class=" col-6 pr-4">
                <img src="../../../assets/img/pricing/lifecoach-helps-coaches-coach-clients-without-borders.png" alt="Lifecoach helps coaches to coach without borders">
                </div>
                <div class=" col-6">
                    <h3 class=" display-4 mb-1 pt-1">
                        4. Coach
                    </h3>
                    <h4 class=" display-3">
                        Coach online without borders
                    </h4>
                    <h4>
                        Coach clients online through the Lifecoach video platform. Schedule sessions, send payment requests, 
                        share resources and take notes. Keep track of every interaction between client sessions with our 
                        lightweight CRM.
                    </h4>
                </div>
            </div>

            <div class=" row mt-5">
              <div class=" col">
                <div class=" text-center">
                  <button class="btn btn-round btn-primary" [routerLink]="['/register', 'coach']" (click)="onGetStarted()">
                      Create My Profile
                  </button>
              </div>
              </div>
            </div>

        </div>
    </div>
  </div>
  <!-- end of how it works section -->

  <!-- promotion section -->
  <div id="section-promotion" class=" top-section-margin">
    <div class=" row">
        <div id="promotion-col" class=" col">
            <div class=" container text-center">
                <h2 class=" display-4 mb-1">
                  Active Promotion
                </h2>
                <h3 class=" display-2">
                  Leverage Our Global Partner Network
                </h3>
                <h4>
                  We actively select & promote relevant coaches, services & eCourses to target audiences 
                  all over the world through our global network of promotional partners. Our mission is 
                  to reach the people who need your services the most, so you can spend less time 
                  marketing and more time transforming people's lives for the better. 
                  Included as standard when you join our community.
                </h4>
            </div>
        </div>
    </div>
  </div>
  <!-- end of promotion section -->

  <!-- features section -->
  <div id="section-features" class=" top-section-margin">
    <div class=" row">
        <div id="features-col" class=" col">
            <div class=" container text-center">
                <h3 class=" display-2">
                    Summary of Features
                </h3>
                <div class=" row mt-5">
                  <div class=" col-3">
                      <div class=" text-success display-2 mb-3"><i class="fas fa-user-circle"></i></div>
                      <h6>
                        Better Profile
                      </h6>
                      <p class=" pl-3 pr-3 mb-4">
                        The perfect place to send prospective clients. SEO optimised. Video intro. Lead capture. Showcase all of your coaching products and services in one place.
                      </p>
                      <div class=" badge badge-success mb-5"> Spark </div>
                      <div class=" badge badge-warning mb-5 ml-2"> Flame </div>
                      <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                      <div class=" text-success display-2 mb-3"><i class="fa fa-bullseye"></i></div>
                      <h6>
                        Client Lead Pool
                      </h6>
                      <p class=" pl-3 pr-3 mb-4">
                        Get access to the client lead pool and receive notifications when new leads are posted by clients matching your coach profile.
                      </p>
                      <div class=" badge badge-success mb-5"> Spark </div>
                      <div class=" badge badge-warning mb-5 ml-2"> Flame </div>
                      <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fas fa-users"></i></div>
                    <h6>
                      Coach CRM
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Get a lightweight and user friendly CRM, built specifically for coaches. Track every lead, client, key action & history in one convenient place.
                    </p>
                    <div class=" badge badge-success mb-5"> Spark </div>
                    <div class=" badge badge-warning mb-5 ml-2"> Flame </div>
                      <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fas fa-arrow-circle-down"></i></div>
                    <h6>
                      Coach Blog
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Write blog posts on your subject of expertise & publish them on Lifecoach. Feature your best posts on your profile & get featured in our newsletter.
                    </p>
                    <div class=" badge badge-success mb-5"> Spark </div>
                    <div class=" badge badge-warning mb-5 ml-2"> Flame </div>
                      <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fab fa-linkedin"></i></div>
                    <h6>
                      1-Click Sharing
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Promote your profile, blog posts, programs, services and eCourses via social media with just a single click.
                    </p>
                    <div class=" badge badge-success mb-5"> Spark </div>
                    <div class=" badge badge-warning mb-5 ml-2"> Flame </div>
                      <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fab fa-stripe"></i></div>
                    <h6>
                      Accept Payments
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Seamlessly accept client payments for your products & services, directly from your landing pages.
                    </p>
                    <div class=" badge badge-warning mb-5"> Flame </div>
                    <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fa fa-laptop"></i></div>
                    <h6>
                      Create eCourses
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Turn your coaching material into fully hosted eCourses that clients can purchase & complete online. Unlike other platforms, we don't charge commission.
                    </p>
                    <div class=" badge badge-warning mb-5"> Flame </div>
                    <div class=" badge badge-danger mb-5 ml-2"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fas fa-bullhorn"></i></div>
                    <h6>
                      Active Advertising
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Acting as your automated ad manager, Lifecoach funnels your monthly subscription into personalised, paid advertising to reach new clients.
                    </p>
                    <div class=" badge badge-danger mb-5"> Blaze </div>
                  </div>
                  <div class=" col-3">
                    <div class=" text-success display-2 mb-3"><i class="fa fa-bullseye"></i></div>
                    <h6>
                      Business Lead Pool
                    </h6>
                    <p class=" pl-3 pr-3 mb-4">
                      Get access to the corporate client lead pool and receive notifications when new leads are posted by corporate clients matching your coach profile.
                    </p>
                    <div class=" badge badge-danger mb-5"> Blaze </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end of features section -->

  <!-- pricing section -->
  <div id="section-pricing" class=" top-section-margin">
    <div class=" container">
      <div class=" row">
        <div class=" col-md-8 ml-auto mr-auto text-center">
          <h1 class=" title">Pick the best plan for you</h1>
          <h4 class=" description">
            Join over 1000 professional coaches on a plan that suits your needs. Change your plan at any time.
          </h4>
        </div>
      </div>
      <div class=" row">
        <div class=" col-lg-1"></div>
        <div class=" col-lg-10">
          <div class=" row">
            <!-- <div class=" col-lg-3 col-md-6">
              <div class=" card card-pricing card-primary">
                <div class=" card-body">
                  <h1 class=" card-title">trial</h1>
                  <img
                    alt="Image"
                    class=" card-img"
                    src="assets/img/card-primary.png"
                  />
      
                  <ul class=" list-group">
                    <li class=" list-group-item">300 messages</li>
                    <li class=" list-group-item">150 emails</li>
                    <li class=" list-group-item">24/7 Support</li>
                  </ul>
                  <div class=" card-prices">
                    <h3 class=" text-on-front"><span> $ </span> 95</h3>
                    <h5 class=" text-on-back">95</h5>
                    <p class=" plan">Trial plan</p>
                  </div>
                </div>
                <div class=" card-footer text-center mb-3 mt-3">
                  <button class=" btn btn-round btn-just-icon btn-primary">
                    Get started
                  </button>
                </div>
              </div>
            </div> -->
    
            <div class=" col-lg-4 col-md-6">
              <div class=" card card-pricing card-success card-white">
                <div class=" card-body">
                  <h1 class=" card-title">spark</h1>
                  <img
                    alt="Image"
                    class=" card-img"
                    src="assets/img/card-success.png"
                  />
      
                  <ul class=" list-group">
                    <li class=" list-group-item">Profile Page</li>
                    <li class=" list-group-item">Client Lead Pool</li>
                    <li class=" list-group-item">Coach CRM</li>
                  </ul>
                  <div class=" card-prices">
                    <h3 class=" text-on-front"><span> £ </span> 19</h3>
                    <h5 class=" text-on-back">19</h5>
                    <p class=" plan">Spark plan</p>
                  </div>
                </div>
                <div class=" card-footer text-center mb-3 mt-3">
                  <button class=" btn btn-round btn-just-icon btn-success">
                    Get started
                  </button>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-md-6">
              <div class=" card card-pricing card-warning card-white card-raised">
                <div class=" card-body">
                  <h1 class=" card-title">flame</h1>
                  <img
                    alt="Image"
                    class=" card-img"
                    src="assets/img/card-warning.png"
                  />
      
                  <ul class=" list-group">
                    <li class=" list-group-item">Spark +</li>
                    <li class=" list-group-item">Take Payments</li>
                    <li class=" list-group-item">Create eCourses</li>
                  </ul>
                  <div class=" card-prices">
                    <h3 class=" text-on-front"><span> £ </span> 42</h3>
                    <h5 class=" text-on-back">42</h5>
                    <p class=" plan">Flame plan</p>
                  </div>
                </div>
                <div class=" card-footer text-center mb-3 mt-3">
                  <button class=" btn btn-round btn-just-icon btn-warning">
                    Get started
                  </button>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-md-6">
              <div class=" card card-pricing card-danger card-white">
                <div class=" card-body">
                  <h1 class=" card-title">Blaze</h1>
                  <img
                    alt="Image"
                    class=" card-img"
                    src="assets/img/card-danger.png"
                  />
      
                  <ul class=" list-group">
                    <li class=" list-group-item">Flame +</li>
                    <li class=" list-group-item">Active Advertising</li>
                    <li class=" list-group-item">Business Lead Pool</li>
                  </ul>
                  <div class=" card-prices">
                    <h3 class=" text-on-front"><span> £ </span> 99</h3>
                    <h5 class=" text-on-back">99</h5>
                    <p class=" plan">Blaze plan</p>
                  </div>
                </div>
                <div class=" card-footer text-center mb-3 mt-3">
                  <button class=" btn btn-round btn-just-icon btn-danger">
                    Get started
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-1"></div>
      </div>
      <!-- end payment options row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end of pricing section -->

  <!-- get started section -->
  <div id="section-get-started" class="top-section-margin bottom-section-margin">
    <div class=" content">
        <div class=" container">
            <div class="row">
                <div class="col text-center">
                    <h2 class=" display-2 mb-1">
                        Still Got Questions?
                    </h2>
                    <h4 class="">
                      Ask us anything prior to getting started.
                    </h4>
                    <div class=" text-center">
                      <a href="https://lifecoach.freshdesk.com/support/home" target="_blank" (click)="clickEvent('coach-get-support')">

                      </a>
                        <button id="coach-get-support" class="btn btn-round btn-primary">
                          Get Support
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end of get started section -->

</div>

<app-page-footer></app-page-footer>
