<app-auth-navbar></app-auth-navbar>

<div class="full-page pricing-page">

  <!-- Hero -->
  <section id="section-hero">
      <div class="jumbotron jumbotron-fluid custom-jumbotron" id="pricing-jumbotron">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-10">
              <h1 class="display-1"> Join The World's Fastest Growing Online Coaching Community </h1>

              <h3>
                Promote your coaching programs. Publish eCourses. Take bookings. Coach online. Get paid.
              </h3>

              <h4>
                Join FREE. No monthly fees. No hidden charges.
              </h4>
  
              <p class="lead">
                  <a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'coach']" role="button">
                    Get Started
                  </a>
              </p>
              </div>
          </div>
          </div>
      </div>
  </section>

  <!-- Section 1 -->
  <section id="section-one" class=" padded-section">
      <div class=" content">
          <div class=" container">
              <div class="row justify-content-center text-center">
                  <div class="col-md-6 pt-4 pr-5">
                    <h2 class="display-3">
                      Your <span class="text-info">Global</span> Coaching Platform
                    </h2>

                    <h4>
                      We don't believe amazing Coaches should be limited by geography. <br><br>
                      Lifecoach is an all-in one global coaching platform. 
                      <a [routerLink]="['/register', 'coach']">Join free today</a> to expand your reach and connect 
                      with new clients all over the world.
                    </h4>
                  </div>
                  <div class="col-md-6">
                    <!-- video -->
                    <div>
                      <vg-player>
                        <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>
                      
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                      
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                      
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                      
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                      
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>

                        <video *ngIf="browser" #media [vgMedia]="media" id="singleVideo" preload="auto">
                            <source src="https://firebasestorage.googleapis.com/v0/b/lifecoach-6ab28.appspot.com/o/platform%2FLifecoach%203.mp4_1594235284?alt=media&token=5bd8c67c-3499-4a9e-84f1-c855dd60f053">
                        </video>
                      </vg-player>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Section 2 -->
  <section id="section-two" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              Start With Your FREE <span class="text-success">Profile</span>
            </h2>

            <h4>
              Here at Lifecoach, everything starts with your profile. Your profile allows you to make a great first impression and start collecting leads immediately.
            </h4>

            <div class=" row mt-5">
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fab fa-searchengin"></i></div>
                  <p class=" pl-3 pr-3">
                    Highly Search Engine Optimised for local & global search
                  </p>
              </div>
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fas fa-play-circle"></i></div>
                  <p class=" pl-3 pr-3">
                    Add a personal video introduction to boost engagement by up to 5X
                  </p>
              </div>
              <div class=" col-4">
                  <div class=" text-success display-2 mb-3"><i class="fas fa-user"></i></div>
                  <p class=" pl-3 pr-3">
                    Collect leads directly through your profile
                  </p>
              </div>
          </div>

            <p class="lead mt-5">
              <a class="btn btn-primary btn-lg btn-round btn-simple" [routerLink]="['/register', 'coach']" role="button">
                Create My Free Coach Profile 
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section id="section-four" class=" padded-section">
    <div class=" content">
      <div class=" container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <h2 class="display-3">
              Publish <span class="text-danger"> eCourses</span>
            </h2>

            <h4>
              Ever thought about turning your coaching material into an eCourse?
              Impact thousands of students per month with a hosted Lifecoach eCourse.
              Use our friendly online course builder to create, publish & sell eCourses to students all over the world 
              with full support for selling in local currencies. Start creating yours today!
            </h4>

            <p class="lead mt-5">
              <a class="btn btn-primary btn-lg btn-round btn-simple" [routerLink]="['/sell-coaching-courses']" role="button">
                Learn More
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5 -->
  <section id="section-five" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                <h2 class="display-3">
                  Coaching for <span class="text-info">Coaches</span>
                </h2>

                <h4>
                  Access fellow Coaches, find the specialists in your field and enroll in online courses 
                  aimed specifically at helping you to grow as a Coach.
                </h4>
    
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Section 6 -->
  <section id="section-six" class=" padded-section">
    <div class=" content">
        <div class=" container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                <h2 class="display-3"> Heard Enough? </h2>

                <h4>
                  Start with a profile and go from there. We'll help you every step of the way.
                </h4>

                <p><a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'coach']" role="button">
                  Let's go!
                </a></p>
    
                </div>
            </div>
        </div>
    </div>
  </section>

</div>

<app-page-footer></app-page-footer>
