#profile-vid-play {
    color: #e14eca;
    font-size: 2rem;
    position: absolute;
    top: 8rem;
    left: 12.4rem;
}
.fasterAvatar{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
