#find-coach-name-card {
    margin: 2%;
    width: 96%;
}

#find-coach-name-image {
    position: absolute;
    left: 0px;
    top: -47%;
    width: 88%;
}

.dark {
    color: #222a42;
}

.border-container {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 10px;
}