<div class=" content">
    <!-- Loading spinner -->
    <div *ngIf="!browser" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="browser">
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-title"> Search Users </h5>
                    </div>
                    <div class=" card-body">
                        <ais-instantsearch [config]="aisConfig">
                            <ais-search-box></ais-search-box>
                            <ais-hits>
                                <ng-template let-hits="hits">
                                    <div class=" table-responsive">
                                        <table class=" table">
                                        <thead class=" text-primary">
                                            <tr>
                                            <th> Name </th>
                                            <th> Account Type </th>
                                            <th> Join Date </th>
                                            <th> User ID </th>
                                            <th> Email </th>
                                            <th class=" text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let hit of hits" class="">
                                            <td> {{ hit.firstName + ' ' + hit.lastName }} </td>
                                            <td> {{ hit.accountType }} </td>
                                            <td> {{ timestampToDate(hit.dateCreated) }} </td>
                                            <td> {{ hit.userID }} </td>
                                            <td> {{ hit.accountEmail }} </td>
                                            <td class=" text-right">
                                                <!-- view public profile -->
                                                <button
                                                class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                                tooltip="View public profile"
                                                type="button"
                                                (click)="viewPublicProfile(hit.userID)"
                                                >
                                                <i class="fas fa-id-card"></i>
                                                </button>
                                                <!-- manage user -->
                                                <button
                                                class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                                tooltip="Manage user"
                                                type="button"
                                                (click)="manageUser(hit.userID)"
                                                >
                                                <i class="fas fa-user"></i>
                                                </button>
                                            </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ais-hits>
                        </ais-instantsearch>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>