<div class=" content">
    <h4 class=" title"> My Calendar
    </h4>
    <p class=" small text-muted pl-2 mb-3">
        <i class="fas fa-info-circle"></i> Manage your Lifecoach calendar. 
        Mark yourself available so that potential clients can schedule discovery calls with you. 
        Click on any empty slot to set your availability or add a new event. 
        Click on any filled slot to edit it. 
        Need a little help managing your calendar? 
        <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001168629-how-to-manage-your-lifecoach-calendar" target="_blank">
          Read the guide.
        </a>
    </p>
    <app-calendar></app-calendar>
</div>