<app-auth-navbar></app-auth-navbar>

<div class="full-page course-page ">
    <div class=" content">
        <div class=" container">

            <!-- Loading in progress -->
            <div *ngIf="!course" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            
            <!-- Course loaded into view -->
            <div class="hide" [ngClass]="{'show': course}">

              <!-- row 1 -->
              <div *ngIf="course" class=" row">

                <!-- left col -->
                <div class=" col-md-8">
                  <div class=" card">
                    <div class=" card-body" style=" padding-left: 25px; padding-right: 25px;">

                      <!-- title -->
                      <h3 class=" card-title"> {{ course.title }} </h3>

                      <!-- subtitle -->
                      <h4 class=" card-subtitle text-muted"> {{ course.subtitle }} </h4>

                      <!-- overall rating & enrollments -->
                      <div class=" mt-3">
                        <!-- rating stars *BROWSER ONLY* -->
                        <app-stars
                        *ngIf="browser"
                        [course]="course"
                        (totalReviewsEvent)="onTotalReviewsEvent($event)">
                        </app-stars>
                        <!-- <span class=" d-inline-block ml-2" style="margin-top: 0.3rem;">
                          {{ avgRating?.toFixed(2) }} ({{ totalReviews ? totalReviews : '0' }} {{ totalReviews === 1 ? 'review' : 'reviews'}})
                        </span> -->
                        <!-- if zero enrollments -->
                        <span class=" ml-3 badge badge-danger">
                          🔥 New eCourse
                        </span>
                        <!-- if 1 enrollment -->
                        <!-- <span *ngIf="courseEnrollments?.totalEnrollments && courseEnrollments?.totalEnrollments == 1" class=" ml-3">
                          1 student enrolled
                        </span> -->
                        <!-- if more than 1 enrollment -->
                        <!-- <span *ngIf="courseEnrollments?.totalEnrollments && courseEnrollments?.totalEnrollments > 1" class=" ml-3">
                          {{ courseEnrollments.totalEnrollments }} students enrolled
                        </span> -->
                      </div>

                      <!-- coach -->
                      <div class=" mt-4">
                        <p class=" h5">
                          Coach: {{ course.coachName }}
  
                          <!-- last updated -->
                          <span *ngIf="course?.lastUpdated" class=" ml-3">
                            Last updated: {{ getDisplayDate(course.lastUpdated) }}
                          </span>
                          <span *ngIf="!course?.lastUpdated" class=" ml-3">
                            Last updated: {{ getDisplayDate(now) }}
                          </span>
  
                          <!-- course language -->
                          <span *ngIf="course?.language" class=" ml-3">
                            <i class="fas fa-comment"></i> {{ languages[course.language].nativeName }}
                          </span>
                        </p>
                      </div>

                      <hr>

                      <!-- description -->
                      <div *ngIf="course.description ; else noDescription">
                        <div id="test" class=" card-description p-3" [innerHTML]="course.description"></div>
                      </div>
                      <ng-template #noDescription>
                        <div id="no-description" class=" card-description">
                          Awaiting description
                        </div>
                      </ng-template>

                      <hr>

                      <!-- learning points -->
                      <div *ngIf="course.learningPoints && course.learningPoints.length" class=" mt-4">
                        <h5 class=" card-title"> What you'll learn </h5>
                        <div>
                          <ul>
                            <li *ngFor="let item of course.learningPoints" style="color: rgba(255, 255, 255, 0.7);">
                              {{ item }}
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- requirements -->
                      <div class=" mt-5">
                        <h5 class=" card-title"> Requirements </h5>
                        <div *ngIf="!course.requirements">
                          <ul>
                            <li style="color: rgba(255, 255, 255, 0.7);"> No special requirements or prerequisites </li>
                          </ul>
                        </div>
                        <div *ngIf="course.requirements">
                          <ul>
                            <li *ngFor="let item of course.requirements" style="color: rgba(255, 255, 255, 0.7);">
                              {{ item }}
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- targets -->
                      <div *ngIf="course.targets && course.targets.length" class=" mt-5">
                        <h5 class=" card-title"> The perfect eCourse for: </h5>
                        <div>
                          <ul>
                            <li *ngFor="let item of course.targets" style="color: rgba(255, 255, 255, 0.7);">
                              {{ item }}
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- end card -->

                  <!-- coach card -->
                  <app-coach-mini-profile [coachId]="course.sellerUid"></app-coach-mini-profile>
                  <!-- end coach card -->

                  <!-- course content card -->
                  <div class=" card">
                    <div class=" card-body">
                      <h4 class=" card-title d-inline-block"> eCourse Content </h4>
                      <app-course-contents [course]="course"></app-course-contents>
                    </div>
                  </div>
                  <!-- end course content card -->

                  <!-- course feedback card *BROWSER ONLY* -->
                  <div *ngIf="browser" class=" card">
                    <div class=" card-body mr-3">
                      <h4 class=" card-title d-inline-block"> eCourse Feedback </h4>
                      <div>
                        <app-course-feedback
                        [course]="course"
                        (avgRatingEvent)="onAvgRatingEvent($event)"
                        (totalReviewsEvent)="onTotalReviewsEvent($event)">
                        </app-course-feedback>
                      </div>

                      <!-- browse reviews -->
                      <app-course-browse-reviews
                      [course]="course">
                      </app-course-browse-reviews>
                    </div>
                  </div>
                  <!-- end course feedback card -->

                </div>
                <!-- end left col -->

                <!-- right col -->
                <div class=" col-md-4">
                  <div class=" card">
                    <!-- course promo vid? -->
                    <div *ngIf="course.promoVideo">
                      <vg-player>
                        <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>
                      
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                      
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                      
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                      
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                      
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                      
                        <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                            <source [src]="course.promoVideo.downloadURL">
                        </video>
                      </vg-player>
                    </div>

                    <!-- course image? -->
                    <img
                    *ngIf="!course.promoVideo"
                    class=" card-img-top"
                    [src]="course.image ? course.image : 'assets/img/awaiting-image.png'"
                    [alt]="course.title" />

                    <div class=" card-body">

                      <div class=" text-center">
                        <!-- price -->
                        <h3 *ngIf="course?.pricingStrategy && course?.pricingStrategy === 'paid' 
                        && course?.price && course?.currency"> {{ currencySymbol + '' + displayPrice }} </h3>
                        <h3 *ngIf="course?.pricingStrategy && course?.pricingStrategy === 'free'"> FREE </h3>
                        <h4 *ngIf="!course?.pricingStrategy || (course?.pricingStrategy === 'paid' && !course?.currency) || 
                        (course?.pricingStrategy === 'paid' && !course?.price)">{{ 'Awaiting currency & price' }}</h4>
                      </div>

                      <div *ngIf="userId === course.sellerUid">
                        <p class=" text-success text-center">
                          You created this eCourse
                        </p>
                      </div>

                      <div *ngIf="(userId !== course.sellerUid) && userClaims && userClaims[course.courseId]">
                        <p class=" text-success text-center">
                          You purchased this eCourse
                        </p>
                      </div>

                      <div class=" text-center pl-2 pr-2">
                        <!-- Paid pricing strategy -->
                        <div *ngIf="course?.pricingStrategy && course?.pricingStrategy === 'paid'">
                          <!-- buy now button -->
                          <!-- disabled for course seller or if already purchased -->
                          <!-- userId === course.sellerUid || userClaims && userClaims[course.courseId] -->
                          <button
                          class=" btn btn-primary btn-round btn-block btn-fill"
                          id="buynow"
                          type="button"
                          data-target="#payModal"
                          (click)="userId ? payModal.show() : onRegister()"
                          [disabled]="userId === course.sellerUid || userClaims && userClaims[course.courseId]">
                            <span
                            *ngIf="purchasingCourse"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            ></span> {{ purchasingCourse ? 'Purchasing...' : 'Buy Now'}} 
                          </button>
                          <!-- course owned button -->
                          <button
                          *ngIf="userId === course.sellerUid || userClaims && userClaims[course.courseId]"
                          class=" btn btn-success btn-round btn-block btn-fill"
                          id="gotocourse"
                          type="button"
                          [routerLink]="['/course', course.courseId, 'learn']">
                            Go to Course
                          </button>
                          <!-- returns -->
                          <small>
                            28-Day Money-Back Guarantee.
                            <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001123378-refunds" taget="_blank">
                              Info
                            </a>
                          </small>
                        </div>

                        <!-- Free pricing strategy -->
                        <div *ngIf="course?.pricingStrategy && course?.pricingStrategy === 'free'">
                          <button
                          class=" btn btn-primary btn-round btn-block btn-fill"
                          id="enrollnow"
                          type="button"
                          (click)="userId ? enrollFree() : onRegister()"
                          [disabled]="userId === course.sellerUid || userClaims && userClaims[course.courseId]">
                            <span
                            *ngIf="purchasingCourse"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            ></span> {{ purchasingCourse ? 'Enrolling...' : 'Enroll FREE'}} 
                          </button>
                          <!-- course owned button -->
                          <button
                          *ngIf="userId === course.sellerUid || userClaims && userClaims[course.courseId]"
                          class=" btn btn-success btn-round btn-block btn-fill"
                          id="gotocourse"
                          type="button"
                          [routerLink]="['/course', course.courseId, 'learn']">
                            Go to Course
                          </button>
                          <!-- returns -->
                          <small>
                            By enrolling in this course, you agree to Lifecoach’s
                            <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47000883660"
                              >Terms and Conditions.</a
                            > 
                          </small>
                        </div>

                      </div>

                      <!-- Currency picker -->
                      <div *ngIf="course?.pricingStrategy && course?.pricingStrategy === 'paid'" class="pt-3">
                        <label> Show price in </label>
                        <app-select-currency
                        [currency]="clientCurrency"
                        (currencyEvent)="onManualCurrencyChange($event)">
                        </app-select-currency>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <!-- End row 1 -->

            </div>
            <!-- end of course loaded into view -->

            <!-- Pay Modal -->
            <div
                aria-hidden="true"
                aria-labelledby="payModalLabel"
                bsModal
                class="modal fade"
                #payModal="bs-modal"
                id="payModal"
                role="dialog"
                tabindex="-1"
            >
                <div class="modal-dialog payment-modal-dialogue">
                    <div class="modal-content payment-modal-content">
                        <div class="modal-body payment-modal-body">
                            <div class="ElementsModal--top-banner ElementsModal--top-banner-overlay" [style.background-image]="'url(' + course?.image + ')'">
                                <div class="ElementsModal--sales-info">
                                  <div class="ElementsModal--top">
                                    <div *ngIf="course && course.title" class="ElementsModal--company"> {{ course.title }} </div>
                                    <button class="ElementsModal--close" (click)="payModal.hide()">
                                      <svg
                                        width="20px"
                                        height="20px"
                                        viewBox="0 0 20 20"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                      >
                                        <defs>
                                          <path
                                            d="M10,8.8766862 L13.6440403,5.2326459 C13.9542348,4.92245137 14.4571596,4.92245137 14.7673541,5.2326459 C15.0775486,5.54284044 15.0775486,6.04576516 14.7673541,6.3559597 L11.1238333,9.99948051 L14.7673541,13.6430016 C15.0775486,13.9531961 15.0775486,14.4561209 14.7673541,14.7663154 C14.4571596,15.0765099 13.9542348,15.0765099 13.6440403,14.7663154 L10,11.1222751 L6.3559597,14.7663154 C6.04576516,15.0765099 5.54284044,15.0765099 5.2326459,14.7663154 C4.92245137,14.4561209 4.92245137,13.9531961 5.2326459,13.6430016 L8.87616671,9.99948051 L5.2326459,6.3559597 C4.92245137,6.04576516 4.92245137,5.54284044 5.2326459,5.2326459 C5.54284044,4.92245137 6.04576516,4.92245137 6.3559597,5.2326459 L10,8.8766862 Z"
                                            id="path-1"
                                          ></path>
                                        </defs>
                                        <g
                                          id="Payment-recipes"
                                          stroke="none"
                                          stroke-width="1"
                                          fill="none"
                                          fill-rule="evenodd"
                                        >
                                          <g
                                            id="Elements-Popup"
                                            transform="translate(-816.000000, -97.000000)"
                                          >
                                            <g id="close-btn" transform="translate(816.000000, 97.000000)">
                                              <circle
                                                id="Oval"
                                                fill-opacity="0.3"
                                                fill="#AEAEAE"
                                                cx="10"
                                                cy="10"
                                                r="10"
                                              ></circle>
                                              <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                              </mask>
                                              <use
                                                id="Mask"
                                                fill-opacity="0.5"
                                                fill="#FFFFFF"
                                                opacity="0.5"
                                                xlink:href="#path-1"
                                              ></use>
                                            </g>
                                          </g>
                                        </g>
                                      </svg>
                                    </button>
                                  </div>
                                  <div class="ElementsModal--product ElementsModal--details"> Online Coaching Course </div>
                                  <div *ngIf="course" class="ElementsModal--price ElementsModal--details"> 
                                    {{ currencySymbol + '' + displayPrice }}
                                  </div>
                                  <div *ngIf="account && account.accountEmail" class="ElementsModal--email ElementsModal--details"> {{ account.accountEmail }} </div>
                                </div>
                              </div>
                            <div class="ElementsModal--payment-details">
                                <form
                                  class="ElementsModal--payment-form"
                                  id="payment-form"
                                >
                                  <div class="form-row">
                                    <div class="ElementsModal--forms" style="width: 80%;">
                                      <div class="ElementsModal--form">
                                        <label for="ElementsModal--card-element">
                                          <span class="ElementsModal--form-label spacer"
                                            >Card details</span
                                          >
                                          <div class="StripeElement" id="card-element">
                                            <!-- A Stripe Element will be inserted here. -->
                                          </div>
                                        </label>
                                        <!-- Used to display form errors. -->
                                        <div
                                          id="card-errors"
                                          class="ElementsModal--error-message"
                                          role="alert"
                                        ></div>
                                      </div>
                                      <!-- <div class="ElementsModal--form">
                                        <label class="select">
                                          <span class="ElementsModal--form-label spacer"
                                            >Country or region</span
                                          >
                                          <div id="country" class="ElementsModal--form-select">
                                            <select
                                            name="country"
                                            autocomplete="billing country"
                                            aria-label="Country or region"
                                            [(ngModel)]="clientCountry"
                                            [ngModelOptions]="{standalone: true}"
                                            >
                                            <option
                                            *ngFor="let country of countries" [value]="country.code">
                                            {{ country.emoji + ' ' + country.name }}
                                            </option>
                                            </select>
                                          </div>
                                        </label>
                                      </div> -->
                                      <div class="ElementsModal--form" *ngIf="course">
                                        <input
                                          type="hidden"
                                          name="amount"
                                          [value]="course.price"
                                        />
                                        <input
                                          type="hidden"
                                          name="currency"
                                          [value]="course.currency"
                                        />
                                        <input
                                          type="hidden"
                                          name="description"
                                          [value]="course.title"
                                        />
                                        <button
                                          type="submit"
                                          class="btn btn-success btn-fill btn-round btn-block mt-4"
                                        >
                                        <span
                                          *ngIf="purchasingCourse"
                                          class="spinner-border spinner-border-sm"
                                          role="status"
                                          ></span> {{ purchasingCourse ? 'Processing...' : 'Pay' + ' ' + currencySymbol + displayPrice}}
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                        </div>
                        <div class="modal-footer ElementsModal--footer-text">
                            By purchasing this course, you agree to Lifecoach’s
                            <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47000883660"
                              >Terms and Conditions.</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of pay modal -->

        </div>
    </div>
</div>
