<div class=" row">
    <div class=" col">
        <!-- Loading spinner -->
        <div *ngIf="!course" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Course loaded -->
        <div *ngIf="course" class="card">
            <div class="card-body">
                <h4 class="card-title">
                  {{ isNewSection ? 'New Section' : sectionF.title.value }} 
                </h4>
                <h6 class="card-subtitle mb-4 text-muted"> 
                    {{ isNewSection && course.sections.length < 1 ? 'Courses need at least one section' : 'Editing Section' }}
                </h6>
                <div class=" p-3">
                    <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001124032-how-to-use-sections-in-your-course" target="_blank">
                        <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with sections </span>
                    </a>
                    <div class="mt-3">
                        <form *ngIf="sectionForm" [formGroup]="sectionForm" (submit)="onSubmit()">

                            <!-- Course title -->
                            <div class="">
                                <label> Title </label>
                            </div>
                            <div
                            class="input-group no-symbol"
                            [ngClass]="{
                                'has-danger':
                                ((focusTouched || saving) && sectionF.title.value != '' && sectionF.title.errors) ||
                                (sectionF.title.value != '' && sectionF.title.errors),
                                'has-success': !sectionF.title.errors
                            }">
                                <input
                                type="text"
                                id="title"
                                class="form-control"
                                formControlName="title"
                                placeholder="eg. Introduction"
                                (focus)="focusTouched = true"
                                (input)="onTitleInput($event)">
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    {{ titleActualLength + '/' + titleMaxLength }}
                                </span>
                                </div>
                            </div>
                            <div *ngIf="((focusTouched || saving) && sectionF.title.value != '' && sectionF.title.errors) ||
                                (sectionF.title.value != '' && sectionF.title.errors)">
                                <label
                                *ngFor="let error of objKeys(sectionF.title.errors)"
                                class="error custom-error-label"
                                >{{ showError('title', error) }}
                                </label>
                            </div>
                            <!-- End of course title -->

                            <div class=" pull-right">
                                <button type="submit" class=" btn btn-primary btn-round btn-fill mt-4">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

