<div class="content">

  <!-- UI for regular users -->
  <div *ngIf="userType && userType == 'regular'">

    <h4 class=" title"> My Sessions </h4>
    <p class=" small text-muted pl-2 mb-2">
        <i class="fas fa-info-circle"></i> View your scheduled coaching & discovery sessions. 
        Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001168894-how-to-manage-your-discovery-coaching-sessions" target="_blank">
          Read the guide.
        </a>
    </p>

    <!-- user has ordered sessions with coach(es) -->
    <div *ngIf="orderedSessions.length && orderedSessions.length > 0; else sessions">
      <div class="row">
        <div *ngFor="let session of orderedSessions" class="col-md-3">
          <app-video-session-card
            [session]="session"
          ></app-video-session-card>
        </div>
      </div>
    </div>

    <!-- user has not ordered any sessions yet -->
    <ng-template #sessions>
      <p class=" mt-5">
        You don't have any scheduled sessions yet.
      </p>
      <p>
        Any discovery sessions that you schedule with a Coach, or any private coaching sessions that a Coach schedules for you 
        will appear here.
      </p>
      <p>
        Want to get started with a private, 1-to-1 coaching program? 
        <a [routerLink]="['/programs']">
          Explore Lifecoach programs now
        </a> to find the perfect coaching program for you!
      </p>
    </ng-template>

  </div>
  <!-- end of UI for regular users -->

  <!-- UI for coach users -->
  <div *ngIf="userType && userType == 'coach'">

    <h4 class=" title"> My Sessions </h4>
    <p class=" small text-muted pl-2 mb-2">
        <i class="fas fa-info-circle"></i> View your scheduled coaching & discovery sessions. 
        As soon as users book a discovery session for one of your coaching programs it will appear here. 
        When users are enrolled on your coaching program(s) you can schedule sessions on your calendar which will also 
        appear here.
        Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001168895-how-to-manage-the-sessions-you-are-coaching" target="_blank">
          Read the guide.
        </a>
    </p>

    <!-- coach has session(s) scheduled -->
    <div *ngIf="coachingSessions.length && coachingSessions.length > 0; else coachSessions">
      <div class="row">
        <div *ngFor="let session of coachingSessions" class="col-md-3">
          <app-video-session-card
            [session]="session"
          ></app-video-session-card>
        </div>
      </div>
    </div>
  
    <!-- coach has no scheduled sessions -->
    <ng-template #coachSessions>
      <p class=" mt-5">
        You have no scheduled sessions yet. 
      </p>
      <p class=" mt-3"> Tips to start filling your sessions: </p>
      <ol>
        <li>Be sure to schedule some 'Available' time in your calendar</li>
        <li>Promote your coaching programs as widely as possible to start taking bookings for your free discovery sessions</li>
        <li>Use discovery sessions to assess client suitability and encourage users to enroll in your program(s)</li>
      </ol>
    </ng-template>

  </div>
  <!-- end of UI for coach users -->

</div>
