<div class="content">
  <div *ngIf="this.orderedSessions.length; else sessions">
    <h1>Your ordered sessions</h1>
    <div *ngFor="let session of orderedSessions">
      <h2>{{session.sessionId}}</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias at aut cum cumque laboriosam obcaecati perferendis porro quod rem tempora!</p>
      <a [routerLink]="[session.sessionId]">I AM LINK</a>
    </div>
    <hr>
  </div>
  <div *ngIf="this.coachingSessions.length; else coachSessions">
    <h1>Sessions, where You are coaching</h1>
    <hr>
    <div *ngFor="let session of this.coachingSessions">
      <h2>{{session.sessionId}}</h2>
      <p> Session, where u r coach</p>
      <a [routerLink]="[session.sessionId]">I AM LINK</a>
    </div>
    <br><hr>
  </div>
  <ng-template #sessions>
    <h2>
      You`ve ordered 0 sessions.
    </h2>
    <hr>
  </ng-template>
  <ng-template #coachSessions>
    <h2>
      Looks like nobody ordered Your session yet.
    </h2>
    <hr>
  </ng-template>
</div>
