<!-- loading person -->
<div *ngIf="!person" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- person loaded -->
<div *ngIf="person">
    <div class=" card card-timeline card-plain">
        <div class=" card-body">
          <ul class=" timeline timeline-simple">
            <li *ngFor="let item of person.history ; let i = index" class=" timeline-inverted">

                <!-- badge -->
                <div *ngIf="item.action === 'sent_first_message'" class=" timeline-badge danger">
                    <i class="fas fa-comments"></i>
                </div>
                <div *ngIf="item.action === 'enrolled_in_self_study_course'" class=" timeline-badge primary">
                    <i class="fas fa-play-circle"></i>
                </div>
                <div *ngIf="item.action === 'enrolled_in_full_program'" class=" timeline-badge primary">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div *ngIf="item.action === 'enrolled_in_program_session'" class=" timeline-badge primary">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div *ngIf="item.action === 'coach_invited_user'" class=" timeline-badge success">
                    <i class="fas fa-envelope"></i>
                </div>
                <div *ngIf="item.action === 'booked_session'" class=" timeline-badge success">
                    <i class="fas fa-calendar"></i>
                </div>
                <div *ngIf="item.action === 'cancelled_session'" class=" timeline-badge warning">
                    <i class="fas fa-calendar"></i>
                </div>

                <!-- panel -->
                <div class=" timeline-panel">

                    <!-- heading -->
                    <div class=" timeline-heading">
                        <span *ngIf="item.action === 'sent_first_message'" class=" badge badge-danger"> New Lead </span>
                        <span *ngIf="item.action === 'enrolled_in_self_study_course'" class=" badge badge-primary"> Enrolled In eCourse </span>
                        <span *ngIf="item.action === 'enrolled_in_full_program'" class=" badge badge-primary"> Enrolled In Program (Full) </span>
                        <span *ngIf="item.action === 'enrolled_in_program_session'" class=" badge badge-primary"> Enrolled In Program (PAYG) </span>
                        <span *ngIf="item.action === 'coach_invited_user'" class=" badge badge-success"> Sent Invite </span>
                        <span *ngIf="item.action === 'booked_session'" class=" badge badge-success"> Booked Session </span>
                        <span *ngIf="item.action === 'cancelled_session'" class=" badge badge-warning"> Cancelled Session </span>

                        <!-- time / date of this action -->
                        <span class="pull-right">
                            <small class="text-muted">
                                <i class="fas fa-calendar"></i> {{ getDisplayDate(item.id) }} 
                                <i class="fas fa-clock ml-2"></i> {{ getDisplayTime(item.id) }}
                            </small>
                        </span>
                    </div>

                    <!-- body -->
                    <div class=" timeline-body">
                        <p *ngIf="item.action === 'sent_first_message'">
                            {{ person.firstName }} first contacted you by message. 
                            <a class=" pl-2" [routerLink]="['/messages', 'rooms', person.history[i].roomId]">
                                View Messages
                            </a>
                        </p>
                        <p *ngIf="item.action === 'enrolled_in_self_study_course'">
                            {{ person.firstName }} enrolled in your eCourse.
                        </p>
                        <p *ngIf="item.action === 'enrolled_in_full_program'">
                            {{ person.firstName }} enrolled in your program and paid in full.
                        </p>
                        <p *ngIf="item.action === 'enrolled_in_program_session'">
                            {{ person.firstName }} enrolled in your program and is paying per session.
                        </p>
                        <p *ngIf="item.action === 'coach_invited_user'">
                            You sent {{ person.firstName }} an invitation to your 
                            {{ person.history[i].event?.properties.item_type }}: 
                            <a [href]="person.history[i].event.properties.landing_url" target="_blank">
                                {{ person.history[i].event?.properties.item_title }}
                            </a>
                        </p>
                        <p *ngIf="item.action === 'booked_session'">
                            {{ person.firstName }} booked a {{ person.history[i].event?.type }} session with you. 
                            <a [routerLink]="['/my-sessions', person.history[i].event.id]">
                                Go to Session
                            </a>
                        </p>
                        <p *ngIf="item.action === 'cancelled_session'">
                            {{ person.firstName }} cancelled a {{ person.history[i].event?.type }} session with you. 
                            <a [routerLink]="['/calendar']">
                                View Calendar
                            </a>
                        </p>
                    </div>

                    <!-- footer -->
                    <!-- <div class=" timeline-footer">
                        <hr>
                    </div> -->
                </div>
            </li>
          </ul>
        </div>
    </div>
</div>
