<div class=" card">
    <div class=" card-body">
        <!-- Promote form -->
        <form *ngIf="promoteForm" [formGroup]="promoteForm">

            <h5 class=" mb-3"> Promote Your eCourse
                <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001127721-how-to-promote-your-newly-published-course" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with promoting your eCourse </span>
                </a>
            </h5>

            <p class=" small text-muted pl-2 mb-2">
                <i class="fas fa-info-circle"></i> Promote your eCourse as widely as you can using this unique link. 
                This link will take clients to your course landing page where they will be able to enroll in this eCourse. 
                You also pay a lower commission (earn a higher % per sale) on all enrollments when you use this link.
                    Learn more about <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001127721-how-to-promote-your-newly-published-course" target="_blank">
                        promoting your eCourse
                    </a> and the <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001135033-how-does-the-shared-payment-model-work-" target="_blank">
                        shared payment model.
                    </a>
            </p>

            <!-- Referral code -->
            <div class=" row">
                <div class=" col">
                    <div class=" mt-4">
                        <div class="form-group">
                            <label for="referral-code"> Use this link to promote your eCourse:
                            </label>
                            <input #referralCode type="text" class="form-control" id="referral-code" formControlName="referralCode">
                        </div>
                    </div>
                    <button 
                    *ngIf="browser"
                    type="button"
                    class=" btn btn-primary btn-round btn-fill pull-right"
                    (click)="copyReferralCode(referralCode)">
                        Copy Link
                    </button>
                </div>
            </div>

            <!-- Preview course landing page -->
            <div>
                <div>
                    <div *ngIf="course?.courseId">
                        <a
                        [routerLink]="['/course', course.courseId]"
                        target="_blank">
                            <button
                            type="button"
                            class="btn btn-default btn-round">
                                <i class="fas fa-eye"></i> Preview Link Landing Page
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </form>
        <!-- end promote form -->
    </div>
</div>

