<div class=" content">

  <!-- Loading spinner -->
  <div *ngIf="!fetchedProfile && !loadWizard" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- EDIT USER PROFILE (saved profile loaded) -->
  <div *ngIf="fetchedProfile">

    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" title"> My Profile
            </h4>
            <p class=" small text-muted pl-2 mb-2">
                <i class="fas fa-info-circle"></i> Manage your public coach profile on Lifecoach. Need a little help with creating a 
                great profile? <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001133909-help-with-your-lifecoach-profile" target="_blank">
                  Read the guide.
                </a>
            </p>
          </div>
          <div class=" card-body">

            <!-- Begin form -->
            <form [formGroup]="userProfile">
  
              <!-- Photo Picker -->
              <div class=" row">
                <div class=" col-lg-10">
                  <app-picture-upload 
                  [avatar]="true" 
                  [inputImg]="profileF.photo.value" 
                  (messageEvent)="receiveMessage($event)">
                  </app-picture-upload>
                </div>
              </div>
  
              <div class=" row mt-4">
                <div class=" col-md-6 pr-md-1">
                  <!-- First Name -->
                  <label> First Name </label>
                  <div
                  class=" input-group"
                  [ngClass]="{
                    'input-group-focus': focus === true,
                    'has-danger':
                      (((focusTouched && profileF.firstName.value != '') || saveAttempt) &&
                        profileF.firstName.errors),
                    'has-success': !profileF.firstName.errors
                  }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="firstname"
                      placeholder="First Name..."
                      type="text"
                      formControlName="firstName"
                      (focus)="focus = true; focusTouched = true"
                      (blur)="focus = false"
                    />
                  </div>
                  <div *ngIf="(((focusTouched && profileF.firstName.value != '') || saveAttempt) && profileF.firstName.errors)">
                    <label
                    *ngFor="let error of objKeys(profileF.firstName.errors)"
                    class="error custom-error-label"
                    >{{ showError('firstName', error) }}
                    </label>
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <!-- Last Name -->
                  <label> Last Name </label>
                  <div
                  class=" input-group"
                  [ngClass]="{
                    'input-group-focus': focus1 === true,
                    'has-danger':
                      (((focus1Touched && profileF.lastName.value != '') || saveAttempt) && profileF.lastName.errors),
                    'has-success': !profileF.lastName.errors
                  }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-caps-small"> </i>
                      </div>
                    </div>
                    <input
                      class=" form-control"
                      name="lastname"
                      formControlName="lastName"
                      placeholder="Last Name..."
                      type="text"
                      (focus)="focus1 = true; focus1Touched = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                  <div *ngIf="(((focus1Touched && profileF.lastName.value != '') || saveAttempt) && profileF.lastName.errors)">
                    <label
                    *ngFor="let error of objKeys(profileF.lastName.errors)"
                    class="error custom-error-label"
                    >{{ showError('lastName', error) }}
                    </label>
                  </div>
                </div>
              </div>
              <div class=" row">
                <!-- City -->
                <div class=" col-md-6 pr-md-1">
                  <label> City </label>
                  <div
                  class=" input-group"
                  [ngClass]="{
                    'input-group-focus': focus2 === true,
                    'has-danger': (((focus2Touched && profileF.city.value != '') || saveAttempt) && profileF.city.errors),
                    'has-success': !profileF.city.errors
                  }"
                  >
                    <div class=" input-group-prepend">
                      <div class=" input-group-text">
                        <i class=" tim-icons icon-square-pin"> </i>
                      </div>
                    </div>
                    <input
                    class=" form-control"
                    name="city"
                    placeholder="City..."
                    formControlName="city"
                    type="text"
                    required=""
                    (focus)="focus2 = true; focus2Touched = true"
                    (blur)="focus2 = false"
                    />
                    <div *ngIf="(((focus2Touched && profileF.city.value != '') || saveAttempt) && profileF.city.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.city.errors)"
                      class="error custom-error-label"
                      >{{ showError('city', error) }}
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Country --> 
                <div class=" col-md-6 pl-md-1">
                  <label> Country </label>
                  <div class=" form-group" *ngIf="browser">
                    <select
                    class="form-control"
                    id="countrySelect"
                    formControlName="country"
                    (focus)="focus3 = true; focus3Touched = true"
                    (blur)="focus3 = false">
                      <option [ngValue]="null"> Country... </option>
                      <option *ngFor="let country of countryList" [value]="country.code">
                        {{ country.emoji + ' ' + country.name }}
                      </option>
                    </select>
                    <div
                      class="error custom-error-label"
                      *ngIf="(((focus3Touched && profileF.country.value != null) || saveAttempt) && profileF.country.errors)"
                      >Please select a country.
                    </div>
                  </div>
                </div>
              </div>

              <!-- gender -->
              <div class=" row mt-4">
                <div class=" col">
                  <label> My Gender </label> 
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> We may use this information to match you with clients who specify that the 
                    gender of their coach is particularly important to them.
                  </p>
                </div>
              </div>
              <div class=" row mt-2">
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                      class="form-control"
                      id="genderSelect"
                      formControlName="gender"
                      (focus)="focus13 = true; focus13Touched = true"
                      (blur)="focus13 = false">
                      <option [ngValue]="null"> Select... </option>
                      <option value="female">
                        Female
                      </option>
                      <option value="male">
                        Male
                      </option>
                      <option value="gnc">
                        Gender Non-Conforming
                      </option>
                      <option value="prefer-not">
                        I prefer not to say
                      </option>
                    </select>
                    <div *ngIf="(((focus13Touched && profileF.gender.value != null) || saveAttempt) && profileF.gender.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.gender.errors)"
                      class="error custom-error-label"
                      >{{ showError('gender', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end gender -->

              <!-- Short Summary -->
              <div class=" row mt-4">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Short Summary </label>
                    <p class=" small text-muted pl-2 mb-2">
                      <i class="fas fa-info-circle"></i> Add a short summary to introduce yourself to prospective clients. 
                      Clients will see this immediately on your profile card when browsing 
                      and searching coaches. We recommend you expand on this info using the 
                      'Full Description' & 'Credentials' fields below.
                    </p>
                    <textarea
                    class=" form-control mt-2"
                    cols="80"
                    rows="5"
                    formControlName="proSummary"
                    placeholder="A little about me..."
                    (focus)="focus4 = true; focus4Touched = true"
                    (blur)="focus4 = false"
                    (input)="onSummaryInput($event)"
                    required="">
                    </textarea>
                    <small>
                      <span class="pull-right">
                        {{ summaryActualLength + '/' + summaryMaxLength }}
                      </span>
                    </small>
                    <div *ngIf="(((focus4Touched && profileF.proSummary.value != null) || savingProfile) && profileF.proSummary.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.proSummary.errors)"
                      class="error custom-error-label"
                      >{{ showError('proSummary', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Field -->
              <div class=" row mt-4">
                <div class=" col-lg-10">
                  <label> My Coaching Field </label> 
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> What's your generic field of coaching? Select the closest matching field from the list.
                  </p>
                </div>
              </div>
              <div class=" row mt-2">
                <div class=" col-sm-5">
                  <div class=" form-group" *ngIf="browser">
                    <select
                      class="form-control"
                      id="specialitySelect"
                      formControlName="speciality1"
                      (focus)="focus5 = true; focus5Touched = true"
                      (blur)="focus5 = false">
                      <option [ngValue]="null"> Select... </option>
                      <option *ngFor="let item of specialityList" [value]="item.id">
                        {{ item.itemName }}
                      </option>
                    </select>
                    <div *ngIf="(((focus5Touched && profileF.speciality1.value != null) || saveAttempt) && profileF.speciality1.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.speciality1.errors)"
                      class="error custom-error-label"
                      >{{ showError('speciality1', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Goal tags -->
              <div class=" row mt-4">
                <div class=" col-lg-10">
                  <label> My Goal Focussed Outcomes </label>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> What can you help clients to achieve? 
                    Enter up to 3 specific goal focussed outcomes. These help clients who may not yet know they need coaching, 
                    but have a specific issue or challenge in mind. eg. 'Boost your self-confidence', 'Overcome your fear of public speaking', 
                    'Unleash your speaking potential'.
                  </p>
                </div>
              </div>
              <div class=" row mt-2">
                <div class=" col-md-6 pr-md-1">
                  <div formArrayName="goalTags" *ngFor="let item of profileF.goalTags.value?.controls ; let i = index">
                    <div
                    class="input-group no-symbol"
                    [ngClass]="{
                        'has-danger':
                        (((profileF.goalTags.value.controls[i].touched && profileF.goalTags.value.controls[i].value != '') || saveAttempt) &&  
                        profileF.goalTags.value.controls[i].errors),
                        'has-success': !profileF.goalTags.value.controls[i].errors
                    }">
                        <input
                        type="text"
                        class="form-control"
                        [formControl]="profileF.goalTags.value.controls[i]"
                        placeholder="eg. Boost your self-confidence">
                        <div class="input-group-append">
                        <span class="input-group-text">
                            {{ profileF.goalTags.value.controls[i].value.length + '/' + goalTagMaxLength }}
                        </span>
                        </div>
                        <div class=" d-inline">
                          <i
                          class="far fa-trash-alt text-danger ml-3 mt-3"
                          tooltip="Delete this outcome"
                          (click)="removeGoalTag(i)">
                          </i>  
                        </div>
                    </div>
                    <div *ngIf="(((profileF.goalTags.value.controls[i].value != '') || 
                    saveAttempt) && profileF.goalTags.value.controls[i].errors)">
                        <label
                        *ngFor="let error of objKeys(profileF.goalTags.value.controls[i].errors)"
                        class="error custom-error-label"
                        >{{ showError('goalTags', error) }}
                        </label>
                    </div>
                  </div>
                  <button
                  type="button"
                  class=" btn btn-primary btn-link"
                  (click)="addGoalTag()"
                  [disabled]="profileF.goalTags.value?.controls?.length >= goalTagsMax">
                      <i class="fas fa-plus"></i> Add a goal focussed outcome
                  </button>
                </div>
              </div>
              <!-- Qualifications -->
              <div class=" row mt-5">
                <div class=" col-lg-10">
                  <label> My Certifications </label>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Do you have any professional certifications? Add them here.
                  </p>
                </div>
              </div>
              <div class=" row">
                <!-- Col 1 -->
                <div class=" col-sm-3">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcc" formControlName="qualAcc" />
  
                      <span class=" form-check-sign"> </span> ICF - Associate Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualPcc" formControlName="qualPcc" />
  
                      <span class=" form-check-sign"> </span> ICF - Professional Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualMcc" formControlName="qualMcc" />
  
                      <span class=" form-check-sign"> </span> ICF - Master Coach
                    </label>
                  </div>
                </div>
                <!-- Col 2 -->
                <div class=" col-sm-3">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccFoundation" formControlName="qualEmccFoundation" />
  
                      <span class=" form-check-sign"> </span> EMCC - Foundation
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccPractitioner" formControlName="qualEmccPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Practitioner
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccSeniorPractitioner" formControlName="qualEmccSeniorPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Senior Practitioner
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualEmccMasterPractitioner" formControlName="qualEmccMasterPractitioner" />
  
                      <span class=" form-check-sign"> </span> EMCC - Master Practitioner
                    </label>
                  </div>
                </div>
                <!-- Col 3 -->
                <div class=" col-sm-3">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcFoundation" formControlName="qualAcFoundation" />
  
                      <span class=" form-check-sign"> </span> AC - Foundation
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcCoach" formControlName="qualAcCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcProfessionalCoach" formControlName="qualAcProfessionalCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Professional Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualAcMasterCoach" formControlName="qualAcMasterCoach" />
  
                      <span class=" form-check-sign"> </span> AC - Master Coach
                    </label>
                  </div>
                </div>
                <!-- col 4 -->
                <div class=" col-sm-3">
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualApecsAssociate" formControlName="qualApecsAssociate" />
  
                      <span class=" form-check-sign"> </span> APECS - Associate Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualApecsProfessional" formControlName="qualApecsProfessional" />
  
                      <span class=" form-check-sign"> </span> APECS - Professional Coach
                    </label>
                  </div>
                  <div class=" form-check">
                    <label class=" form-check-label">
                      <input class=" form-check-input" type="checkbox" name="qualApecsMaster" formControlName="qualApecsMaster" />
  
                      <span class=" form-check-sign"> </span> APECS - Master Coach
                    </label>
                  </div>
                </div>
              </div>
              <!-- end quals -->

              <!-- Full Description -->
              <div class=" row mt-5">
                <div class=" col-md-12">
                  <label> About Me </label>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> This is a great place to expand on the information above 
                    to really promote yourself as a coach. We recommend you focus on yourself. What makes you unique? 
                    What can you offer your clients? Why should clients choose you? What can you help your clients to 
                    achieve?
                  </p>
                  <div *ngIf="viewLoaded" class=" form-group">
                    <editor 
                    apiKey="swb6l7gw85zcl8aw2dh7551jt3t5ydravtthultgf8fo3w2l" 
                    [init]="{
                      height: 300,
                      menubar: false,
                      plugins: 'link lists paste',
                      toolbar: 'undo redo | formatselect | paste | bold italic backcolor link| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat'
                    }"
                    formControlName="fullDescription"
                    >
                    </editor>
                  </div>
                </div>
              </div>
              <!-- end full description -->

              <!-- Credentials -->
              <div class=" row mt-4">
                <div class=" col-lg-10">
                  <label> My Credentials </label>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Show off your biggest achievements by adding up to {{ credentialsMax }} credentials. 
                    eg. 'Founder of SuperCoach, an award winning coaching movement'. 'New York Times best selling author'. 
                    'Winner of the Humanitarian Award for Coaching Services'.
                  </p>
                </div>
              </div>
              <div class=" row mt-2">
                <div class=" col-md-10 pr-md-1">
                  <div formArrayName="credentials" *ngFor="let item of profileF.credentials.value?.controls ; let i = index">
                    <div
                    class="input-group no-symbol"
                    [ngClass]="{
                        'has-danger':
                        (((profileF.credentials.value.controls[i].touched && profileF.credentials.value.controls[i].value != '') || saveAttempt) &&  
                        profileF.credentials.value.controls[i].errors),
                        'has-success': !profileF.credentials.value.controls[i].errors
                    }">
                        <input
                        type="text"
                        class="form-control"
                        [formControl]="profileF.credentials.value.controls[i]"
                        placeholder="eg. New York Times best selling author">
                        <div class="input-group-append">
                        <span class="input-group-text">
                            {{ profileF.credentials.value.controls[i].value.length + '/' + credentialMaxLength }}
                        </span>
                        </div>
                        <div class=" d-inline">
                          <i
                          class="far fa-trash-alt text-danger ml-3 mt-3"
                          tooltip="Delete this credential"
                          (click)="removeCredential(i)">
                          </i>  
                        </div>
                    </div>
                    <div *ngIf="(((profileF.credentials.value.controls[i].value != '') || 
                    saveAttempt) && profileF.credentials.value.controls[i].errors)">
                        <label
                        *ngFor="let error of objKeys(profileF.credentials.value.controls[i].errors)"
                        class="error custom-error-label"
                        >{{ showError('credentials', error) }}
                        </label>
                    </div>
                  </div>
                  <button
                  type="button"
                  class=" btn btn-primary btn-link"
                  (click)="addCredential()"
                  [disabled]="profileF.credentials.value?.controls?.length >= credentialsMax">
                      <i class="fas fa-plus"></i> Add a credential
                  </button>
                </div>
              </div>
              <!-- end credentials -->
  
            </form>
            <!-- End of form -->
          </div>
        </div>
      </div>
  
      <!-- PROFILE PUBLIC VIEW / PREVIEW -->
      <div class=" col-md-4">

        <!-- Coach card mini -->
        <div class=" card card-user">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
              <div class=" block block-one"></div>
              <div class=" block block-two"></div>
              <div class=" block block-three"></div>
              <div class=" block block-four"></div>
              <a href="javascript:void(0)">
                <img
                  alt="..."
                  class=" avatar"
                  src="{{ profileF.photo.value }}"
                />
                <!-- Name -->
                <p class=" description">
                  {{ profileF.firstName.value + ' ' + profileF.lastName.value + ' ' + getCountryFlag() }}
                </p>
              </a>
              <!-- Speciality Title -->
              <h5 class=" title">
                {{ profileF.speciality1?.itemName }}
              </h5>
              <!-- Certifications? -->
              <div
              class=" text-center mb-3"
              *ngIf="profileF.qualAcc.value || profileF.qualPcc.value || profileF.qualMcc.value || 
              profileF.qualEmccFoundation.value || profileF.qualEmccPractitioner.value || 
              profileF.qualEmccSeniorPractitioner.value || profileF.qualEmccMasterPractitioner.value || 
              profileF.qualAcFoundation.value || profileF.qualAcCoach.value || profileF.qualAcProfessionalCoach.value || 
              profileF.qualAcMasterCoach.value || profileF.qualApecsAssociate.value || profileF.qualApecsProfessional.value || 
              profileF.qualApecsMaster.value"
              >
                <div class=" badge badge-primary mr-2">
                  Certified Coach
                </div>
              </div>
              <!-- Tags -->
              <span *ngFor="let item of profileF.goalTags.value?.controls" class=" badge badge-success mr-2">
                <span *ngIf="item.value">
                  {{ item.value }}
                </span>
              </span>
            </div>
            <!-- Short Summary -->
            <div class=" card-description text-center">
              {{ profileF.proSummary.value }}
            </div>
            <!-- Location -->
            <h6 class=" text-muted text-center mt-3">
              <i class=" tim-icons icon-square-pin"></i> {{ profileF.city.value + ' | ' + getCountryName() }}
            </h6>
          </div>
        </div>
        <!-- end coach card mini -->

        <!-- share profile card -->
        <div class=" card">
          <div class=" card-header"><h5 class=" title"> Share your profile </h5></div>
          <div class=" card-body">
            <form [formGroup]="shareForm">
              <div class="">
                <div class="form-group">
                    <label for="referral-code"> Share your profile using this link.
                        <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001143074-how-to-make-the-most-of-your-lifecoach-profile" target="_blank">
                            Learn more
                        </a>
                    </label>
                    <input #shareUrl type="text" class="form-control" id="share-url" formControlName="shareUrl">
                </div>
              </div>
              <div class=" pull-right">
                <button 
                *ngIf="browser"
                type="button"
                class=" btn btn-default btn-round btn-fill mr-3"
                (click)="copyShareUrl(shareUrl)">
                    Copy Link
                </button>
                <app-social-media-share [id]="this.userId" [sharingType]="'profile'" [sharingObject]="this.shareProfile"></app-social-media-share>
              </div>
            </form>
          </div>
        </div>
        <!-- end share profile card -->

      </div>
    </div>

    <!-- Client testimonials section -->
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h5 class=" title"> Client Testimonials </h5></div>
          <div class=" card-body">
            <p class=" small text-muted pl-2 mb-2">
              <i class="fas fa-info-circle"></i> Select your best client testimonials to 
              showcase on your profile. Lifecoach helps you capture new testimonials from 
              your active clients and to help you get started before you have active 
              clients on the platform, you can upload any testimonials 
              that you already have from happy clients. 
            </p>
            <div>
              <button class=" btn btn-default btn-round">
                Manage Testimonials
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Profile Video Section -->
    <!-- Do not place inside form due no button type on mat-video player elements (interferes with submit) -->
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h5 class=" title"> Profile Video </h5></div>
          <div class=" card-body">
            <p class=" small text-muted pl-2 mb-2">
              <i class="fas fa-info-circle"></i> Add a more personal touch to your profile with a friendly video introduction. 
              We have seen a 5X increase in leads from profiles with a great video intro! 
              Need a little help with your intro video? Check out our <a href="https://lifecoach.io/course/2yogs3bea">official eCourse</a> 
              or browse our <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001115693-guidelines-for-profile-videos" target="_blank">
              tips & guidelines</a> for a better intro video.
            </p>
            <!-- Video uploader & player -->
            <div class=" row">
              <div class= col-md-12>
                <app-profile-video-uploader [uid]="userId"></app-profile-video-uploader>
              </div>
            </div>
            <!-- Saved profile video selector -->
            <div *ngIf="profileVideos">
              <!-- Video select form -->
              <form>
                <table class=" table">
                  <thead>
                    <tr>
                      <th class="text-center"> Select Video </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Disable/no video -->
                    <tr>
                      <td class=" text-center">
                        <div class=" form-check form-check-radio table-radio">
                          <label class=" form-check-label">
                            <input
                              class=" form-check-input"
                              type="radio"
                              [(ngModel)]="profileF.selectedProfileVideo.value"
                              [ngModelOptions]="{standalone: true}"
                              [id]="'-1'"
                              [value]="'-1'"
                              (change)="onVideoChange($event)">
                            <span class=" form-check-sign"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        No video
                      </td>
                      <td></td>
                    </tr>
                      <tr *ngFor=" let vid of profileVideos; let i = index">
                        <td class=" text-center">
                          <div class=" form-check form-check-radio table-radio">
                            <label class=" form-check-label">
                              <input
                              class=" form-check-input"
                              type="radio"
                              [id]="vid.downloadURL"
                              [value]="vid.downloadURL"
                              [(ngModel)]="profileF.selectedProfileVideo.value"
                              [ngModelOptions]="{standalone: true}"
                              (change)="onVideoChange($event)">
                              <span class=" form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          {{ vid.fileName }}
                        </td>
                        <td class="td-actions text-right">
                          <a [href]="profileVideos[i].downloadURL" target="_blank">
                            <button
                            type="button"
                            rel="tooltip"
                            class="btn btn-default btn-icon btn-sm mr-2"
                            data-original-title=""
                            title="">
                              <i class="tim-icons icon-cloud-download-93"></i>
                            </button>
                          </a>
                          <button
                            type="button"
                            rel="tooltip"
                            class="btn btn-danger btn-icon btn-sm"
                            data-original-title=""
                            title=""
                            (click)="onVideoRemove(i)">
                              <i class="tim-icons icon-trash-simple"></i>
                          </button>
                        </td>
                      </tr>
                    <!-- End video select form -->
                  </tbody>
                </table>
              </form>
            </div>
            <!-- Profile video player -->
            <div *ngIf="browser && profileF.selectedProfileVideo.value && profileF.selectedProfileVideo.value !== '-1'">
              <vg-player>
                <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
              
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
              
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
              
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
              
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>
              
                <video #media [vgMedia]="media" id="singleVideo" preload="auto" style="max-height: 80vh;">
                    <source *ngFor="let video of videoSources" [src]="video.src" type="video/mp4">
                </video>
              </vg-player>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Client Matching Section -->
    <div class=" row">
      <div class=" col-md-8">
        <!-- back into the main form again -->
        <form [formGroup]="userProfile">
          <div class=" card">
            <div class=" card-header"><h5 class=" title"> Client Matching </h5></div>
            <p class=" small text-muted pl-4 pr-4">
              <i class="fas fa-info-circle"></i> This section of your profile is not shown directly to Lifecoach users but it is important! 
              We use this information to try and match you to the most relevant clients, so please provide as much detail as you can.
            </p>
            <div class=" card-body">

              <!-- target issues -->
              <div class=" row mt-4">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Issues my clients typically describe </label>
                    <p class=" small text-muted pl-2 mb-2">
                      <i class="fas fa-info-circle"></i> One of the ways we match you with your ideal client persona is by 
                      asking people to describe the issues that they are currently facing. If you were standing in your ideal 
                      client's shoes right now, how would you describe the issues that you need help with?
                    </p>
                    <textarea
                    class=" form-control mt-2"
                    cols="80"
                    rows="5"
                    formControlName="targetIssues"
                    placeholder="Eg. I'm struggling with recognition at work and it's really affecting my confidence..."
                    (focus)="focus14 = true; focus14Touched = true"
                    (blur)="focus14 = false"
                    (input)="onTargetIssuesInput($event)">
                    </textarea>
                    <small>
                      <span class="pull-right">
                        {{ targetIssuesActualLength + '/' + targetIssuesMaxLength }}
                      </span>
                    </small>
                    <div *ngIf="(((focus14Touched && profileF.targetIssues.value != null) || savingProfile) && profileF.targetIssues.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.targetIssues.errors)"
                      class="error custom-error-label"
                      >{{ showError('targetIssues', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end target issues -->

              <!-- target goals -->
              <div class=" row mt-4">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Goals my clients typically describe </label>
                    <p class=" small text-muted pl-2 mb-2">
                      <i class="fas fa-info-circle"></i> Another way we match you with your ideal client persona is by 
                      asking people to describe what they want to achieve in their current stage of life. If you were standing in your ideal 
                      client's shoes right now, how would you describe what you want to achieve?
                    </p>
                    <textarea
                    class=" form-control mt-2"
                    cols="80"
                    rows="5"
                    formControlName="targetGoals"
                    placeholder="Eg. I want to improve my confidence and learn how to interact with people..."
                    (focus)="focus15 = true; focus15Touched = true"
                    (blur)="focus15 = false"
                    (input)="onTargetGoalsInput($event)">
                    </textarea>
                    <small>
                      <span class="pull-right">
                        {{ targetGoalsActualLength + '/' + targetGoalsMaxLength }}
                      </span>
                    </small>
                    <div *ngIf="(((focus15Touched && profileF.targetGoals.value != null) || savingProfile) && profileF.targetGoals.errors)">
                      <label
                      *ngFor="let error of objKeys(profileF.targetGoals.errors)"
                      class="error custom-error-label"
                      >{{ showError('targetGoals', error) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end target goals -->

              <!-- include in C4C -->
              <div class=" form-group mt-3">
                <label> Include my profile in the Lifecoach 'Coaching for Coaches' program </label>
                <p class=" small text-muted pl-2 mb-4">
                    <i class="fas fa-info-circle"></i> The Lifecoach 'Coaching for Coaches' program is aimed specifically 
                    at helping professional Coaches to progress their coaching careers. If you are a Coach who 
                    specialises in coaching or training fellow Coaches, you can promote your profile in this program. 
                    Please only select this option if your coaching is aimed specifically at other coaches. 
                    Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001174543-introducing-the-lifecoach-coaching-for-coaches-program" target="_blank">
                        Read more.
                    </a> 
                </p>
                <div class=" mt-3">
                    <bSwitch
                    [switch-on-color]="'danger'"
                    [switch-off-color]="'danger'"
                    [switch-off-text]="'NO'"
                    [switch-on-text]="'YES'"
                    [(ngModel)]="profileF.includeInCoachingForCoaches.value"
                    [ngModelOptions]="{standalone: true}"
                    (changeState)="onIncludeInCoachingForCoachesToggle($event)"
                  >
                  </bSwitch>
                </div>
              </div>
              <!-- end include c4c -->
  
              <!-- only include in C4C -->
              <div class=" form-group mt-3">
                <label> Only show my profile to registered coaches </label>
                <p class=" small text-muted pl-2 mb-4">
                    <i class="fas fa-info-circle"></i> If you are participating in the Lifecoach 'Coaching for Coaches' program, 
                    you may wish to restrict your profile so that it is only shown to registered coaches on the platform. 
                    This can help to ensure you only get relevant leads from other coaches.
                    Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001174543-introducing-the-lifecoach-coaching-for-coaches-program" target="_blank">
                        Read more.
                    </a> 
                </p>
                <div class=" mt-3">
                    <bSwitch
                    [switch-on-color]="'danger'"
                    [switch-off-color]="'danger'"
                    [switch-off-text]="'NO'"
                    [switch-on-text]="'YES'"
                    [(ngModel)]="profileF.onlyIncludeInCoachingForCoaches.value"
                    [ngModelOptions]="{standalone: true}"
                    (changeState)="onOnlyIncludeInCoachingForCoachesToggle($event)"
                  >
                  </bSwitch>
                </div>
              </div>
              <!-- end only include c4c -->
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Settings & Save Section -->
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h5 class=" title"> Profile Settings </h5></div>
          <div class=" card-body">
            <!-- Public Display -->
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Public Display </label>
                  <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Ensure this is switched on to keep your profile public & discoverable to search 
                    engines. Switch off if you need to temporarily disable your profile for any reason.
                  </p>
                  <bSwitch
                    [switch-on-color]="'danger'"
                    [switch-off-color]="'danger'"
                    [switch-off-text]="'OFF'"
                    [switch-on-text]="'ON'"
                    [(ngModel)]="profileF.isPublic.value"
                    (changeState)="onPublicSettingToggle($event)"
                  >
                  </bSwitch>
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-12">
                <label class=" text-muted">
                  <span class="text-primary">Don't forget to save your changes!</span>
                </label>
                <p class=" small text-muted pl-2 mb-2">
                  <i class="fas fa-info-circle"></i> Click the 'Preview' button to view your full profile as a client. 
                  Preview will open a new tab so any changes you save can be seen. 
                  You may need to wait a moment & refresh your preview page to see all saved changes.
                </p>
              </div>
              <!-- Preview Button -->
              <div class=" col-md-6 mt-4">
                <div class=" pull-left">
                  <a target="_blank" [routerLink]="'/coach/' + userId">
                    <button class=" btn btn-fill btn-round btn-default mr-2 mb-2" type="button">
                      <span *ngIf="true">
                        <i class="fas fa-eye"></i>
                      </span>
                      <span
                      *ngIf="false"
                      class="spinner-border spinner-border-sm"
                      role="status"
                      ></span> {{ false ? 'Generating...' : 'Preview My Profile'}} 
                    </button>
                  </a>
                </div>
              </div>
              <!-- Save Button -->
              <div class=" col-md-6 mt-4">
                <div class=" pull-right">
                  <button
                  class=" btn btn-fill btn-round btn-primary mr-2 mb-2"
                  type="button"
                  (click)="onSubmit()"
                  >
                    <span *ngIf="!savingProfile">
                      <i class="fas fa-save"></i>
                    </span>
                    <span
                    *ngIf="savingProfile"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    ></span> {{ savingProfile ? 'Saving...' : 'Save'}} 
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SHOW PROFILE WIZARD INSTEAD OF EDIT PROFILE (no saved profile) -->
  <div *ngIf="!fetchedProfile">
<!--  <div *ngIf="!fetchedProfile">-->
    <app-profile-wizard></app-profile-wizard>
  </div>

</div>
