#related-lecture {
    background-color: #f5f5f5;
    padding: 1rem 1rem 0.2rem 1rem;

    h5 {
        color: #222a42;
    }
}

.top-tip {
    background-color: #f5f5f5;
    padding: 1rem 1rem 0.2rem 1rem;

    h5 {
        color: #222a42;
    }
}

.input-group-text {
    border: 1px solid #cad1d7;
    border-left: none !important;
    color: #adb5bd !important;
}