<div class=" card">
    <div class=" card-body">
        <form *ngIf="outlineForm" [formGroup]="outlineForm" (submit)="onSubmit()">

            <h5>Program Sessions
                <a href="" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with sessions </span>
                </a>
            </h5>

            <!-- How many sessions are in this program? -->
            <div class=" row mt-4">
                <div class=" col-6">
                    <div class="">
                        <label> How many live 1-to-1 video coaching sessions are included in this program? </label>
                    </div>
                    <div
                    class="form-group"
                    [ngClass]="{
                        'has-danger':
                        ((focus2Touched || saveAttempt) && outlineF.numSessions.errors),
                        'has-success': !outlineF.numSessions.errors
                    }">
                        <input
                        type="number"
                        class="form-control"
                        formControlName="numSessions"
                        placeholder="eg. 12"
                        (focus)="focus2Touched = true">
                    </div>
                    <div *ngIf="((focus2Touched || saveAttempt) && outlineF.numSessions.errors)">
                        <label
                        *ngFor="let error of objKeys(outlineF.numSessions.errors)"
                        class="error custom-error-label"
                        >{{ showError('numSessions', error) }}
                        </label>
                    </div>
                </div>
            </div>
            <!-- End of row -->

            <!-- How many weeks does the program generally run (duration)? -->
            <div class=" row mt-4">
                <div class=" col-6">
                    <div class="">
                        <label> Generally speaking, how many weeks does your program run for each client? </label>
                    </div>
                    <div
                    class="form-group"
                    [ngClass]="{
                        'has-danger':
                        ((focus3Touched || saveAttempt) && outlineF.duration.errors),
                        'has-success': !outlineF.duration.errors
                    }">
                        <input
                        type="number"
                        class="form-control"
                        formControlName="duration"
                        placeholder="eg. 12"
                        (focus)="focus3Touched = true">
                    </div>
                    <div *ngIf="((focus3Touched || saveAttempt) && outlineF.duration.errors)">
                        <label
                        *ngFor="let error of objKeys(outlineF.duration.errors)"
                        class="error custom-error-label"
                        >{{ showError('duration', error) }}
                        </label>
                    </div>
                </div>
            </div>
            <!-- End of row -->

            <h5 class="mt-5">Program Pricing
                <a href="" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with pricing </span>
                </a>
            </h5>

            <!-- Program currency -->
            <div class=" row mt-3">

                <!-- Currency -->
                <div class=" col-6">
                    <div class="">
                        <label> Your Local Currency </label>
                    </div>
                    <app-select-currency
                    [currency]="outlineF?.currency?.value"
                    (currencyEvent)="onCurrencyEvent($event)">
                    </app-select-currency>
                </div>

            </div>
            <!-- End of row -->

            <!-- Pricing strategy (Can clients pay per session?) -->
            <div class=" row mt-4">
                <div class=" col">
                    <div class="">
                        <label> How can clients pay for this program? </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" id="pricing-radio-full" value="full" formControlName="pricingStrategy">
                            Clients must purchase this program in full (Full payment upfront)
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" id="pricing-radio-flexible" value="flexible" formControlName="pricingStrategy">
                            Clients can purchase this program in full or pay per individual session (Pay As You Go)
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- End of row -->

            <!-- Program pricing -->
            <div class=" row mt-4">

                <!-- Full program price -->
                <div class=" col-6">
                    <div class="">
                        <label> Program price </label>
                    </div>
                    <div
                    class="form-group"
                    [ngClass]="{
                        'has-danger':
                        ((focusTouched || saveAttempt) && outlineF.fullPrice.errors),
                        'has-success': !outlineF.fullPrice.errors
                    }">
                        <input
                        type="number"
                        class="form-control"
                        formControlName="fullPrice"
                        placeholder="eg. 199.99"
                        (focus)="focusTouched = true">
                    </div>
                    <div *ngIf="((focusTouched || saveAttempt) && outlineF.fullPrice.errors)">
                        <label
                        *ngFor="let error of objKeys(outlineF.fullPrice.errors)"
                        class="error custom-error-label"
                        >{{ showError('fullPrice', error) }}
                        </label>
                    </div>
                </div>
                <!-- End of full program price -->

                <!-- per session price (if flexible strategy selected) -->
                <div class=" col-6" *ngIf="outlineF?.pricingStrategy.value === 'flexible'">
                    <div class="">
                        <label> Price Per Session (if Pay As You Go is allowed) </label>
                    </div>
                    <div
                    class="form-group"
                    [ngClass]="{
                        'has-danger':
                        ((focus1Touched || saveAttempt) && outlineF.pricePerSession.errors),
                        'has-success': !outlineF.pricePerSession.errors
                    }">
                        <input
                        type="number"
                        class="form-control"
                        formControlName="pricePerSession"
                        placeholder="eg. 19.99"
                        (focus)="focus1Touched = true">
                    </div>
                    <div *ngIf="((focus1Touched || saveAttempt) && outlineF.pricePerSession.errors)">
                        <label
                        *ngFor="let error of objKeys(outlineF.pricePerSession.errors)"
                        class="error custom-error-label"
                        >{{ showError('pricePerSession', error) }}
                        </label>
                    </div>
                </div>
                <!-- End of price per session -->

            </div>
            <!-- End of row -->

            <!-- Promotions reminder -->
            <p class=" mt-4 small">
                <span class=" text-success">Pricing Tip</span>: After publishing your program, opt into the 'Deals' & 'Extended Promotions' programs in 
                <a [routerLink]="['/account']">'Account > Program Settings'</a> 
                to join our platform wide promotions programs. Discover more about these programs <a href="" target="_blank">here</a>.
            </p>

            <!-- Form submit button -->
            <div class=" pull-right">
                <button type="submit" class=" btn btn-primary btn-round btn-fill mt-4">
                    <span *ngIf="!saving">
                        <i class="fas fa-save"></i>
                      </span>
                      <span
                      *ngIf="saving"
                      class="spinner-border spinner-border-sm"
                      role="status"
                      ></span> {{ saving ? 'Saving...' : 'Save'}}
                </button>
            </div>

        </form>
    </div>
</div>
