<div class=" card">
  <div class=" card-body">
    <!-- form -->
    <form [formGroup]="dataForm">

      <!-- Search bar -->
      <h5 class=" card-title"> Search Coaches </h5>
      <div class=" row">
        <div class=" col-md-10">
          <div class="input-group input-group-lg" id="browse-search">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg" [ngClass]="{'focus': focus}">
                <i class=" tim-icons icon-zoom-split mr-3"></i>
              </span>
            </div>
            <input
            type="text"
            class="form-control"
            aria-label="Large"
            aria-describedby="inputGroup-sizing-sm"
            placeholder="eg. Health & Wellness Coach"
            [(ngModel)]="searchTerm"
            [ngModelOptions]="{standalone: true}"
            (focus)="focus = true; focusTouched = true"
            (blur)="focus = false"
            >
          </div>
        </div>
        <div class=" col-md-2">
            <a
            class="btn btn-primary btn-lg btn-round"
            [routerLink]="['/coaches']"
            [queryParams]="{q: searchTerm}"
            role="button"> Go! </a>
        </div>
      </div>
      <!-- end search bar -->

      <!-- row -->
      <div class=" row mt-1">
        <!-- match goals -->
        <div class=" col-md-3">
          <h5 class=" card-title">
            My Goals
            <span *ngIf="numGoals > 0" class=" badge badge-primary ml-1">
              {{ numGoals }}
            </span>
            <button
            type="button"
            class="btn btn-link btn-default ml-3"
            (click)="toggleGoals()"
            [attr.aria-expanded]="!goalsIsCollapsed"
            aria-controls="collapseGoals">
              {{ goalsIsCollapsed ? 'Show' : 'Hide' }}
            </button>
          </h5>
        </div>
        <!-- end match goals -->

        <!-- match challenges -->
        <div class=" col-md-3">
          <h5 class=" card-title">
            My Challenges
            <span *ngIf="numChallenges > 0" class=" badge badge-primary ml-1">
              {{ numChallenges }}
            </span>
            <button
            type="button"
            class="btn btn-link btn-default ml-3"
            (click)="toggleChallenges()"
            [attr.aria-expanded]="!challengesIsCollapsed"
            aria-controls="collapseChallenges">
              {{ challengesIsCollapsed ? 'Show' : 'Hide' }}
            </button>
          </h5>
        </div>
        <!-- end match challenges -->

        <!-- must be certified -->
        <div class=" col-md-3">
          <div class=" form-check">
            <label class=" form-check-label">
              <input class=" form-check-input" type="checkbox" name="certified" formControlName="showCertified" (change)="onCertifiedChange() ; makeNewRequest()" />
              <span class=" form-check-sign"> </span>
              Certified Coaches Only
            </label>
          </div>
        </div>
        <!-- end must be certified -->

        <!-- reset -->
        <div class=" col-md-3">
          <button
            type="button"
            class="btn btn-link btn-primary pull-right"
            (click)="reset()">
              Reset all options
            </button>
        </div>
        <!-- end reset -->

      </div>
      <!-- end row -->

      <!-- experience collapsible -->
      <div id="collapseExperience" [collapse]="experienceIsCollapsed" [isAnimated]="true">
        <div class=" row mb-3">
          <div class=" col-md-6">
            <!-- empty spacer col -->
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="icf" formControlName="icf" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                ICF
              </label>
            </div>
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="emcc" formControlName="emcc" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                EMCC
              </label>
            </div>
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="ac" formControlName="ac" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                AC
              </label>
            </div>
          </div>
        </div>
        <div class=" row mb-3">
          <div class=" col-md-6">
            <!-- empty spacer col -->
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="foundation" formControlName="foundation" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                Foundation
              </label>
            </div>
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="experienced" formControlName="experienced" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                Experienced
              </label>
            </div>
          </div>
          <div class=" col-md-2">
            <div class=" form-check mt-0">
              <label class=" form-check-label">
                <input class=" form-check-input" type="checkbox" name="master" formControlName="master" (change)="makeNewRequest()" />
                <span class=" form-check-sign"> </span>
                Highly Experienced
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end experience -->

      <!-- row -->
      <div class=" row">
        <div class=" col">

            <!-- goals collapse -->
            <div id="collapseGoals" [collapse]="goalsIsCollapsed" [isAnimated]="true">
              <div class=" mb-3">
                <app-chips-multi-select [options]="goalOptions" formControlName="goals" (changeEvent)="makeNewRequest()"></app-chips-multi-select>
              </div>
            </div>
            <!-- end goals collapse -->

            <!-- challenges collapse -->
            <div id="collapseChallenges" [collapse]="challengesIsCollapsed" [isAnimated]="true">
              <div class=" mb-3">
                <app-chips-multi-select [options]="challengeOptions" formControlName="challenges" (changeEvent)="makeNewRequest()"></app-chips-multi-select>
              </div>
            </div>
            <!-- end challenges collapse -->

        </div>
      </div>
      <!-- end row -->

      <!-- row -->
      <div class=" row mt-2">
        <div class=" col-md-3">
          <h5 class=" card-title"> Category </h5>
          <div class="form-group">
            <select class="form-control" formControlName="category" (change)="makeNewRequest()">
              <option [value]="null">
                Any
              </option>
              <option *ngFor="let cat of specialitiesList" [value]="cat.itemName">
                {{ cat.itemName }}
              </option>
            </select>
          </div>
        </div>
        <div class=" col-md-3">
          <h5 class=" card-title"> Gender </h5>
          <div class="form-group">
            <select class="form-control" formControlName="gender" (change)="makeNewRequest()">
              <option value="any">
                Any gender
              </option>
              <option value="female">
                Female coaches
              </option>
              <option value="male">
                Male coaches
              </option>
            </select>
          </div>
        </div>
        <div class=" col-md-3">
          <h5 class=" card-title"> Country </h5>
          <div class="form-group">
            <select class="form-control" formControlName="country" (change)="clearCity() ; makeNewRequest()">
              <option [value]="null">
                Anywhere
              </option>
              <option *ngFor="let country of coachCountries" [value]="country.itemName">
                {{ country.itemName }}
              </option>
            </select>
          </div>
        </div>
        <div class=" col-md-3">
          <h5 class=" card-title"> City </h5>
          <div class="form-group">
            <select class="form-control" formControlName="city" (change)="makeNewRequest()">
              <option [value]="null">
                Anywhere
              </option>
              <option *ngFor="let city of coachCities" [value]="city.itemName">
                {{ city.itemName }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- end row -->

    </form>
    <!-- end form -->

  </div>
</div>
