<div class=" content">

    <h5 class=" title"> My Coaching Products & Services 
        <a href="" target="_blank">
            <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> What are products & services? </span>
        </a>
    </h5>

    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-body">
                    <p>
                        Add your coaching products and services below to link them to your Lifecoach profile 
                        and promote them through the platform.
                    </p>
                    <p>
                        Not sure how? <a href="" target="_blank">
                        Read the guide.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Programs -->
    <div id="coach-programs">
        
        <div class="row mt-5">
            <div class="col">
                <button
                    type="button"
                    class=" btn btn-primary btn-fill btn-round pull-right mb-3"
                    (click)="createProgram()">
                    <i class=" tim-icons icon-simple-add"></i> Create Program
                </button>
                <h5 class=" title"> Programs 
                    <a href="" target="_blank">
                        <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> What are programs? </span>
                    </a>
                </h5>
                <p>
                    Package your coaching sessions into goal based coaching programs.
                </p>
            </div>
        </div>

        <!-- no programs created yet -->
        <div class=" row" *ngIf="!publishedPrograms || publishedPrograms && publishedPrograms.length === 0">
            <div class=" col">
                <div class=" card">
                    <div class=" card-body">
                        <p>
                            <i class="fas fa-info-circle"></i> You haven't created any coaching programs yet.
                        </p>
                        <p>
                            Click the 'Create Program' button above to create one now!
                        </p>
                        <p>
                            Not sure how? <a href="" target="_blank">
                            Read the guide.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- coach has created at least 1 program -->
        <div class=" row mt-3" *ngIf="publishedPrograms && publishedPrograms.length > 0">
            <div *ngFor="let program of publishedPrograms ; let i = index" class=" col-md-4">
                <a [routerLink]="['/my-programs', program.programId, 'content']">
                    <div class=" card">

                        <img
                        class="card-img-top"
                        [src]="program.image ? program.image : 'assets/img/image_placeholder.jpg'"
                        [alt]="program.title" />

                        <div class=" card-body">
                            <h4 class="card-title"> {{ program?.title }} </h4>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ program?.subtitle }} </h6>
                            <div>
                                <span *ngIf="program?.reviewRequest?.status === 'submitted'" class=" badge badge-info ml-2">
                                    SUBMITTED FOR REVIEW
                                </span>
                                <span *ngIf="program?.reviewRequest?.status === 'approved'" class=" badge badge-success ml-2">
                                    PUBLISHED
                                </span>
                                <span *ngIf="program?.reviewRequest?.status === 'rejected'" class=" badge badge-danger ml-2">
                                    NEEDS ACTION
                                </span>
                                <span *ngIf="!program?.reviewRequest?.status" class=" badge badge-warning ml-2">
                                    DRAFT
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>

    <!-- eCourses -->
    <div id="coach-e-courses">

        <div class="row mt-5">
            <div class="col">
                <button
                    type="button"
                    class=" btn btn-primary btn-fill btn-round pull-right mb-3"
                    (click)="createCourse()">
                    <i class=" tim-icons icon-simple-add"></i> Create eCourse
                </button>
                <h5 class=" title"> eCourses 
                    <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001135032-what-are-courses-" target="_blank">
                        <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> What are eCourses? </span>
                    </a>
                </h5>
                <p>
                    Turn your coaching material into eCourses that clients can access on-demand.
                </p>
            </div>
        </div>

        <!-- no ecourses created yet -->
        <div class=" row" *ngIf="!publishedCourses || publishedCourses && publishedCourses.length === 0">
            <div class=" col">
                <div class=" card">
                    <div class=" card-body">
                        <p>
                            <i class="fas fa-info-circle"></i> You haven't created any eCourses yet.
                        </p>
                        <p>
                            Click the 'Create eCourse' button above to create one now!
                        </p>
                        <p>
                            Not sure how? <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001135032-what-are-courses-" target="_blank">
                            Read the guide.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- coach has created at least 1 ecourse -->
        <div class=" row mt-3" *ngIf="publishedCourses && publishedCourses.length > 0">
            <div *ngFor="let course of publishedCourses ; let i = index" class=" col-md-4">
                <a [routerLink]="['/my-courses', course.courseId, 'content']">
                    <div class=" card">

                        <!-- Card image -->
                        <img
                        class="card-img-top"
                        [src]="course.image ? course.image : 'assets/img/image_placeholder.jpg'"
                        [alt]="course.title" />

                        <!-- Card body -->
                        <div class=" card-body">
                            <h4 class="card-title"> {{ course?.title }} </h4>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ course?.subtitle }} </h6>
                            <div>
                                <span *ngIf="course?.reviewRequest?.status === 'submitted'" class=" badge badge-info ml-2">
                                    SUBMITTED FOR REVIEW
                                </span>
                                <span *ngIf="course?.reviewRequest?.status === 'approved'" class=" badge badge-success ml-2">
                                    PUBLISHED
                                </span>
                                <span *ngIf="course?.reviewRequest?.status === 'rejected'" class=" badge badge-danger ml-2">
                                    NEEDS ACTION
                                </span>
                                <span *ngIf="!course?.reviewRequest?.status" class=" badge badge-warning ml-2">
                                    DRAFT
                                </span>
                            </div>
                            <div>
                                <blockquote class="blockquote mt-3 mb-0">
                                    <h6>
                                        <span class=" text-muted">
                                            Earned this month: 
                                        </span>
                                    </h6>
                                    <div *ngIf="publishedCourses[i]?.monthlyEarnings" class="">
                                        <!-- list each unique currency's total sales amount -->
                                        <p *ngFor="let key of objKeys(publishedCourses[i]?.monthlyEarnings)">
                                            {{ currencies[key.toUpperCase()].symbol + publishedCourses[i].monthlyEarnings[key].monthTotalInThisCurrency }}
                                        </p>
                                    </div>
                                    <!-- no sales this month -->
                                    <div *ngIf="publishedCourses[i]?.monthlyEarnings">
                                        <p *ngIf="objKeys(publishedCourses[i].monthlyEarnings).length == 0">
                                            0
                                        </p>
                                    </div>

                                    <!-- lifetime total enrollments for this course -->
                                    <div *ngIf="publishedCourses[i]?.lifetimeTotals">
                                        <h6>
                                            <span class=" text-muted">
                                                Lifetime total earnings: 
                                            </span>
                                        </h6>
                                        <div *ngFor="let key of objKeys(publishedCourses[i].lifetimeTotals)">
                                            <p *ngIf="key !== 'free'">
                                                {{ currencies[(key).toUpperCase()].symbol + publishedCourses[i].lifetimeTotals[key].lifetimeTotalAmount / 100 }}
                                            </p>
                                        </div>
                                        <h6 class="">
                                            <span class=" text-muted">
                                                Lifetime total enrollments: 
                                            </span>
                                        </h6>
                                        <p>
                                            {{ publishedCourses[i].lifetimeTotalSales }}
                                        </p>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>

    <!-- Services ???
    <div *ngIf="publishedServices && publishedServices.length > 0">
        <div class=" row">
            <div class=" col-12">
                <button
                type="button"
                class=" btn btn-primary btn-fill btn-round pull-right"
                (click)="onAddCoachingService()"
                [routerLink]="['/services', 'new']"
                [disabled]="false">
                    <i class=" tim-icons icon-simple-add"></i> Add Service
                </button>
            </div>
        </div>
        <h5 class=" title"> Services ??? </h5>
        <div class=" row mt-3">
            <div *ngFor="let service of publishedServices ; let i = index" class=" col-md-4">
                <a [routerLink]="['/services', service.id, 'edit']">
                    <div class=" card">

                        <img
                        class="card-img-top"
                        [src]="service.image ? service.image : 'assets/img/image_placeholder.jpg'"
                        [alt]="service.title" />

                        <div class=" card-body">
                            <h4 class="card-title"> {{ service?.title }} </h4>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ service?.subtitle }} </h6>
                        </div>

                    </div>
                </a>
                
            </div>
        </div>
    </div>
    -->

</div>