<div class=" content">

    <!-- Loading spinner -->
    <div *ngIf="!browser" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- if browser -->
    <div *ngIf="browser">

        <h4> Review This Service </h4>

        <!-- If previously rejected -->
        <div *ngIf="service?.reviewRequest?.rejected" class=" card">
            <div class=" card-header">
                <h6> Resubmission <i class="tim-icons icon-alert-circle-exc text-warning ml-1"> </i> </h6>
            </div>
            <div class="card-body">
                This service was previously rejected on 
                <span class=" text-warning">
                    {{ getDisplayDate(service?.reviewRequest?.rejected) }}
                </span> 
                 by Admin User 
                <span class=" text-warning">
                    {{ service?.reviewRequest?.reviewerUid }}
                </span>
                 for the following reason(s):
                <div class=" highlight-box">
                    {{ service.reviewRequest.rejectData.reason }}
                </div>
            </div>
        </div>

        <!-- Service cover img if service loaded and image exists -->
        <div *ngIf="service && service.image"
        class="jumbotron jumbotron-fluid" 
        [ngStyle]="{'background-image': 'url(' + service.image +')'}"
        style="height: 60vh; background-position: center; background-size: cover; background-repeat: no-repeat;">
        </div>

        <!-- Placeholder cover img if service loaded and no image exists -->
        <div *ngIf="service && !service.image"
        class="jumbotron jumbotron-fluid" 
        style="height: 60vh; background-color: white;">
            <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                <img
                class=" mt-5"
                [src]="'assets/img/awaiting-image.png'"
                [alt]="service.title"
                style="height: 300px;" />
                </div>
            </div>
            </div>
        </div>

        <div class="">
            <div class=" container">

                <p>TODO!</p>

                <!-- Admin review decision panel row -->
                <div *ngIf="service" class=" row">
                    <div class=" col">
                        <div class=" card">
                            <div class=" card-header">
                                <h4> Admin Actions </h4>
                            </div>

                            <div class="card-body">
                                <div class=" row">
                                    <div class=" col">
                                        <div class=" card-title">
                                            <h5> View Public Coach Profile (new window) </h5>
                                        </div>
                                        <a target="_blank" [routerLink]="['/coach', service.sellerUid]">
                                            <button class="btn btn-default btn-round">
                                                <i class="fas fa-user"></i> View Coach Profile
                                            </button>
                                        </a>
                                    </div>
                                </div>

                                <div class=" row mt-4">
                                    <div class=" col">
                                        <div class=" card-title">
                                            <h5> Upload a Service Image </h5>
                                            <app-picture-upload 
                                            [avatar]="false" 
                                            [inputImg]="service.image" 
                                            (messageEvent)="onImageUpload($event)">
                                            </app-picture-upload>
                                        </div>
                                    </div>
                                </div>

                                <div class=" row">
                                    <div class=" col">
                                        <div class="pull-right">
                                            <div class=" card-title">
                                                <h5> Review Decision </h5>
                                            </div>
                                            <button class="btn btn-round btn-danger mr-2" (click)="rejectModal.show()">
                                                <i class="fas fa-thumbs-down"></i> Reject 
                                            </button>
                                            <button class="btn btn-round btn-success" (click)="approveService()"
                                            [disabled]="!service.image">
                                                <span *ngIf="!approving">
                                                    <i class="fas fa-thumbs-up"></i>
                                                </span>
                                                <span
                                                *ngIf="approving"
                                                class="spinner-border spinner-border-sm"
                                                role="status"
                                                ></span> {{ approving ? 'Approving...' : 'Approve'}} 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end admin review decision panel row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end if browser -->

    <!-- Reject modal -->
    <div
    aria-hidden="true"
    aria-labelledby="rejectModalLabel"
    bsModal
    class="modal fade"
    #rejectModal="bs-modal"
    id="rejectModal"
    role="dialog"
    tabindex="-1"
    >
    <div class="modal-dialog" style="transform: translate(0,0);">
        <div class="modal-content">
        <div class="modal-body">
            <div class="card card-login card-white">
                <div class=" card-header">
                <h1 class=" card-title"> Reject This Service </h1>
                </div>
                <div class=" card-body">
                    <form [formGroup]="rejectForm">
                        <div class="form-group">
                            <label for="rejectReason"> Reason </label>
                            <textarea
                            class="form-control"
                            id="rejectReason"
                            rows="3"
                            formControlName="reason"
                            (focus)="focus = true; focusTouched = true"
                            (blur)="focus = false"
                            [ngClass]="{
                                'has-danger':
                                ((focusTouched || rejecting) &&
                                    rejectF.reason.errors) ||
                                (rejectF.reason.value != '' &&
                                    rejectF.reason.errors),
                                'has-success': !rejectF.reason.errors
                            }">
                            </textarea>
                            <label
                            class="error custom-error-label"
                            *ngIf="
                            ((focusTouched || rejecting) &&
                            rejectF.reason.errors) ||
                            (rejectF.reason.value != '' &&
                            rejectF.reason.errors)"
                            > Please provide a reason. Note: The user will see this!
                            </label>
                          </div>
                    </form>
                    <!-- Submit Button -->
                    <button
                    class=" btn btn-primary btn-lg btn-block btn-round mt-4 mb-3"
                    type="button"
                    (click)="rejectService()"
                    >
                        <span
                        *ngIf="rejecting"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        ></span> {{ rejecting ? 'Rejecting...' : 'Confirm Reject' }}
                    </button>

                    <!-- Cancel Button -->
                    <button
                    class=" btn btn-success btn-lg btn-block btn-round mt-4 mb-3"
                    (click)="rejectModal.hide()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- End of reject modal -->

</div>
