#section-hero {
    margin-top: 60px;

    #about-jumbotron {
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.6)), url('../../../assets/img/lifecoach-coaching-coaches.png') no-repeat bottom center / cover;

        .container {
            padding-top: 100px;
        }
    }
}

.top-section-margin {
    margin-top: 100px;
}

.bottom-section-margin {
    margin-bottom: 100px;
}

.top-row-margin {
    margin-top: 50px;
}
