 <app-auth-navbar></app-auth-navbar>

<div class="full-page about-page">

  <!-- Hero -->
  <section id="section-hero">
      <div class="jumbotron jumbotron-fluid custom-jumbotron" id="about-jumbotron">
          <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-10">
                <h1 class="display-1"> Give The Gift Of Coaching </h1>

                <h3>
                    Together, Let's build a more empowered world.
                </h3>
    
                <!-- <p class="lead">
                    <a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register']" role="button"> Try FREE </a>
                </p> -->
                </div>
            </div>
          </div>
      </div>
  </section>

    <!-- Section 1 -->
    <section id="section-one" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10">
                    <h2 class="display-3">
                    Our <span class="text-success">Story</span> </h2>

                    <h4>
                        Lifecoach is an all-in-one Digital Coaching Platform. We exist to empower millions of people 
                        around the world to connect with high quality coaching. Why? To progress, improve, solve problems, 
                        level up, overcome obstacles. Simply put:- to change their lives for the better. Whether it's through 100% online, 
                        local, remote, self-study, personal, one-to-one, or group coaching - our mission is to make 
                        coaching more accessible to those who need it most. Founded in 2020 and headquartered in London, 
                        Lifecoach is 100% founder-owned and dedicated to serving it's community with passion and a 
                        steadfast sense of purpose.
                    </h4>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!-- Section 2 -->
  <section id="section-two" class=" padded-section">
      <div class=" content">
          <div class=" container">
              <div class="row justify-content-center text-center">
                  <div class="col-md-10">
                  <h2 class="display-3">
                  <span class="text-info">Founder</span> Story</h2>

                  <h4>
                    Back in 2010, Greg Hamilton was growing disillusioned with his job as a Senior Airline Pilot. The relentless stress of enormous time pressures, monotony of flying the same routes and complete lack of sleep pattern were beginning to take their toll on his health. A few years later, on the way to work, he suffered a breakdown. Initially diagnosed as 'burnout', that diagnosis would soon be changed to chronic depression.
                  </h4>
                  <h4>
                    It was clear to Greg that he needed a new career. He fell back to his hobby. Something that he loved. Something that interested him: Computers. While he loved messing around with computers, he had no formal training and no idea how to create computer programs. As it happened, online-learning platforms were only just getting started and fortunately, had a strong focus on computer programming languages.
                  </h4>
                  <h4>
                    The course that Greg enrolled in would change his life forever. He learned how to code in a funny language called GML. A few courses later and he could code in 6 languages. He started building websites, mobile apps and games. He loved having both the creative outlet and the technical skills to build things, but more than that, he loved how easy it was to access life changing knowledge through online courses and access to people from all walks of life who happened to be incredible teachers in their spare time.
                  </h4>
                  <h4>
                    In 2018 Greg decided to create his own online course. To share the knowledge that he had gained in a way that he hoped would help other people to progress with learning how to code much faster than he had done. His course went on to become an international best seller on two of the world's largest online course platforms. Some of his students were as young as 8. Others were 60. All of them telling him how much the course had changed their lives. He became hooked on helping people.
                  </h4>
                  <h4>
                    Greg's next challenge was restoring his health after a long period of struggling with depression. After years of trying, and failing on his own, he committed to trying something new: coaching. He heard about the benefits, and wished he could have someone helping him one-to-one, but no idea where to look. After eventually finding someone who looked promising, the idea of committing to a 12 week program seemed daunting. How could he know if his coach would help him to change and ultimately to succeed? Accepting the dire need for help, he 'signed up'.
                  </h4>

                  <div class=" row mt-5">
                    <div class=" col">
                        <div class=" card card-testimonial">
                          <div class=" card-header card-header-avatar">
                            <a href="javascript:void(0)">
                              <img
                                alt="Card image"
                                class=" img img-raised"
                                src="assets/img/greg.jpg"
                              />
                            </a>
                          </div>
                          <div class=" card-body">
                            <p class=" card-description">
                                Signing up with Dave was one of the best decisions of my life. 
                                Having someone who's 'been there, done that and earned their wisdom' in my corner 
                                has been priceless. Someone to keep me on track when I feel like I'm failing. 
                                Someone to keep me moving forward when I feel like giving up. 
                                Someone I can trust when I can't trust myself. That's what my Coach Dave is to me. 
                                He's helped me to eat right, think right and to build myself both physically and 
                                mentally - teaching me resilience, discipline, self-belief and new ways 
                                of thinking about old 'problems'. Much of what I knew about myself was wrong. 
                                What I thought I couldn't do, I can do. I want this experience for everyone.
                            </p>
                            <div class=" icon icon-primary text-center" style="width: 100%;">
                              <i class=" fa fa-quote-right"> </i>
                            </div>
                          </div>
                          <div class=" card-footer">
                            <h4 class=" card-title">Greg Hamilton</h4>
                            <p class=" category">Founder</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <h4 class=" mt-5">
                    Greg founded Lifecoach in 2020, after 6 months of working with Dave and with a clear mission to 
                    build a coaching platform that delivers life changing experiences. He has a 
                    burning desire to share the magic that happens when human beings connect with each other, support 
                    each other and most of all, encourage each other on our journeys. Where will that lead us? We're only just 
                    getting started, so let's find out together!
                  </h4>
      
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

<app-page-footer></app-page-footer>
