<!-- Loading spinner -->
<div *ngIf="!program" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- when program loaded -->
<div *ngIf="program">
    <!-- sessions & durations set -->
    <div *ngIf="program.numSessions && program.duration">
        <div class=" row">
            <!-- program duration card -->
            <div class=" col-lg-6 col-xs-12">
                <div class=" card card-pricing card-primary">
                  <div class=" card-body">
                    <h1 class=" card-title">duration</h1>
                    <img
                      alt="Image"
                      class=" card-img"
                      src="assets/img/card-primary.png"
                    />
      
                    <ul class=" list-group">
                      <li class=" list-group-item">Typical Duration</li>
                    </ul>
                    <div class=" card-prices">
                      <h3 class=" text-on-front">{{ program.duration }}</h3>
                      <h5 class=" text-on-back">{{ program.duration }}</h5>
                      <p class=" plan">Week coaching program</p>
                    </div>
                  </div>
                </div>
            </div>
            <!-- program sessions card -->
            <div class=" col-lg-6 col-xs-12">
                <div class=" card card-pricing card-success card-white">
                  <div class=" card-body">
                    <h1 class=" card-title">sessions</h1>
                    <img
                      alt="Image"
                      class=" card-img"
                      src="assets/img/card-success.png"
                    />
      
                    <ul class=" list-group">
                      <li class=" list-group-item">You Get</li>
                    </ul>
                    <div class=" card-prices">
                      <h3 class=" text-on-front">{{ program.numSessions }}</h3>
                      <h5 class=" text-on-back">{{ program.numSessions }}</h5>
                      <p class=" plan">Private 1-to-1 video coaching sessions</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- No sessions or duration yet -->
    <div *ngIf="!program.numSessions || !program.duration">
        <p>
            Awaiting session information.
        </p>
    </div>
</div>
