<div class=" card">
    <div class=" card-body">

        <div *ngIf="true">
            <!-- Preview course as student -->

            <h5>
                Preview your course as a Student
            </h5>

            <p>
                See how your course looks & feels in the Student Learning Centre.
            </p>

            <div *ngIf="course?.lectures?.length > 0" class=" mt-3">
                <a
                [routerLink]="['/course', course?.courseId, 'learn']"
                [queryParams]="{previewAsStudent: true}"
                target="_blank">
                    <button
                    type="button"
                    class="btn btn-success btn-round">
                        Preview Course
                    </button>
                </a>
            </div>

            <!-- permanently disbaled button until at least one lecture saved -->
            <div *ngIf="course?.lectures?.length === 0" class=" mt-3">

                <p class="text-danger">
                    You must add at least 1 lecture before you can preview your course.
                </p>

                <a
                href="javascript:void(0)">
                    <button
                    type="button"
                    class="btn btn-success btn-round"
                    [disabled]="true">
                        Preview Course
                    </button>
                </a>
            </div>

        </div>

        <div class=" mt-5">
            <!-- Delete course-->

            <h5>
                Delete this course
            </h5>

            <div class=" mt-3">
                <button
                type="button"
                class="btn btn-danger btn-round"
                (click)="onDeleteCourse()">
                    Delete Course
                </button>
            </div>

        </div>

    </div>
</div>
