<div>
    <form [formGroup]="reviewForm">
        <div id="stars" class="d-inline-block">
            <fieldset class="rating">
                <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
                    <!-- full star -->
                    <input
                    [id]="uniqueComponentString+'star'+num"
                    [value]="num-0.5"
                    [checked]="reviewForm?.controls.rating.value !== 0 && num >= reviewForm?.controls.rating.value"
                    name="rating" 
                    type="radio">
              
                    <label class="full" [for]="'star'+num" (click)="onRatingChange(num)"></label>
              
                    <!-- half star -->
                    <input 
                    [value]="num-0.5"
                    [id]="uniqueComponentString+'halfstar'+num" 
                    [checked]="reviewForm?.controls.rating.value !== 0 && num - 0.5 >= reviewForm?.controls.rating.value"
                    name="rating" 
                    type="radio">
              
                    <label class="half" [for]="'halfstar'+num" (click)="onRatingChange(num - 0.5)"></label>
              
                </ng-container>
              </fieldset>
        </div>
        <div class="form-group">
            <label for="reviewSummary">
            Leave a short review? (optional)
            </label>
            <textarea
            class="form-control"
            [id]="uniqueComponentString+'reviewSummary'"
            rows="3"
            placeholder="Tell us about your experience with this course. Was it a good match for you?"
            formControlName="summary"
            ></textarea>
        </div>
    </form>
</div>
<!-- TODO wire up submit button & formControlName for summary -->
<button type="button" class=" btn btn-primary btn-block" (click)="submit()">
Submit
</button>
