<app-auth-navbar></app-auth-navbar>

<div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <form
        class=" form"
        id="loginValidation"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        >
          <div class=" card card-login card-white">
            <div class=" card-header">
              <img alt="" src="assets/img/card-primary.png" />

              <h1 class=" card-title"> Log in </h1>
            </div>
            <div class=" card-body">

              <!-- Email -->
              <div
                class=" input-group"
                [ngClass]="{
                  'has-danger':
                    ((focusTouched || login) && loginF.email.errors) ||
                    (loginF.email.value != '' && loginF.email.errors),
                  'has-success': loginF.email.value != '' && !loginF.email.errors
                }"
              >
                <div class=" input-group-prepend">
                  <div class=" input-group-text">
                    <i class=" tim-icons icon-email-85"> </i>
                  </div>
                </div>
                <input
                  class=" form-control"
                  name="email"
                  formControlName="email"
                  placeholder="Email"
                  type="email"
                  (focus)="focusTouched = true"
                  required=""
                />
              </div>
              <div
                class="error custom-error-label"
                *ngIf="
                  ((focusTouched || login) && loginF.email.errors) ||
                  (loginF.email.value != '' && loginF.email.errors)
                "
                > Please enter your login email address.
              </div>

              <!-- Password -->
              <div
                class=" input-group"
                [ngClass]="{
                  'has-danger':
                    ((focusTouched1 || login) && loginF.password.errors) ||
                    (loginF.password.value != '' && loginF.password.errors),
                  'has-success': loginF.password.value != '' && !loginF.password.errors
                }"
              >
                <div class=" input-group-prepend">
                  <div class=" input-group-text">
                    <i class=" tim-icons icon-lock-circle"> </i>
                  </div>
                </div>
                <input
                  class=" form-control"
                  name="password"
                  formControlName="password"
                  placeholder="Password"
                  type="password"
                  (focus)="focusTouched1 = true"
                  required=""
                />
              </div>
              <div
                class="error custom-error-label"
                *ngIf="
                  ((focusTouched1 || login) && loginF.password.errors) ||
                  (loginF.password.value != '' && loginF.password.errors)
                "
                > Your password has at least 6 characters.
              </div>

            </div>
            <div class=" card-footer">
              <!-- Login Submit Button -->
              <button
              class=" btn btn-primary btn-lg btn-block btn-round mb-3"
              type="submit"
              [disabled]="loginForm.invalid"
              >
                <span
                *ngIf="login"
                class="spinner-border spinner-border-sm"
                role="status"
                ></span> {{ login ? 'Logging in...' : 'Login' }}
              </button>
              <div class=" pull-left">
                <h6>
                  <a class=" link footer-link" href="javascript:void(0)" (click)="forgotPassword()">
                    Forgotten Password? 
                  </a>
                </h6>
              </div>
              <div class=" pull-right">
                <h6>
                  <a class=" link footer-link" href="https://lifecoach.freshdesk.com/support/home" target="_blank">
                    Need Help?
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
