<div>
  <!-- calendar head -->
  <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
  </app-calendar-header>
  <!-- calendar body -->
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (columnHeaderClicked)="onColumnClicked($event)"
    (dayClicked)="onDayClicked($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (dayHeaderClicked)="onDayHeaderClicked($event)"
    (hourSegmentClicked)="onHourSegmentClicked($event)"
  >
    <!--      (eventClicked)="eventClicked($event)"-->
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (hourSegmentClicked)="onHourSegmentClicked($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- TESTING -->
<!-- <div id="meet"></div> -->

<!-- event detail modal -->
<div
  aria-hidden="true"
  aria-labelledby="eventDetailModalLabel"
  bsModal
  class="modal fade"
  #eventDetailModal="bs-modal"
  id="eventDetailModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-login card-white">
          <div class=" card-header">
            <div class=" row">
              <div class=" col">
                <div class=" pull-right">
                  <i
                    class="far fa-edit text-default mr-3"
                    tooltip="Edit this event"
                    (click)="onEditEvent()">
                  </i>
                  <i
                    class="far fa-trash-alt text-danger mr-3"
                    tooltip="Delete this event"
                    (click)="onDetailDeleteEvent()">
                  </i>
                  <i
                    class="fas fa-times text-default"
                    tooltip="Close"
                    (click)="onEventDetailModalClose()">
                  </i>
                </div>
              </div>
            </div>
            <h1 class=" card-title">
              {{ activeEvent?.title }}
            </h1>
          </div>
          <div class=" card-body">

<!--            <p>-->
<!--              <i class="far fa-calendar-alt"></i>-->
<!--              {{ activeEvent?.start }}-->
<!--            </p>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end event detail modal -->

<!-- edit event modal -->
<div
  aria-hidden="true"
  aria-labelledby="editEventModalLabel"
  bsModal
  class="modal fade"
  #editEventModal="bs-modal"
  id="editEventModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-login card-white">

          <div class=" card-body">

            <!-- close cross -->
            <div class=" row">
              <div class=" col">
                <div class=" pull-right">
                  <i
                    class="fas fa-times text-default"
                    tooltip="Close"
                    (click)="onEditEventModalClose()">
                  </i>
                </div>
              </div>
            </div>

            <form [formGroup]="activeEventForm">

              <!-- title -->
<!--              <div class=" form-group">-->
<!--                <label for="title"> Title <span class="required-star">*</span></label>-->
<!--                <input-->
<!--                  id="title"-->
<!--                  type="text"-->
<!--                  disabled-->
<!--                  class="form-control"-->
<!--                  formControlName="title"-->
<!--                  placeholder="eg. Check in"-->
<!--                >-->
<!--              </div>-->

              <div>
                <label for="starttime"> Start <span class="required-star">*</span></label>
              </div>

              <div class=" row">
<!--                <div class=" col-md-6">-->
<!--                  &lt;!&ndash; start date &ndash;&gt;-->
<!--                  <div class=" form-group">-->
<!--                    &lt;!&ndash; https://valor-software.com/ngx-bootstrap/#/datepicker &ndash;&gt;-->
<!--                    <input-->
<!--                      bsDatepicker-->
<!--                      class="form-control"-->
<!--                      data-datepicker-color="primary"-->
<!--                      [bsConfig]="{ isAnimated: true, containerClass: 'theme-green' }"-->
<!--                      formControlName="start"-->
<!--                      id="startdate"-->
<!--                      type="text"-->
<!--                    />-->
<!--                  </div>-->
<!--                </div>-->

                <div class=" col-md-6">
                  <!-- start time -->
                  <div class=" form-group">
                    <!-- https://valor-software.com/ngx-bootstrap/#/timepicker -->
<!--                    <timepicker-->
<!--                      formControlName="start"-->
<!--                      [showSpinners]="false"-->
<!--                      [showMeridian]="false"-->
<!--                      type="number"-->
<!--                      id="starttime">-->
<!--                    </timepicker>-->
                    <select name="starttime" formControlName="start" id="starttime" (change)="onChangeStartTimeHandler($event)">
                      <option *ngFor="let time of startTimes"
                              [value]="time"
                              >
                        {{time | date:'HH:mm'}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div>
                <label for="endtime"> End </label>
              </div>

              <div class=" row">
<!--                <div class=" col-md-6">-->
<!--                  &lt;!&ndash; start date &ndash;&gt;-->
<!--                  <div class=" form-group">-->
<!--                    &lt;!&ndash; https://valor-software.com/ngx-bootstrap/#/datepicker &ndash;&gt;-->
<!--                    <input-->
<!--                      bsDatepicker-->
<!--                      class="form-control"-->
<!--                      data-datepicker-color="primary"-->
<!--                      [bsConfig]="{ isAnimated: true, containerClass: 'theme-green' }"-->
<!--                      formControlName="end"-->
<!--                      id="enddate"-->
<!--                      type="text"-->
<!--                    />-->
<!--                  </div>-->
<!--                </div>-->

                <div class=" col-md-6">
                  <!-- start time -->
<!--                  <div class=" form-group">-->
<!--                    &lt;!&ndash; https://valor-software.com/ngx-bootstrap/#/timepicker &ndash;&gt;-->
<!--                    <timepicker-->
<!--                      formControlName="end"-->
<!--                      [showSpinners]="false"-->
<!--                      [showMeridian]="false"-->
<!--                      type="number"-->
<!--                      id="endtime">-->
<!--                    </timepicker>-->
<!--                  </div>-->
                  <select name="end" formControlName="end"  id="endtime">
                    <option  *ngFor=" let time of endTimes; let i = index"
                             [defaultSelected]="time==endTimes[0]"
                             [ngValue]="time"
                            >
                      {{time | date:'HH:mm'}}
                    </option>
                  </select>
                </div>

              </div>


              <!-- description -->
<!--              <div class="form-group">-->
<!--                <label for="description">-->
<!--                  Description-->
<!--                </label>-->
<!--                <textarea-->
<!--                  class="form-control"-->
<!--                  id="description"-->
<!--                  rows="3"-->
<!--                  placeholder="Description..."-->
<!--                  formControlName="description"-->
<!--                ></textarea>-->
<!--              </div>-->

            </form>

            <!-- <p>
              <i class="far fa-calendar-alt"></i>
              {{ activeEvent?.start }}
            </p> -->

<!--            <button class=" btn btn-danger btn-block mt-3" (click)="onEditDeleteEvent()">-->
<!--              Cancel Event-->
<!--            </button>-->

            <button class=" btn btn-primary btn-block mt-3" (click)="onUpdateEvent()">
              Save Event
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- edit event modal -->

<!-- cancel event modal -->
<div
  aria-hidden="true"
  aria-labelledby="cancelEventModalLabel"
  bsModal
  class="modal fade"
  #cancelEventModal="bs-modal"
  id="cancelEventModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-login card-white">
          <div class=" card-header">
            <div class=" row">
              <div class=" col">
                <div class=" pull-right">
                  <i
                    class="fas fa-times text-default"
                    tooltip="Close"
                    (click)="onCancelEventModalClose()">
                  </i>
                </div>
              </div>
            </div>
            <h1 class=" card-title">
              Cancel Event
            </h1>
          </div>
          <div class=" card-body">

            <p>
              Send an update to the other person?
            </p>

            <div class=" row">
              <div class=" col-md-6">
                <button class=" btn btn-default btn-block mt-3" (click)="onDeleteEvent(false)">
                  No
                </button>
              </div>
              <div class=" col-md-6">
                <button class=" btn btn-primary btn-block mt-3" (click)="onDeleteEvent(true)">
                  Yes
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cancel event modal -->
