<div>
  <!-- calendar head -->
  <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
  </app-calendar-header>
  <!-- calendar body -->
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (columnHeaderClicked)="onColumnClicked($event)"
    (dayClicked)="onDayClicked($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (dayHeaderClicked)="onDayHeaderClicked($event)"
    (hourSegmentClicked)="onHourSegmentClicked($event)"
  >
    <!--      (eventClicked)="eventClicked($event)"-->
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (hourSegmentClicked)="onHourSegmentClicked($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- event detail modal -->
<div
  aria-hidden="true"
  aria-labelledby="eventDetailModalLabel"
  bsModal
  class="modal fade"
  #eventDetailModal="bs-modal"
  id="eventDetailModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> {{ activeEvent?.title }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onEventDetailModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-login card-white">
          <!-- <div class=" card-header">

          </div> -->
          <div class=" card-body">

            <!-- day -->
            <div class=" row">
              <div class=" col">
                <label> Date: </label>
                <p>
                  <i class="fas fa-calendar text-muted"></i>
                  {{ getDisplayDate(activeEvent?.start) }}
                </p>
              </div>
            </div>

            <!-- start & end -->
            <div class=" row">
              <div class=" col-md-6">
                <label> From: </label>
                <p>
                  <i class="fas fa-clock text-muted"></i>
                  {{ getDisplaytime(activeEvent?.start) }}
                </p>
              </div>
              <div class=" col-md-6">
                <label> Until: </label>
                <p>
                  <i class="fas fa-clock text-muted"></i>
                  {{ getDisplaytime(activeEvent?.end) }}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class=" modal-footer">
        <button class=" btn btn-danger btn-block mt-3" (click)="onDetailDeleteEvent()">
          <i class="fas fa-trash mr-2"></i> Delete
        </button>
        <button class=" btn btn-default btn-block mt-3" (click)="onEditEvent()">
          <i class="far fa-edit mr-2"></i> Edit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end event detail modal -->

<!-- edit event modal -->
<div
  aria-hidden="true"
  aria-labelledby="editEventModalLabel"
  bsModal
  class="modal fade"
  #editEventModal="bs-modal"
  id="editEventModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Manage this slot </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onEditEventModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-login card-white">

          <div class=" card-body">

            <form [formGroup]="activeEventForm">

              <!--  -->
              <div class=" row">
                <div class=" col">
                    <div class=" form-group">
                        <label for="eventType"> Action </label>
                        <select
                        class="form-control"
                        id="eventType"
                        formControlName="type"
                        (focus)="focus = true; focusTouched = true"
                        (blur)="focus = false">
                            <option [ngValue]="null"> Select... </option>
                            <option *ngFor="let item of eventTypes" [value]="item.id">
                            {{ item.name }}
                            </option>
                        </select>
                        <div *ngIf="(((focusTouched && activeEventF.type.value != null) || saveAttempt) && activeEventF.type.errors)">
                          <label
                          *ngFor="let error of objKeys(activeEventF.type.errors)"
                          class="error custom-error-label"
                          >{{ showError('type', error) }}
                          </label>
                        </div>
                    </div>
                </div>
              </div>

              <!-- help tips -->
              <div>
                <div class=" row">
                  <div class=" col">
                    <!-- if action is set me available for discovery -->
                    <div *ngIf="activeEventF.type.value === 'discovery'">
                      <p class=" small text-muted pl-2 mb-3">
                        <i class="fas fa-info-circle"></i> This action creates one or more 'available' slots, which Lifecoach users can 
                        use to schedule free discovery video calls with you. Think of each available slot as a bookable calendar slot  
                        which can be used by a single person to schedule a video call with you. 
                        Set a short start and end time to create a single slot or set a longer time period to automatically 
                        create multiple available slots. Visit 'Account > Session Settings' to manage your default slot times. 
                        Slots can easily be deleted at any time before they are booked.
                    </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" row">
                <!-- start time -->
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label for="starttime"> Start </label>
                    <select class="form-control" name="starttime" formControlName="start" id="starttime" (change)="onChangeStartTimeHandler($event)">
                      <option *ngFor="let time of startTimes"
                              [value]="time"
                              >
                        {{time | date:'HH:mm'}}
                      </option>
                    </select>
                  </div>
                </div>
                <!-- end time -->
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label for="endtime"> End </label>
                    <select class="form-control" name="end" formControlName="end"  id="endtime">
                      <option  *ngFor=" let time of endTimes; let i = index"
                               [defaultSelected]="time==endTimes[0]"
                               [ngValue]="time"
                              >
                        {{time | date:'HH:mm'}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- end row -->

              <!-- description -->
<!--              <div class="form-group">-->
<!--                <label for="description">-->
<!--                  Description-->
<!--                </label>-->
<!--                <textarea-->
<!--                  class="form-control"-->
<!--                  id="description"-->
<!--                  rows="3"-->
<!--                  placeholder="Description..."-->
<!--                  formControlName="description"-->
<!--                ></textarea>-->
<!--              </div>-->

            </form>

            <!-- <p>
              <i class="far fa-calendar-alt"></i>
              {{ activeEvent?.start }}
            </p> -->

<!--            <button class=" btn btn-danger btn-block mt-3" (click)="onEditDeleteEvent()">-->
<!--              Cancel Event-->
<!--            </button>-->

            <button class=" btn btn-primary btn-block mt-3" (click)="onUpdateEvent()">
              <span *ngIf="!saving">
                <i class="fas fa-calendar"></i>
              </span>
              <span
              *ngIf="saving"
              class="spinner-border spinner-border-sm"
              role="status"
              ></span> {{ saving ? 'Saving...' : 'Save'}}
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- edit event modal -->

<!-- cancel event modal -->
<div
  aria-hidden="true"
  aria-labelledby="cancelEventModalLabel"
  bsModal
  class="modal fade"
  #cancelEventModal="bs-modal"
  id="cancelEventModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" style="transform: translate(0,0);">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-login card-white">
          <div class=" card-header">
            <div class=" row">
              <div class=" col">
                <div class=" pull-right">
                  <i
                    class="fas fa-times text-default"
                    tooltip="Close"
                    (click)="onCancelEventModalClose()">
                  </i>
                </div>
              </div>
            </div>
            <h1 class=" card-title">
              Cancel Event
            </h1>
          </div>
          <div class=" card-body">

            <p>
              Send an update to the other person?
            </p>

            <div class=" row">
              <div class=" col-md-6">
                <button class=" btn btn-default btn-block mt-3" (click)="onDeleteEvent(false)">
                  No
                </button>
              </div>
              <div class=" col-md-6">
                <button class=" btn btn-primary btn-block mt-3" (click)="onDeleteEvent(true)">
                  Yes
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cancel event modal -->
