#title {
    position: absolute;
    top: 14px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    text-transform: lowercase;
    margin-left: -5px;
    z-index: 1;
}

#login-image {
    max-height: 14em;
}