<div class=" content">
    
    <div>
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header">
                        <h5 class=" card-category"> My Tracking Link </h5>
                        <h3 class=" card-title"> Earn Commission By Promoting Lifecoach To Coaches </h3>
                    </div>
                    <div class=" card-body">

                        <p>
                            Share our ready-made links that take 
                            Coaches to our most popular pages.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class=" row">
            <div class=" col">
                <h4> Share Our Ready Made Links </h4>
                <p>
                    Hit the 'Share' button to share a link via social media, or copy & paste the URL to 
                    create your own link in an email, on your website, on a blog post or anywhere you like!
                </p>
            </div>
        </div>
        <!-- end row -->

        <!-- row -->
        <div class=" row mt-4">

            <!-- link 1 -->
            <div class=" col-md-4">
                <div class=" card">
                    <img class=" card-img-top" [src]="shareObjectHome.image" alt="Share the Lifecoach home page" />
                    <div class=" card-body">
                      <h4 class=" card-title">{{ shareObjectHome.title }}</h4>
                      <p class=" card-text">
                          <i class=" tim-icons icon-link-72"></i> 
                          Homepage:</p>
                      <p>
                        <a [href]="'lifecoach.io' + partnerF.trackingCode.value" target="_blank">
                            https://lifecoach.io{{ partnerF.trackingCode.value }}
                        </a>
                      </p>
                      <div class=" mt-3">
                        <app-social-media-share [id]="userId" [sharingType]="'partner-link'" [sharingObject]="shareObjectHome"></app-social-media-share>
                      </div>
                    </div>
                </div>
            </div>

            <!-- link 2 -->
            <div class=" col-md-4">
                <div class=" card">
                    <img class=" card-img-top" [src]="shareObjectForCoaches.image" alt="Share the Coach sign up page" />
                    <div class=" card-body">
                      <h4 class=" card-title">{{ shareObjectForCoaches.title }}</h4>
                      <p class=" card-text">
                          <i class=" tim-icons icon-link-72"></i> 
                          Coach Signup Page:</p>
                      <p>
                        <a [href]="'lifecoach.io' + partnerF.trackingCode.value" target="_blank">
                            https://lifecoach.io/for-coaches{{ partnerF.trackingCode.value }}
                        </a>
                      </p>
                      <div class=" mt-3">
                        <app-social-media-share [id]="userId" [sharingType]="'partner-link'" [sharingObject]="shareObjectForCoaches"></app-social-media-share>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>

</div>