<div class=" card">
    <div class=" card-body">
        <form *ngIf="pricingForm" [formGroup]="pricingForm" (submit)="onSubmit()">

            <h5> eCourse Pricing
                <a href="https://lifecoach.freshdesk.com/support/solutions/articles/47001126533-how-to-price-your-course" target="_blank">
                    <span class=" text-muted pl-2"><i class="fas fa-graduation-cap"></i> Help with eCourse pricing </span>
                </a>
            </h5>

            <!-- Course free vs paid -->
            <div class=" row">
                <div class=" col">
                    <label> Is this eCourse free or paid? </label>
                    <p class=" small text-muted pl-2 mb-4">
                        <i class="fas fa-info-circle"></i> Tip: Short free eCourses can be a great way to promote yourself and build a rapport 
                        with clients/students before funelling them into your paid products & services. 
                    </p>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" id="pricing-radio-free" value="free" formControlName="pricingStrategy">
                            Always free
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" id="pricing-radio-paid" value="paid" formControlName="pricingStrategy" (change)="onStrategyChange($event)">
                            Paid
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Course price & currency -->
            <div class=" row mt-3" *ngIf="pricingF?.pricingStrategy.value === 'paid'">

                <!-- Currency -->
                <div class=" col-6">
                    <div class="">
                        <label> eCourse Currency </label>
                    </div>
                    <app-select-currency
                    [currency]="pricingF?.currency?.value"
                    (currencyEvent)="onCurrencyEvent($event)">
                    </app-select-currency>
                </div>

                <!-- Price -->
                <div class=" col-6">
                <div class="">
                    <label> eCourse price </label>
                </div>
                <div
                class="form-group"
                [ngClass]="{
                    'has-danger':(((focusTouched && pricingF.price.value != '') || saveAttempt) && pricingF.price.errors),
                    'has-success': !pricingF.price.errors
                }">
                    <input
                    type="number"
                    class="form-control"
                    formControlName="price"
                    placeholder="eg. 9.99"
                    (focus)="focusTouched = true">
                </div>
                <div *ngIf="(((focusTouched && pricingF.price.value != '') || saveAttempt) && pricingF.price.errors)">
                    <label
                    *ngFor="let error of objKeys(pricingF.price.errors)"
                    class="error custom-error-label"
                    >{{ showError('price', error) }}
                    </label>
                </div>
                <!-- End of course price -->
                </div>
            </div>

            <hr>

            <!-- Course options -->
            <div class=" mt-5">
                <h5>
                    eCourse Options
                </h5>
                <!-- Disable instructor support -->
                <div>
                    <div class=" form-group mt-3">
                        <label> Disable your support for this course </label>
                        <p class=" small text-muted pl-2 mb-4">
                            <i class="fas fa-info-circle"></i> If you want to publish this eCourse but you are unable to support 
                            your enrolled clients/students in real-time by answering their questions, you can disable your support. 
                            We recommend you don't do this unless you have a good reason as eCourses that receive support get much 
                            higher ratings. Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001148170-all-about-course-options" target="_blank">
                                Read more.
                            </a> 
                        </p>

                        <div class=" mt-3">
                            <bSwitch
                            [switch-on-color]="'danger'"
                            [switch-off-color]="'danger'"
                            [switch-off-text]="'NO'"
                            [switch-on-text]="'YES'"
                            [(ngModel)]="pricingF.disableInstructorSupport.value"
                            [ngModelOptions]="{standalone: true}"
                            (changeState)="onDisableInstructorSupportToggle($event)"
                        >
                        </bSwitch>
                        </div>
                    </div>
                </div>

                <!-- Disable all discussion -->
                <div class=" mt-3">
                    <div class=" form-group mt-3">
                        <label> Disable all public course discussion (Q&A) </label>
                        <p class=" small text-muted pl-2 mb-4">
                            <i class="fas fa-info-circle"></i> By default, people who enroll in your eCourse are able to ask public 
                            questions. These can be answered by you or by fellow enrolled users. This allows you to post answers that 
                            any users with the same question in mind can see (saving you time and improving the user experience). If 
                            you don't want to allow public discussion, you can disable this option. 
                            We recommend you don't do this unless you have a good reason as eCourses with active Q&A get much 
                            higher ratings. Need a little help? <a href="https://lifecoach.freshdesk.com/en/support/solutions/articles/47001148170-all-about-course-options" target="_blank">
                                Read more.
                            </a> 
                        </p>
                        <div class=" mt-3">
                            <bSwitch
                            [switch-on-color]="'danger'"
                            [switch-off-color]="'danger'"
                            [switch-off-text]="'NO'"
                            [switch-on-text]="'YES'"
                            [(ngModel)]="pricingF.disableAllDiscussion.value"
                            [ngModelOptions]="{standalone: true}"
                            (changeState)="onDisableAllDiscussionToggle($event)"
                        >
                        </bSwitch>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <!-- buttons -->
            <div class=" pull-right">
                <button type="button" class=" btn btn-default btn-round btn-fill" (click)="saveProgress()">
                    <span *ngIf="!saving">
                        <i class="fas fa-save"></i>
                    </span>
                    <span
                    *ngIf="saving"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    ></span> {{ saving ? 'Saving...' : 'Save'}}
                </button>
                <button type="button" class=" btn btn-primary btn-round btn-fill ml-3" (click)="goNext()">
                    <span *ngIf="!saving">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span
                    *ngIf="saving"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    ></span> {{ saving ? 'Saving...' : 'Next'}}
                </button>
            </div>

        </form>
    </div>
</div>
