<app-auth-navbar></app-auth-navbar>

<div class="full-page coach-page ">
    <div class=" content">
        <div class=" container">
            <!-- Loading spinner -->
            <div *ngIf="!userProfile" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Summary Card -->
            <div *ngIf="userProfile">
                <div class=" card card-user">
                    <div class=" card-body">
                        <p class=" card-text"></p>
                        <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)">
                            <!-- Avatar -->
                            <div>
                                <img
                                [alt]="userProfile.firstName + ' ' + userProfile.lastName + ' ' + userProfile.speciality1?.itemName + ' ' + 'Coach'"
                                class=" avatar"
                                src="{{ this.userProfile.photo }}"
                                />
                                <div
                                *ngIf="userProfile.selectedProfileVideo"
                                id="profile-vid-play"
                                style="color: #e14eca;
                                font-size: 2rem;
                                position: absolute;
                                top: 7.8rem;
                                left: 36.2rem;">
                                    <i class="fab fa-youtube"></i>
                                </div>
                            </div>
                            <!-- Name -->
                            <p class=" description">
                            {{ userProfile.firstName + ' ' + userProfile.lastName + ' ' + userProfile.country?.emoji }}
                            </p>
                        </a>
                        <!-- Speciality Title -->
                        <h5 class=" title">
                            {{ userProfile.speciality1?.itemName + ' ' + 'Coach' }}
                        </h5>
                        <!-- Coach Tags -->
                        <span *ngFor="let tag of this.userProfile.goalTags" class=" badge badge-success mr-2">
                            {{ tag.value }}
                        </span>
                        </div>
                        <!-- Qualification Tags -->
                        <div class=" text-center">
                            <span *ngIf="this.userProfile.qualBa" class=" badge badge-primary mr-2">BA QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualBsc" class=" badge badge-primary mr-2">BSC QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualBcomm" class=" badge badge-primary mr-2">BCOMM QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualMa" class=" badge badge-primary mr-2">MA QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualMs" class=" badge badge-primary mr-2">MS QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualMba" class=" badge badge-primary mr-2">MBA QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualMapp" class=" badge badge-primary mr-2">MAPP QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualPhd" class=" badge badge-primary mr-2">PhD QUALIFIED</span>
                            <span *ngIf="this.userProfile.qualEia" class=" badge badge-primary mr-2">EUROPEAN MENTORING & COACHING COUNCIL - EIA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualEqa" class=" badge badge-primary mr-2">EUROPEAN MENTORING & COACHING COUNCIL - EQA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualEsia" class=" badge badge-primary mr-2">EUROPEAN MENTORING & COACHING COUNCIL - ESIA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualEsqa" class=" badge badge-primary mr-2">EUROPEAN MENTORING & COACHING COUNCIL - ESQA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualIsmcp" class=" badge badge-primary mr-2">EUROPEAN MENTORING & COACHING COUNCIL - ISMCP ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualApecs" class=" badge badge-primary mr-2">ASSOCIATION FOR PROFESSIONAL EXECUTIVE COACHING & SUPERVISION ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualEcas" class=" badge badge-primary mr-2">ASSOCIATION FOR COACHING - ECAS ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualCas" class=" badge badge-primary mr-2">ASSOCIATION FOR COACHING - CAS ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualCsa" class=" badge badge-primary mr-2">ASSOCIATION FOR COACHING - CSA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualSa" class=" badge badge-primary mr-2">ASSOCIATION FOR COACHING - SA ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualAcc" class=" badge badge-primary mr-2">INTERNATIONAL COACHING FEDERATION - ACC ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualPcc" class=" badge badge-primary mr-2">INTERNATIONAL COACHING FEDERATION - PCC ACCREDITED</span>
                            <span *ngIf="this.userProfile.qualMcc" class=" badge badge-primary mr-2">INTERNATIONAL COACHING FEDERATION - MCC ACCREDITED</span>
                        </div>
                        <!-- Short Summary -->
                        <div class=" card-description text-center ml-5 mr-5">
                        {{ this.userProfile.proSummary }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of profile card -->

            <!-- Profile Video Card - Browser only -->
            <div *ngIf="browser && userProfile && userProfile.selectedProfileVideo && userProfile.selectedProfileVideo !== '-1'">
                <div class=" col-md-12">
                    <h4 class=" card-title"> Meet {{ userProfile.firstName }} </h4>
                </div>
                <div class=" card">
                    <div class=" card-body">
                        <vg-player>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                          
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                          
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>
                          
                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                          
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                          
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                          
                            <video #media [vgMedia]="media" id="singleVideo" preload="auto" style="max-height: 90vh;">
                                <source [src]="userProfile.selectedProfileVideo">
                            </video>
                        </vg-player>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded & Full Description Saved -->
            <div *ngIf="userProfile && userProfile.fullDescription">
                <h4 class=" card-title"> About {{ userProfile.firstName }} </h4>
                <div class=" row">
                    <div class=" col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <!-- Full Description -->
                                <div
                                class=" card-description ml-5 mr-5"
                                [innerHTML]="userProfile.fullDescription"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded & Credentials saved -->
            <div *ngIf="userProfile && userProfile.credentials && userProfile.credentials.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Credentials </h4>
                <div class=" row">
                    <div class=" col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <!-- Creds -->
                                <h5 *ngFor="let cred of this.userProfile.credentials" class="pl-3 pt-3 pr-3">
                                    <span class=" text-primary">
                                        <i class="fas fa-star mr-2"></i>
                                    </span> {{ cred.value }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coach Programs -->
            <div *ngIf="publishedPrograms?.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Coaching Programs </h4>
                <div class=" row mt-3">
                    <div *ngFor="let program of publishedPrograms ; let i = index" class=" col-md-4">
                        <a [routerLink]="['/program', program.programId]">
                            <div class=" card">

                                <img
                                class="card-img-top"
                                [src]="program.image"
                                [alt]="program.title" />

                                <div class=" card-body">
                                    <h4 class="card-title"> {{ program?.title }} </h4>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{ program?.subtitle }} </h6>
                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Coach Services -->
            <!-- <div *ngIf="publishedServices?.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Services </h4>
                <div class=" row mt-3">
                    <div *ngFor="let service of publishedServices ; let i = index" class=" col-md-4">
                        <a [routerLink]="['/coaching-service', service.id]">
                            <div class=" card">

                                <img
                                class="card-img-top"
                                [src]="service.image ? service.image : 'assets/img/image_placeholder.jpg'"
                                [alt]="service.title" />

                                <div class=" card-body">
                                    <h4 class="card-title"> {{ service?.title }} </h4>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{ service?.subtitle }} </h6>
                                </div>

                            </div>
                        </a>
                        
                    </div>
                </div>
            </div> -->

            <!-- Coach Courses -->
            <div *ngIf="userProfile && courses && courses.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s eCourses </h4>
                <div class=" results-container">
                    <div class=" row">
                        <div *ngFor="let course of courses" class=" col-md-4">
                            <app-course-card
                            [course]="course">
                            </app-course-card>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Map Card -->
            <div *ngIf="userProfile" class=" col-md-12">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Home City </h4>
            </div>
            <div class=" card">
                <div class=" card-body">
                    <div class=" map" id="coachCityMap"></div>
                    <div *ngIf="userProfile" class=" mt-4">
                        <div class=" pull-left">
                            <p class=" text-muted text-center">
                                <i class=" tim-icons icon-square-pin"></i> {{ userProfile.city }}
                            </p>
                        </div>
                        <div class=" pull-right">
                            <p class=" text-muted text-center">
                                <i class=" tim-icons icon-world"></i> {{ userProfile.country?.name + ' ' + userProfile.country?.emoji }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded && Email Saved - Display Contact Coach -->
            <div *ngIf="userProfile && userProfile.email">
                <h4 class=" card-title"> Contact {{ userProfile.firstName }} </h4>
                <div class=" card">
                    <div class=" card-body">
                        <div class=" row justify-content-center border-between">
                            <div class=" col-md-8">
                                <h5 class=" card-title"> Send {{ userProfile.firstName }} a message </h5>
                                <app-coach-contact [coachUid]="coachId"></app-coach-contact>
                            </div>
                            <div class=" col-md-4 text-center pt-5">
                                <h5 class=" card-title"> Or schedule a discovery call with {{ userProfile.firstName }} </h5>
                                <p>Coming Soon!</p>
                                <!-- scheduler button. User must be logged in to schedule a call. -->
                                <button
                                  class=" btn btn-fill btn-round btn-primary mr-2 mb-2"
                                  id="schedule-button"
                                  type="button"
                                  (click)="logSessions() ; this.userId ? schedulerModal.show() : registerModal.show()"
                                  [disabled]="this.userId === this.coachId"
                                ><i class="fas fa-phone">&nbsp;</i>
                                    <span>Schedule a Call</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Social/Channels Card -->
            <div *ngIf="userProfile" class=" card card-plain">
                <div class=" card-body">
                    <!-- Social Buttons -->
                    <div class=" button-container text-center">
                        <button
                            *ngIf="this.userProfile.facebook"
                            class=" btn btn-icon btn-round btn-facebook mr-1"
                        >
                            <a
                            [href]="this.userProfile.facebook"
                            target="_blank">
                            <i class=" fab fa-facebook"> </i>
                            </a>
                        </button>
                        <button
                            *ngIf="this.userProfile.twitter"
                            class=" btn btn-icon btn-round btn-twitter mr-1"
                        >
                            <a
                            [href]="this.userProfile.twitter"
                            target="_blank">
                            <i class=" fab fa-twitter"> </i>
                            </a>
                        </button>
                        <button
                            *ngIf="this.userProfile.linkedin"
                            class=" btn btn-icon btn-round btn-linkedin mr-1"
                        >
                            <a
                            [href]="this.userProfile.linkedin"
                            target="_blank">
                            <i class=" fab fa-linkedin"> </i>
                            </a>
                        </button>
                        <button
                            *ngIf="this.userProfile.youtube"
                            class=" btn btn-icon btn-round btn-youtube mr-1"
                        >
                            <a
                            [href]="this.userProfile.youtube"
                            target="_blank">
                            <i class=" fab fa-youtube"> </i>
                            </a>
                        </button>
                        <button
                        *ngIf="this.userProfile.instagram"
                        class=" btn btn-icon btn-round btn-instagram mr-1"
                        >
                        <a
                        [href]="this.userProfile.instagram"
                        target="_blank">
                            <i class=" fab fa-instagram"> </i>
                        </a>
                        </button>
                        <button
                        *ngIf="this.userProfile.website"
                        class=" btn btn-icon btn-round btn-website mr-1"
                        >
                        <a
                        [href]="this.userProfile.website"
                        target="_blank">
                            <i class=" fas fa-laptop"> </i>
                        </a>
                        </button>
                    </div>
                </div>
            </div>

            <!-- scheduler modal -->
            <div 
            aria-hidden="true"
            aria-labelledby="schedulerModalLabel"
            bsModal
            class="modal fade"
            #schedulerModal="bs-modal"
            id="schedulerModal"
            role="dialog"
            tabindex="-1"
            >
                <div class="modalContainer" >
                    <div class="modalContent">
                        <button type="button" class="closeButton" (click)="schedulerModal.hide()"><i class="fas fa-times"></i></button>
                        <span>Check free dates</span><br>
                        <br/>
                        <!-- Select for date -->
                        <select name="" id="" (change)="daySelect($event)">
                            <option value='NULL' [defaultSelected]="true">Please, choose available Date</option>
                            <option *ngFor="let day of this.dayToSelect" [ngValue]="day">
                                {{day | date: 'yyyy, MMM, dd'}}
                            </option>
                        </select>
                        <div class="sessions">

                            <div *ngFor="let event of this.todayEvents" class="session">
                                <span  class="sessionTitle">{{event.start*1000 | date: "HH:mm"}} - {{event.end*1000 | date: "HH:mm"}}</span>
                                <button
                                  class=" btn btn-fill btn-round btn-primary mr-2 mb-2 sessionReserveButton"
                                  type="button"
                                  (click)="reserveSession($event)"
                                  [value]="event.id"
                                >Reserve </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end scheduler modal -->

            <!-- Login modal -->
            <div
            aria-hidden="true"
            aria-labelledby="loginModalLabel"
            bsModal
            class="modal fade"
            #loginModal="bs-modal"
            id="loginModal"
            role="dialog"
            tabindex="-1"
            >
            <div class="modal-dialog" style="transform: translate(0,0);">
                <div class="modal-content">
                <div class="modal-body login-page">
                    <form
                    class=" form"
                    id="loginValidation"
                    [formGroup]="loginForm"
                    (ngSubmit)="onLogin()"
                    >
                    <div class="card card-login card-white">
                        <div class=" card-header">
                        <img alt="" class="card-img" style="width: 72%;" src="assets/img/card-primary.png" />
                        <h1 class=" card-title"> Log in </h1>
                        </div>
                        <div class=" card-body">

                        <!-- Email -->
                        <div
                            class=" input-group"
                            [ngClass]="{
                            'has-danger': (((lfocusTouched && loginF.email.value != '') || loginAttempt) && loginF.email.errors),
                            'has-success': !loginF.email.errors
                            }"
                        >
                            <div class=" input-group-prepend">
                            <div class=" input-group-text">
                                <i class=" tim-icons icon-email-85"> </i>
                            </div>
                            </div>
                            <input
                            class=" form-control"
                            name="email"
                            formControlName="email"
                            placeholder="Email"
                            type="email"
                            (focus)="lfocusTouched = true"
                            required=""
                            />
                        </div>
                        <div
                            class="error custom-error-label"
                            *ngIf="(((lfocusTouched && loginF.email.value != '') || loginAttempt) && loginF.email.errors)"
                            > Please enter your login email address.
                        </div>

                        <!-- Password -->
                        <div
                            class=" input-group"
                            [ngClass]="{
                            'has-danger': (((lfocusTouched1 && loginF.password.value != '') || loginAttempt) && loginF.password.errors),
                            'has-success': !loginF.password.errors
                            }"
                        >
                            <div class=" input-group-prepend">
                            <div class=" input-group-text">
                                <i class=" tim-icons icon-lock-circle"> </i>
                            </div>
                            </div>
                            <input
                            class=" form-control"
                            name="password"
                            formControlName="password"
                            placeholder="Password"
                            type="password"
                            (focus)="lfocusTouched1 = true"
                            required=""
                            />
                        </div>
                        <div
                            class="error custom-error-label"
                            *ngIf="(((lfocusTouched1 && loginF.password.value != '') || loginAttempt) && loginF.password.errors)"
                            > Your password has at least 6 characters.
                        </div>

                        <!-- Login Submit Button -->
                        <button
                        class=" btn btn-primary btn-lg btn-block btn-round mt-4 mb-3"
                        type="submit"
                        >
                            <span
                            *ngIf="login"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            ></span> {{ login ? 'Logging in...' : 'Login' }}
                        </button>
                        <div class=" pull-left">
                            <h5>
                            <a class=" link footer-link" href="javascript:void(0)" (click)="forgotPassword()">
                                Forgotten Password? 
                            </a>
                            </h5>
                        </div>
                        <div class=" pull-right">
                            <h5>
                            <a class=" link footer-link" href="https://lifecoach.freshdesk.com/support/home" target="_blank">
                                Need Help?
                            </a>
                            </h5>
                        </div>

                        </div>
                        
                        <div class=" card-footer">
                        <hr>
                        <div class=" text-center">
                            Don't have an account? <a href="javascript:void(0)" (click)="loginModal.hide ; registerModal.show()">Sign Up</a>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            <!-- End of login modal -->

            <!-- Register modal -->
            <div
                aria-hidden="true"
                aria-labelledby="registerModalLabel"
                bsModal
                class="modal fade"
                #registerModal="bs-modal"
                id="registerModal"
                role="dialog"
                tabindex="-1"
            >
            <div class="modal-dialog" style="transform: translate(0,0);">
                <div class="modal-content">
                <div class="modal-body">
                    <form
                    class=" form"
                    id="RegisterValidation"
                    [formGroup]="registerForm"
                    (ngSubmit)="onRegister()"
                    >
                    <div class="card card-register card-white">
                        <div class=" card-header">
                        <img class="card-img" style="width: 86%;" alt="" src="assets/img/card-primary.png" />
                        <h1 class=" card-title"> Sign Up </h1>
                        </div>
                        <div class=" card-body">

                            <div class=" row">
                                <div class=" col">
                                    <p>Just a second! You need a Lifecoach account to schedule a discovery call with this Coach. 
                                        Joining Lifecoach is free and only takes seconds!
                                    </p>
                                </div>
                            </div>

                        <div class=" row mt-3">

                            <!-- First Name -->
                            <div class=" col-sm-12 col-md-6">
                            <div
                            class=" input-group"
                            [ngClass]="{
                                'has-danger': (((rfocusTouched && registerF.firstName.value != '') || registerAttempt) && registerF.firstName.errors),
                                'has-success': !registerF.firstName.errors
                            }"
                            >
                                <div class=" input-group-prepend">
                                <div class=" input-group-text">
                                    <i class=" tim-icons icon-single-02"> </i>
                                </div>
                                </div>
                                <input
                                class=" form-control"
                                name="firstName"
                                formControlName="firstName"
                                placeholder="First Name"
                                type="text"
                                (focus)="rfocusTouched = true"
                                required=""
                                />
                                <label
                                class="error custom-error-label"
                                *ngIf="(((rfocusTouched && registerF.firstName.value != '') || registerAttempt) && registerF.firstName.errors)"
                                > Please enter your first name.
                                </label>
                            </div>
                            </div>

                            <!-- Last Name -->
                            <div class=" col-sm-12 col-md-6">
                            <div
                            class=" input-group"
                            [ngClass]="{
                                'has-danger': (((rfocusTouched3 && registerF.lastName.value != '') || registerAttempt) && registerF.lastName.errors),
                                'has-success': !registerF.lastName.errors
                            }"
                            >
                                <div class=" input-group-prepend">
                                <div class=" input-group-text">
                                    <i class=" tim-icons icon-single-02"> </i>
                                </div>
                                </div>
                                <input
                                class=" form-control"
                                name="lastName"
                                formControlName="lastName"
                                placeholder="Last Name"
                                type="text"
                                (focus)="rfocusTouched3 = true"
                                required=""
                                />
                                <label
                                class="error custom-error-label"
                                *ngIf="(((rfocusTouched3 && registerF.lastName.value != '') || registerAttempt) && registerF.lastName.errors)"
                                > Please enter your last name.
                            </label>
                            </div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div
                            class=" input-group"
                            [ngClass]="{
                            'has-danger': (((rfocusTouched1 && registerF.email.value != '') || registerAttempt) && registerF.email.errors),
                            'has-success': !registerF.email.errors
                            }"
                        >
                            <div class=" input-group-prepend">
                            <div class=" input-group-text">
                                <i class=" tim-icons icon-email-85"> </i>
                            </div>
                            </div>
                            <input
                            class=" form-control"
                            name="email"
                            formControlName="email"
                            placeholder="Email"
                            type="email"
                            (focus)="rfocusTouched1 = true"
                            required=""
                            />
                            <label
                            class="error custom-error-label"
                            *ngIf="(((rfocusTouched1 && registerF.email.value != '') || registerAttempt) && registerF.email.errors)"
                            > We will never share your email address without your permission.
                            </label>
                        </div>

                        <!-- Create Password -->
                        <div
                            class=" input-group"
                            [ngClass]="{
                            'has-danger': (((rfocusTouched2 && registerF.password.value != '') || registerAttempt) && registerF.password.errors),
                            'has-success': registerF.password.value != '' && !registerF.password.errors
                            }"
                        >
                            <div class=" input-group-prepend">
                            <div class=" input-group-text">
                                <i class=" tim-icons icon-lock-circle"> </i>
                            </div>
                            </div>
                            <input
                            class=" form-control"
                            name="password"
                            formControlName="password"
                            placeholder="Create Password"
                            type="password"
                            (focus)="rfocusTouched2 = true"
                            required=""
                            />
                            <label
                            class="error custom-error-label"
                            *ngIf="(((rfocusTouched2 && registerF.password.value != '') || registerAttempt) && registerF.password.errors)"
                            > Password must be at least 6 characters.
                        </label>
                        </div>

                        <!-- Form Submit Button -->
                        <button
                        class=" btn btn-primary btn-round btn-block mt-4"
                        type="submit"
                        >
                            <span
                            *ngIf="register"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            ></span> {{ register ? 'Creating Account...' : 'Sign Up'}} 
                        </button>

                        <!-- Terms & Conditions -->
                        <div class=" text-center text-muted mt-3">
                            By signing up, you agree to our
                            <a href="https://lifecoach.freshdesk.com/a/solutions/articles/47000883660" target="_blank"> 
                            terms and conditions. 
                            </a>
                        </div>

                        </div>
                        <div class=" card-footer">
                        <hr>
                        <div class=" text-center">
                            Already have an account? <a href="javascript:void(0)" (click)="registerModal.hide() ; loginModal.show()">Log in</a>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            <!-- End of register modal -->

        </div>
    </div>
</div>
