<app-auth-navbar></app-auth-navbar>

<div class="full-page coach-page ">
    <div class=" content">
        <div class=" container">
            <!-- Loading spinner -->
            <div *ngIf="!userProfile" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Summary Card -->
            <div *ngIf="userProfile">
                <div class=" card card-user">
                    <div class=" card-body">
                        <p class=" card-text"></p>
                        <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)">
                            <!-- Avatar -->
                            <div>
                                <img
                                [alt]="userProfile.firstName + ' ' + userProfile.lastName + ' ' + userProfile.speciality1?.itemName + ' ' + 'Coach'"
                                class=" avatar"
                                src="{{ this.userProfile.photo }}"
                                />
                                <div
                                *ngIf="userProfile.selectedProfileVideo"
                                id="profile-vid-play"
                                style="color: #e14eca;
                                font-size: 2rem;
                                position: absolute;
                                top: 7.8rem;
                                left: 36.2rem;">
                                    <i class="fab fa-youtube"></i>
                                </div>
                            </div>
                            <!-- Name -->
                            <p class=" description">
                            {{ userProfile.firstName + ' ' + userProfile.lastName + ' ' + userProfile.country?.emoji }}
                            </p>
                        </a>
                        <!-- Speciality Title -->
                        <h5 class=" title">
                            {{ userProfile.speciality1?.itemName + ' ' + 'Coach' }}
                        </h5>
                        <!-- Certifications? -->
                        <div
                        class=" text-center mb-3"
                        *ngIf="this.userProfile.qualAcc || this.userProfile.qualPcc || this.userProfile.qualMcc || 
                        this.userProfile.qualEmccFoundation || this.userProfile.qualEmccPractitioner || 
                        this.userProfile.qualEmccSeniorPractitioner || this.userProfile.qualEmccMasterPractitioner || 
                        this.userProfile.qualAcFoundation || this.userProfile.qualAcCoach || this.userProfile.qualAcProfessionalCoach || 
                        this.userProfile.qualAcMasterCoach || this.userProfile.qualApecsAssociate || this.userProfile.qualApecsProfessional || 
                        this.userProfile.qualApecsMaster"
                        >
                            <div class=" badge badge-primary mr-2">
                            Certified Coach
                            </div>
                        </div>
                        <!-- Coach Tags -->
                        <span *ngFor="let tag of this.userProfile.goalTags" class=" badge badge-success mr-2">
                            {{ tag.value }}
                        </span>
                        </div>
                        <!-- Short Summary -->
                        <div class=" card-description text-center ml-5 mr-5">
                        {{ this.userProfile.proSummary }}
                        </div>
                        <!-- Contact button -->
                        <div class=" text-center mt-3">
                            <button
                            class="btn btn-primary btn-round"
                            (click)="scrollToElement('contact')">
                            <i class="fas fa-comment-dots mr-2"></i>
                            Contact {{ userProfile.firstName }}
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of profile card -->

            <!-- Profile Video Card - Browser only -->
            <div *ngIf="browser && userProfile && userProfile.selectedProfileVideo && userProfile.selectedProfileVideo !== '-1'">
                <div class=" col-md-12">
                    <h4 class=" card-title"> Meet {{ userProfile.firstName }} </h4>
                </div>
                <div class=" card">
                    <div class=" card-body">
                        <vg-player>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                          
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                          
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>
                          
                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                          
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                          
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                          
                            <video #media [vgMedia]="media" id="singleVideo" preload="auto" style="max-height: 90vh;">
                                <source [src]="userProfile.selectedProfileVideo">
                            </video>
                        </vg-player>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded & Full Description Saved -->
            <div *ngIf="userProfile && userProfile.fullDescription">
                <h4 class=" card-title"> About {{ userProfile.firstName }} </h4>
                <div class=" row">
                    <div class=" col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <!-- Full Description -->
                                <div
                                class=" card-description ml-5 mr-5"
                                [innerHTML]="userProfile.fullDescription"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded & Credentials saved -->
            <div *ngIf="userProfile && userProfile.credentials && userProfile.credentials.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Credentials </h4>
                <div class=" row">
                    <div class=" col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <!-- Creds -->
                                <h5 *ngFor="let cred of this.userProfile.credentials" class="pl-3 pt-3 pr-3">
                                    <span class=" text-primary">
                                        <i class="fas fa-star mr-2"></i>
                                    </span> {{ cred.value }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coach Services (Bespoke Coaching) -->
            <div *ngIf="publishedServices?.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Bespoke Coaching Services </h4>
                <div class=" row mt-3">
                    <div *ngFor="let service of publishedServices ; let i = index" class=" col-md-4">
                        <a [routerLink]="['/coaching-service', service.serviceId]">
                            <app-service-card [service]="service"></app-service-card>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Coach Programs -->
            <div *ngIf="publishedPrograms?.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Coaching Programs </h4>
                <div class=" row mt-3">
                    <div *ngFor="let program of publishedPrograms ; let i = index" class=" col-md-4">
                        <a [routerLink]="['/program', program.programId]">
                            <app-program-card [program]="program"></app-program-card>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Coach Courses -->
            <div *ngIf="userProfile && courses && courses.length">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s eCourses </h4>
                <div class=" results-container">
                    <div class=" row">
                        <div *ngFor="let course of courses" class=" col-md-4">
                            <a [routerLink]="['/course', course.courseId]">
                                <app-course-card [course]="course"></app-course-card>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- client testimonials -->
            <div *ngIf="clientTestimonials && clientTestimonials.length > 0">
                <h4 class=" card-title"> Kind Words From Happy Clients </h4>
                <div class=" row">
                    <div *ngFor="let testimonial of clientTestimonials" class=" col-md-4">
                        <app-client-testimonial [testimonial]="testimonial"></app-client-testimonial>
                    </div>
                </div>
            </div>

            <!-- Map Card -->
            <div *ngIf="userProfile" class=" col-md-12">
                <h4 class=" card-title"> {{ userProfile.firstName }}'s Home City </h4>
            </div>
            <div class=" card">
                <div class=" card-body">
                    <div class=" map" id="coachCityMap"></div>
                    <div *ngIf="userProfile" class=" mt-4">
                        <div class=" pull-left">
                            <p class=" text-muted text-center">
                                <i class=" tim-icons icon-square-pin"></i> {{ userProfile.city }}
                            </p>
                        </div>
                        <div class=" pull-right">
                            <p class=" text-muted text-center">
                                <i class=" tim-icons icon-world"></i> {{ userProfile.country?.name + ' ' + userProfile.country?.emoji }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- When Profile Loaded - Display Contact Coach -->
            <div id="contact" *ngIf="userProfile">
                <h4 class=" card-title"> Contact {{ userProfile.firstName }} </h4>
                <div class=" card">
                    <div class=" card-body">
                        <div class=" row justify-content-center">
                            <div class=" col">
                                <h5 class=" card-title"> Send {{ userProfile.firstName }} a message to start an informal chat, or request a FREE Discovery Session...</h5>
                                <app-coach-contact [coachUid]="coachId"></app-coach-contact>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
