<!-- Nav Bar -->
<app-auth-navbar></app-auth-navbar>

<div class="full-page home-page">

    <!-- Hero -->
    <section id="section-hero">
        <div class="jumbotron jumbotron-fluid custom-jumbotron" id="home-jumbotron">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10">

                        <!-- SSR -->
                        <h1 *ngIf="!browser" class="display-1"> Find Your Life Coach </h1>
                        <!-- Browser -->
                        <h1 *ngIf="browser" class="display-1"> Find Your <span id="coach-rotator"></span> Coach </h1>
                        

                        <h3>
                            Connect to professional coaching for every area of life.
                        </h3>

                        <div class=" row">
                            <div class=" col-md-2">
                                <!-- empty col as spacer to center search content -->
                            </div>
                            <div class=" col-md-8">
                                <div class=" row">
                                    <div class=" col-md-10">
                                        <div class="input-group input-group-lg" id="hero-search">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class=" tim-icons icon-zoom-split mr-3"></i>
                                            </span>
                                            </div>
                                            <input
                                            type="text"
                                            class="form-control"
                                            aria-label="Large"
                                            aria-describedby="inputGroup-sizing-sm"
                                            placeholder="Search coaches & self-study courses"
                                            [(ngModel)]="searchTerm"
                                            >
                                        </div>
                                    </div>
                                    <div class=" col-md-2">
                                        <a
                                        class="btn btn-primary btn-lg btn-round"
                                        [routerLink]="['/search-results']"
                                        [queryParams]="{q: searchTerm}"
                                        role="button"> Go! </a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-2">
                                <!-- empty col as spacer to center search content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hero strip -->
        <div id="hero-bottom-strip" class="row">
            <div class=" col-4 text-center">
                <h4><i class="far fa-user"></i> 500+ Coaches</h4>
            </div>
            <div class=" col-4 text-center">
                <h4><i class="far fa-play-circle"></i> 50+ Self-Study Courses</h4>
            </div>
            <div class=" col-4 text-center">
                <h4><i class="fas fa-map-marker-alt"></i> 20+ Countries</h4>
            </div>
        </div>

    </section>

    <!-- Section 3 -->
    <section id="section-three" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-12">
                    <h2 class="display-3"> Newest Coaches </h2>

                    <app-results [results]="newestCoaches"></app-results>

                    <p>
                        <a
                        class="btn btn-primary btn-lg btn-round btn-simple"
                        [routerLink]="['/coaches']"
                        role="button"> Browse Coaches 
                        </a>
                    </p>
        
                    </div>
                </div>
                <div class="row justify-content-center text-center mt-5">
                    <div class="col-md-12">
                    <h2 class="display-3"> Newest Courses </h2>

                    <h4>
                        <strong>Looking for self-study?</strong> Try a Coach led course & progress completely at your own pace.
                        
                    </h4>

                    <div class=" mt-5 text-left">
                        <app-course-results
                            [results]="newestCourses"
                            [rates]="rates"
                            [clientCurrency]="clientCurrency">
                        </app-course-results>
                    </div>

                    <p>
                        <a
                        class="btn btn-primary btn-lg btn-round btn-simple"
                        [routerLink]="['/courses']"
                        role="button"> Browse Courses 
                        </a>
                    </p>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section id="section-two" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10 col-lg-8">
                    <h2 class="display-3"> The Best Coaching, Wherever You Are </h2>

                    <h4>
                        Your perfect coach may not live in your city. Use Lifecoach 
                        to connect with remote coaches or level up with self-study courses anywhere in the world.
                    </h4>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 1 -->
    <section id="section-one" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10 col-lg-8">
                    <h2 class="display-3"> Whatever Your Goal... </h2>

                    <h3>
                        <span class=" text-primary">
                            #succeed
                        </span>
                        <span class=" text-default">
                            #overcome
                        </span>
                        <span class=" text-success">
                            #advance
                        </span>
                        <span class=" text-default">
                            #getunstuck
                        </span>
                        <span class=" text-primary">
                            #accelerate
                        </span>
                        <span class=" text-default">
                            #win
                        </span>
                        <span class=" text-success">
                            #careersuccess
                        </span>
                        <span class=" text-default">
                            #financialfreedom
                        </span>
                        <span class=" text-primary">
                            #betterrelationships
                        </span>
                        <span class=" text-default">
                            #happyretirement
                        </span>
                        <span class=" text-success">
                            #health
                        </span>
                        <span class=" text-default">
                            #fitness
                        </span>
                        <span class=" text-primary">
                            #self-confidence
                        </span>
                    </h3>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section id="section-four" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10">
                    <h2 class="display-3"> Request a Coach </h2>

                    <h4>
                        It's often best to talk to a few coaches to find the best fit for you. 
                        We make that easy... Submit a coaching request and get introductions 
                        from available coaches we match for you.
                    </h4>

                    <p class="lead">
                        <!-- <a class="btn btn-primary btn-lg btn-round" [routerLink]="['/register', 'regular']" role="button"> Request a Coach </a> -->
                        <a
                        class="btn btn-primary btn-lg btn-round"
                        routerLink="./" fragment="section-five"
                        role="button"> Coming Soon
                        </a>
                    </p>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 5 -->
    <section id="section-five" class=" padded-section">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10 col-lg-8">
                    <h2 class="display-3"> New To Life Coaching? </h2>

                    <p>
                        <a
                        class="btn btn-primary btn-lg btn-round"
                        [routerLink]="['/about']"
                        role="button"> Read more 
                        </a>
                    </p>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- Footer -->
<app-page-footer></app-page-footer>
