
// #home-jumbotron { // see styles.scss for other styles
//     margin-bottom: 0;
//     background: url('/assets/img/homepage/lifecoach-life-coach-hero.jpg') no-repeat bottom center / cover;
//     @media screen and (max-width: 992px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero1200-.jpg') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 768px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero991.jpg') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 575px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero768.jpg') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 380px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero575.jpg') no-repeat bottom center / cover;
//     }
// }
// :host-context(.webp) #home-jumbotron{
//     margin-bottom: 0;
//     background: url('/assets/img/lifecoach-life-coach-hero60.webp') no-repeat bottom center / cover;
//     @media screen and (max-width: 992px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero1200-.webp') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 768px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero991.webp') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 575px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero768.webp') no-repeat bottom center / cover;
//     }
//     @media screen and (max-width: 380px) {
//         background: url('/assets/img/homepage/lifecoach-life-coach-hero575.webp') no-repeat bottom center / cover;
//     }
// }

#hero-search {
    input {
        background-color: rgba(255, 255, 255, 0.9);
        border-color: rgba(255, 255, 255, 0.9);
        color: black;
    }
    .input-group-prepend {
        background-color: #E14ECA;
        border-radius: 6px 0 0 6px;

        .input-group-text {
            border: 0;

            i {
                opacity: 1;
            }
        }
    }
}

.top-section-margin {
    margin-top: 100px;
}

.bottom-section-margin {
    margin-bottom: 100px;
}

.custom-badge {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-right: 5px;
}

#section-hero {
    padding: 6vh 2rem 2rem 10vh;
}

#hero-text-col {
    padding-top: 10em;
}

#hero-vid-col {
    padding-top: 1em;
}

#section-banners {
    padding: 8vh 0 0 0;
}

#goal-tags {
    .custom-goal-tag {
        border-radius: 9999px;
        font-size: 1.2em;
        font-weight: 600;
    }
}

#section-four {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/img/lifecoach-request-life-coaching.png') no-repeat bottom center / cover;
    .container {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
}

:host-context(.webp) #section-four{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/img/lifecoach-request-life-coaching60.webp') no-repeat bottom center / cover;
}

.title-changed {
    @media (max-width: 426px) {
        font-size: 42px!important;
    }
}
