<!-- Nav Bar -->
<app-auth-navbar></app-auth-navbar>

<div class="full-page home-page">

    <!-- Hero -->
    <div id="section-hero">
        <div class=" row">

            <!-- text col -->
            <div id="hero-text-col" class=" col-md-4">
                <h1 class=" display-1">
                    Unleash Your Potential
                </h1>
                <h2>
                    Overcome your obstacles & reach your goals.
                </h2>
                <h4>
                    Get coached by the best professional coaches in the world, for every area of life,
                    on a platform that defies borders.
                </h4>
                <button class="btn btn-round btn-primary mt-4" (click)="onFindCoach()">
                    Find A Coach
                </button>
            </div>

            <!-- vid col -->
            <div id="hero-vid-col" class=" col-md-8">
                <div>
                    <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="browser">
                        <video [vgMedia]="media" #media id="singleVideo" preload="auto" [muted]="true" autoplay loop>
                            <source src="https://firebasestorage.googleapis.com/v0/b/lifecoach-6ab28.appspot.com/o/platform%2FLifecoach%20Hero%20Web%20Optimized.mp4_1611826950?alt=media&token=d3f48f25-4fa3-4dfc-bef8-c5d0bfc1b4d8" type="video/mp4">
                        </video>
                    </vg-player>
                </div>
            </div>
        </div>
    </div>
    <!-- end of hero section -->

    <!-- banners section -->
    <div id="section-banners">
        <div class=" row scroll-fix">
            <div id="banners-col" class=" col scroll-fix">
                <div class=" container text-center">
                    <h2 class=" display-4 mb-1">
                        Lifecoach Coaching
                    </h2>
                    <h3 class=" display-2">
                        Discover The Best Version of You
                    </h3>
                    <h4>
                        Lifecoach brings you the best private coaching for every area of personal transformation. <br>
                        Whatever your goal, our coaches can help you to discover the very best version of yourself.
                    </h4>
                </div>
                <div id="banners-image" class=" text-center mt-5">
                    <div class="main-banner"id="super-banner"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of banners section -->

    <!-- goals section -->
    <section id="section-goals" class=" top-section-margin">
        <div class=" content">
            <div class=" container">
                <div class="row justify-content-center text-center">
                    <div class="col">
                        <h2 class=" display-4 mb-1">
                            Succeed. Overcome. Heal. Thrive.
                        </h2>
                        <h3 class=" display-2">
                            Professional Coaching For Every Goal
                        </h3>

                        <div id="goal-tags" class="d-flex flex-wrap justify-content-center">
                            <div *ngFor="let item of goals ; let i = index">
                                <p class=" border custom-goal-tag mr-2 pl-4 pr-4 pt-1 pb-1"
                                [ngClass]="{
                                    'border-primary': tagsToHighlight.includes(i),
                                    'text-primary': tagsToHighlight.includes(i),
                                    'border-default': !tagsToHighlight.includes(i),
                                    'text-default': !tagsToHighlight.includes(i)
                                }">
                                    {{ item }}
                                </p>
                            </div>
                        </div>

                        <div class=" container text-center mt-5">
                            <h4>
                               Get matched with top coaches, based on your unique goals & personal challenges...
                            </h4>
                            <button class="btn btn-round btn-primary" (click)="onFindCoach()">
                                Find A Coach
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of goals section -->

    <!-- how it works section -->
    <div id="section-how-it-works" class="top-section-margin">
        <div class=" content">
            <div class=" container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class=" display-2 mb-1">
                            How Lifecoach Works
                        </h2>
                    </div>
                </div>

                <!-- step 1 row -->
                <div class=" row mt-4">
                    <div class=" col-6">
                        <h4 class=" display-4 mb-1 pt-5">
                            1. Find
                        </h4>
                        <h4 class=" display-3">
                            The Best Coaches
                        </h4>
                        <h4>
                            Use our <a href="javascript:void(0)" (click)="onFindCoach()">
                                coach finder
                            </a> to get matched with top coaches based on your own 
                            unique goals, challenges and personal preferences.
                        </h4>
                    </div>
                    <div class=" col-6">
                        <img src="../../../assets/img/homepage/explore-coaching-on-lifecoach.png" alt="Explore coaching programs and courses from Lifecoach Coaches">
                    </div>
                </div>

                <!-- step 2 row -->
                <div class=" row top-row-margin">
                    <div class=" col-6">
                        <img src="../../../assets/img/homepage/connect-with-coaches-through-lifecoach-coaching.png" alt="Connect with Coaches through Lifecoach Coaching">
                    </div>
                    <div class=" col-6">
                        <h3 class=" display-4 mb-1 pt-5">
                            2. Choose
                        </h3>
                        <h4 class=" display-3">
                            Your Perfect Coach
                        </h4>
                        <h4>
                            Shortlist coaches you like & chat with them until you choose the perfect coach for you.
                        </h4>
                    </div>
                </div>

                <!-- step 3 row -->
                <div class=" row top-row-margin">
                    <div class=" col-6">
                        <h3 class=" display-4 mb-1 pt-5">
                            3. Get
                        </h3>
                        <h4 class=" display-3">
                            Coached
                        </h4>
                        <h4>
                            Transform, one session at a time.
                            Imagine where you could be in just a few sessions!
                        </h4>
                        <button class="btn btn-round btn-primary" (click)="onFindCoach()">
                            Get Started
                        </button>
                    </div>
                    <div class=" col-6">
                        <img src="../../../assets/img/homepage/get-online-video-coaching-through-lifecoach.png" alt="Get online video coaching through Lifecoach">
                    </div>
                </div>

                <!-- step 4 row -->
                <div class=" row top-row-margin">
                    <div class=" col-6">
                        <h3 id="prefer-self-study" class=" display-4 mb-1">
                            Prefer Self-Study?
                        </h3>
                        <h4 class=" display-3">
                            Enrol in an eCourse
                        </h4>
                        <h4>
                            Learn personal transformation skills, completely on your own schedule at highly affordable prices.
                        </h4>
                        <div class="">
                            <button class="btn btn-round btn-default" [routerLink]="['/courses']" (click)="onGoCourses()">
                                Browse eCourses
                            </button>
                        </div>
                    </div>
                    <div class=" col-6">
                        <img src="../../../assets/img/homepage/lifecoach-online-coaching-e-courses.png" alt="Lifecoach online coaching e-Courses">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end of how it works section -->

    <!-- Meet the coaches section -->
    <div id="section-coaches" class="top-section-margin">
        <div class=" content">
            <div class="row scroll-fix">
                <div class="col text-center">
                    <h2 class=" display-2 mb-1">
                        Incredible Coaches
                    </h2>
                    <h3 class=" display-4">
                        At your fingertips
                    </h3>
                </div>
            </div>
            <div class=" row mt-4 scroll-fix">
                <div class=" col">
                    <div class=" container">
                        <app-results [results]="newestCoaches"></app-results>
                    </div>
                    <div class=" text-center mt-3">
                        <button class="btn btn-round btn-default" [routerLink]="['/coaches']" (click)="onGoCoaches()">
                            Browse Coaches
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of meet the coaches section -->

    <!-- begin section -->
    <div id="section-begin" class="top-section-margin bottom-section-margin">
        <div class=" content">
            <div class=" container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class=" display-2 mb-1">
                            Begin.
                        </h2>
                        <h3 class=" display-4">
                            Your transformation starts now
                        </h3>
                        <div class=" text-center">
                            <button class="btn btn-round btn-primary" (click)="onFindCoach()">
                                Find Your Coach Today
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of begin section -->

</div>

<!-- Footer -->
<app-page-footer></app-page-footer>
