// #hero-search {
//     input {
//         background-color: rgba(255, 255, 255, 0.9);
//         border-color: rgba(255, 255, 255, 0.9);
//         color: black;
//     }
//     .input-group-prepend {
//         background-color: #E14ECA;
//         border-radius: 6px 0 0 6px;

//         .input-group-text {
//             border: 0;

//             i {
//                 opacity: 1;
//             }
//         }
//     }
// }

.top-section-margin {
    margin-top: 100px;
}

.bottom-section-margin {
    margin-bottom: 100px;
}

.top-row-margin {
    margin-top: 50px;
}

#prefer-self-study {
    padding-top: 100px;
}

.custom-badge {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-right: 5px;
}

#section-hero {
    margin-top: 60px;
    padding: 6vh 2rem 2rem 10vh;

    margin-bottom: 0;
        background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero.jpg') no-repeat bottom center / cover;
        @media screen and (max-width: 992px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero-1200.jpg') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 768px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero991.jpg') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 575px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero768.jpg') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 380px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero575.jpg') no-repeat bottom center / cover;
        }
    }
    :host-context(.webp) #section-hero {
        margin-bottom: 0;
        background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero.webp') no-repeat bottom center / cover;
        @media screen and (max-width: 992px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero-1200.webp') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 768px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero991.webp') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 575px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero768.webp') no-repeat bottom center / cover;
        }
        @media screen and (max-width: 380px) {
            background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)), url('/assets/img/homepage/lifecoach-life-coach-hero575.webp') no-repeat bottom center / cover;
        }
}

#hero-text-col {
    padding-top: 10em;
}

#hero-vid-col {
    padding-top: 1em;
}

#section-banners {
    padding: 8vh 0 0 0;
}

#goal-tags {
    .custom-goal-tag {
        border-radius: 9999px;
        font-size: 1.2em;
        font-weight: 600;
    }
}
