<ng-container *ngIf="previewMode ; else liveMode">
    <div *ngIf="program">
        <div class=" card">
            <ng-container *ngIf="program.imagePaths; else noImages">
                <div 
                *ngIf="program.imagePaths?.webp?.fullSize"
                class="card-img-top program-image program-image_webp_full"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.webp.fullSize +')'}"></div>
                <div
                *ngIf="program.imagePaths?.webp['1200']"
                class="card-img-top program-image program-image_webp_half"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.webp['1200'] +')'}"></div>
                <div
                *ngIf="program.imagePaths?.original?.fullSize"
                class="card-img-top program-image program-image_full"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.original.fullSize +')'}"></div>
                <div
                *ngIf="program.imagePaths?.original['1200']"
                class="card-img-top program-image program-image_half"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.original['1200'] +')'}"></div>
            </ng-container>
            <ng-template #noImages>
                <img
                  class="card-img-top"
                  [src]="program.image"
                  [alt]="program.title" />
            </ng-template>
    
            <div class=" card-body">
                <h4 class="card-title"> {{ formControls?.title?.value }} </h4>
                <h6 class="card-subtitle mb-2 text-muted"> {{ formControls?.subtitle?.value }} </h6>
            </div>
    
        </div>
    </div>
</ng-container>
    
<ng-template #liveMode>
    <div *ngIf="program">
        <div class=" card">
            <ng-container *ngIf="program.imagePaths; else noImages">
                <div 
                *ngIf="program.imagePaths?.webp?.fullSize"
                class="card-img-top program-image program-image_webp_full"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.webp.fullSize +')'}"></div>
                <div
                *ngIf="program.imagePaths?.webp['1200']"
                class="card-img-top program-image program-image_webp_half"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.webp['1200'] +')'}"></div>
                <div
                *ngIf="program.imagePaths?.original?.fullSize"
                class="card-img-top program-image program-image_full"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.original.fullSize +')'}"></div>
                <div
                *ngIf="program.imagePaths?.original['1200']"
                class="card-img-top program-image program-image_half"
                [ngStyle]="{'background-image': 'url(' + program.imagePaths.original['1200'] +')'}"></div>
            </ng-container>
            <ng-template #noImages>
                <img
                  class="card-img-top"
                  [src]="program.image"
                  [alt]="program.title" />
            </ng-template>
    
            <div class=" card-body">
                <h4 class="card-title"> {{ program.title }} </h4>
                <h6 class="card-subtitle mb-2 text-muted"> {{ program.subtitle }} </h6>
            </div>
    
        </div>
    </div>
</ng-template>
