<div class=" content">
    <!-- Loading spinner if server -->
    <div *ngIf="!browser" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- If browser -->
    <div *ngIf="browser">

        <!-- ****** Creating a new course ****** -->
        <div *ngIf="isNewCourse">

            <h4> New eCourse </h4>

            <app-new-course [userId]="userId" [account]="account"></app-new-course>
        </div>

        <!-- ****** Editing sections ****** -->
        <div *ngIf="(isNewSection || activeRouteSectionId) && (!isNewLecture && !activeRouteLectureId)">

            <!-- Title -->
            <h4>{{ course?.title }}
                <span
                *ngIf="reviewRequest?.status === 'submitted' && course?.reviewRequest?.status !== 'approved'"
                class=" badge badge-info ml-2">
                    SUBMITTED FOR REVIEW
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'approved'"
                class=" badge badge-success ml-2">
                    PUBLISHED
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'rejected'"
                class=" badge badge-danger ml-2">
                    NEEDS ACTION
                </span>
                <span *ngIf="!course?.reviewRequest?.status" class=" badge badge-warning ml-2">
                    DRAFT eCOURSE
                </span>
            </h4>

            <!-- Tabs -->
            <div class="card card-plain">
                <div class="card-header">
                  <tabset #staticTabs class="nav-tabs-primary">
                    <tab heading="1. Edit Sections & Lectures">
                        <div class=" row">
                            <div class=" col-4">
                                <app-course-lectures-navigator [course]="course"></app-course-lectures-navigator>
                            </div>
                            <div class=" col-8">
                                <app-course-section
                                    [isNewSection]="isNewSection"
                                    [activatedSectionId]="activeRouteSectionId"
                                    [course]="course">
                                </app-course-section>
                            </div>
                        </div>
                    </tab>
                    <tab heading="2. Design Landing Page">
                        <app-course-landing-page [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-landing-page>
                    </tab>
                    <tab heading="3. Set Pricing">
                        <app-course-pricing [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-pricing>
                    </tab>
                    <tab heading="4. Submit For Review">
                        <ng-template *ngIf="course?.reviewRequest?.status === 'rejected'" tabHeading>
                            <i class="tim-icons icon-alert-circle-exc text-danger ml-2"> </i>
                        </ng-template>
                        <app-course-submit [userId]="userId" [course]="course"></app-course-submit>
                    </tab>
                    <tab heading="5. Promote eCourse" [disabled]="course?.reviewRequest?.status !== 'approved'">
                        <app-course-promote [userId]="userId" [course]="course"></app-course-promote>
                    </tab>
                    <tab>
                        <ng-template tabHeading>
                          <span class="">
                            <i class="fas fa-ellipsis-h" tooltip="More options"></i>
                          </span>
                        </ng-template>
                        <app-course-more [userId]="userId" [course]="course"></app-course-more>
                    </tab>
                  </tabset>
                </div>
              </div>
            <!-- End of tabs -->
        </div>

        <!-- ****** Editing lectures ****** -->
        <div *ngIf="isNewLecture || activeRouteLectureId">

            <!-- Title -->
            <h4>{{ course?.title }}
                <span
                *ngIf="reviewRequest?.status === 'submitted' && course?.reviewRequest?.status !== 'approved'"
                class=" badge badge-info ml-2">
                    SUBMITTED FOR REVIEW
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'approved'"
                class=" badge badge-success ml-2">
                    PUBLISHED
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'rejected'"
                class=" badge badge-danger ml-2">
                    NEEDS ACTION
                </span>
                <span *ngIf="!course?.reviewRequest?.status" class=" badge badge-warning ml-2">
                    DRAFT eCOURSE
                </span>
            </h4>

            <!-- Tabs -->
            <div class="card card-plain">
                <div class="card-header">
                  <tabset #staticTabs class="nav-tabs-primary">
                    <tab heading="1. Edit Sections & Lectures">
                        <div class=" row">
                            <div class=" col-4">
                                <app-course-lectures-navigator [course]="course"></app-course-lectures-navigator>
                            </div>
                            <div class=" col-8">
                                <app-course-lecture
                                [userId]="userId"
                                [isNewLecture]="isNewLecture"
                                [activatedSectionId]="activeRouteSectionId"
                                [activatedLectureId]="activeRouteLectureId"
                                [course]="course"
                                (goNextEvent)="onGoNextEvent($event)">
                                </app-course-lecture>
                            </div>
                        </div>
                    </tab>
                    <tab heading="2. Design Landing Page">
                        <app-course-landing-page [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-landing-page>
                    </tab>
                    <tab heading="3. Set Pricing">
                      <app-course-pricing [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-pricing>
                    </tab>
                    <tab heading="4. Submit For Review">
                        <ng-template *ngIf="course?.reviewRequest?.status === 'rejected'" tabHeading>
                            <i class="tim-icons icon-alert-circle-exc text-danger ml-2"> </i>
                        </ng-template>
                        <app-course-submit [userId]="userId" [course]="course"></app-course-submit>
                    </tab>
                    <tab heading="5. Promote eCourse" [disabled]="course?.reviewRequest?.status !== 'approved'">
                        <app-course-promote [userId]="userId" [course]="course"></app-course-promote>
                    </tab>
                    <tab>
                        <ng-template tabHeading>
                          <span class="">
                            <i class="fas fa-ellipsis-h" tooltip="More options"></i>
                          </span>
                        </ng-template>
                        <app-course-more [userId]="userId" [course]="course"></app-course-more>
                    </tab>
                  </tabset>
                </div>
              </div>
            <!-- End of tabs -->
        </div>

        <!-- ****** Just browsing ****** -->
        <div *ngIf="!isNewSection && !activeRouteSectionId && !isNewLecture && !activeRouteLectureId && !isNewCourse">

            <!-- Title -->
            <h4>{{ course?.title }}
                <span
                *ngIf="reviewRequest?.status === 'submitted' && course?.reviewRequest?.status !== 'approved'"
                class=" badge badge-info ml-2">
                    SUBMITTED FOR REVIEW
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'approved'"
                class=" badge badge-success ml-2">
                    PUBLISHED
                </span>
                <span
                *ngIf="course?.reviewRequest?.status === 'rejected'"
                class=" badge badge-danger ml-2">
                    NEEDS ACTION
                </span>
                <span *ngIf="!course?.reviewRequest?.status" class=" badge badge-warning ml-2">
                    DRAFT eCOURSE
                </span>
            </h4>

            <!-- Tabs -->
            <div class="card card-plain">
                <div class="card-header">
                  <tabset #staticTabs class="nav-tabs-primary">
                    <tab heading="1. Edit Sections & Lectures">
                        <div class=" row">
                            <!-- Lectures navigator -->
                            <div class=" col-4">
                                <app-course-lectures-navigator [course]="course"></app-course-lectures-navigator>
                            </div>
                            <!-- Section editor -->
                            <div class=" col-8">
                                <app-course-section
                                    [isNewSection]="isNewSection"
                                    [activatedSectionId]="course?.sections[0]?.id"
                                    [course]="course">
                                </app-course-section>
                            </div>
                        </div>
                    </tab>
                    <tab heading="2. Design Landing Page">
                      <app-course-landing-page [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-landing-page>
                    </tab>
                    <tab heading="3. Set Pricing">
                        <app-course-pricing [userId]="userId" [course]="course" (goNextEvent)="onGoNextEvent($event)"></app-course-pricing>
                    </tab>
                    <tab heading="4. Submit For Review">
                        <ng-template *ngIf="course?.reviewRequest?.status === 'rejected'" tabHeading>
                            <i class="tim-icons icon-alert-circle-exc text-danger ml-2"> </i>
                        </ng-template>
                        <app-course-submit [userId]="userId" [course]="course"></app-course-submit>
                    </tab>
                    <tab heading="5. Promote eCourse" [disabled]="course?.reviewRequest?.status !== 'approved'">
                        <app-course-promote [userId]="userId" [course]="course"></app-course-promote>
                    </tab>
                    <tab>
                        <ng-template tabHeading>
                          <span class="">
                            <i class="fas fa-ellipsis-h" tooltip="More options"></i>
                          </span>
                        </ng-template>
                        <app-course-more [userId]="userId" [course]="course"></app-course-more>
                    </tab>
                  </tabset>
                </div>
              </div>
            <!-- End of tabs -->
        </div>

    </div>
    
</div>
