<div class=" content">

    <div class=" row">
        <div class=" col-md-6">

          <!-- loading person -->
          <div *ngIf="!person">
            <!-- loading spinner -->
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
          </div>

          <!-- person loaded -->
          <div *ngIf="person" class=" card card-testimonial">
            <div class=" card-header card-header-avatar">
              <a href="javascript:void(0)">
                <img
                  [alt]="person.firstName + ' ' + person.lastName"
                  class=" img img-raised"
                  [src]="person.photo"
                />
              </a>
            </div>
            <div class=" card-body">
                <h4 class=" card-title">{{ person.firstName + ' ' + person.lastName }}</h4>

                <!-- person type -->
                <div *ngIf="person.type === 'warm lead'" class=" badge badge-danger">
                  🔥 Warm Lead
                </div>
                <div *ngIf="person.type === 'lead'" class=" badge badge-success">
                  Lead
                </div>
                <div *ngIf="person.type === 'client'" class=" badge badge-primary">
                  Client
                </div>

                <!-- connected -->
                <div class=" mt-4">
                  <small class=" text-muted">
                    Connected
                  </small>
                  <p>
                    <i class="fas fa-calendar text-muted"></i> {{ person.created.toLocaleDateString() }} 
                    <i class="fas fa-clock text-muted ml-2"></i> {{ person.created.toLocaleTimeString() }}
                  </p>
                </div>

                <!-- person status -->
                <div class=" mt-4">
                  <small class=" text-muted">
                    Status
                  </small>
                  <p
                  [ngClass]="{
                  'text-danger': person.status === 'Awaiting reply' || person.status === 'Client responded',
                  'text-success' : person.status === 'Responded' || person.status === 'Invited',
                  'text-primary' : person.status === 'Enrolled in eCourse' || person.status === 'Enrolled in program'}">
                    {{ person.status }}
                  </p>
                </div>

                <!-- coach actions -->
                <div class=" mt-4 text-center">
                  <div class=" dropdown btn-group" dropdown>
                    <button
                    class=" btn btn-round btn-default dropdown-toggle dropdown-toggle"
                    data-toggle="dropdown"
                    dropdownToggle
                    type="button"
                    >
                        <span class="pl-2">Actions</span>
                    </button>
                    <div class=" dropdown-menu" *dropdownMenu>

                      <!--  -->
                      <a *ngIf="true" class=" dropdown-item" [routerLink]="msgUrl">
                        Send {{ person.firstName }} a message
                      </a>
  
                      <!--  -->
                      <a *ngIf="true" class=" dropdown-item" href="javascript:void(0)" (click)="openInviteModal('program')">
                        Invite {{ person.firstName }} to join a program
                      </a>

                      <!--  -->
                      <a *ngIf="true" class=" dropdown-item" href="javascript:void(0)" (click)="openInviteModal('ecourse')">
                        Invite {{ person.firstName }} to enroll in an eCourse
                      </a>

                      <!--  -->
                      <a *ngIf="true" class=" dropdown-item" [routerLink]="'/calendar'">
                        Schedule a calendar event
                      </a>
  
                    </div>
                  </div>
                </div>

            </div>
            <!-- <div class=" card-footer">
            </div> -->
          </div>
          <!-- end of person card -->

          <!-- notes card -->
          <!-- <div class=" card">
            <div class=" card-header">
              <h5> Add a quick note: </h5>
            </div>
            <div class=" card-body">
              <textarea></textarea>
            </div>
          </div> -->
          <!-- end notes card -->

          <!-- enrolled in products cards -->
          <div *ngIf="enrolledInCourses?.length > 0 || enrolledInPrograms?.length > 0">
            <h5> Enrolled In: </h5>
          </div>

          <div class=" row">
            <!-- enrolled programs -->
            <div *ngFor="let program of enrolledInPrograms ; let p = index" class=" col-md-6">
              <a [routerLink]="['/my-programs', program.programId, 'content']">
                  <div class=" card">
                      <img
                      class="card-img-top"
                      [src]="program.image ? program.image : 'assets/img/image_placeholder.jpg'"
                      [alt]="program.title" />

                      <div class=" card-body">
                          <h4 class="card-title"> {{ program?.title }} </h4>
                          <h6 class="card-subtitle mb-2 text-muted"> {{ program?.subtitle }} </h6>
                          <span class=" badge badge-default"> Program </span>
                          <div class="progress-container progress-primary mt-2">
                              <span class="progress-badge"> Progress </span>
                              <progressbar class="progress-bar-primary" [value]="program?.progress">
                                <span class="progress-value"> {{ program?.progress }}% </span>
                              </progressbar>
                          </div>
                      </div>
                  </div>
              </a>
            </div>
            <!-- end enrolled programs -->

            <!-- enrolled courses -->
            <div *ngFor="let course of enrolledInCourses ; let c = index" class=" col-md-6">
              <a [routerLink]="['/my-courses', course.courseId, 'content']">
                  <div class=" card">
                      <img
                      class="card-img-top"
                      [src]="course.image ? course.image : 'assets/img/image_placeholder.jpg'"
                      [alt]="course.title" />

                      <div class=" card-body">
                          <h4 class="card-title"> {{ course?.title }} </h4>
                          <h6 class="card-subtitle mb-2 text-muted"> {{ course?.subtitle }} </h6>
                          <span class=" badge badge-default"> eCourse </span>
                          <div class="progress-container progress-primary mt-2">
                              <span class="progress-badge"> Progress </span>
                              <progressbar class="progress-bar-primary" [value]="course?.progress">
                                <span class="progress-value"> {{ course?.progress }}% </span>
                              </progressbar>
                          </div>
                      </div>
                  </div>
              </a>
            </div>
            <!-- end enrolled courses -->
          </div>

        </div>
        <!-- end col -->
        <div class=" col-md-6">
            <app-person-history-timeline [person]="person"></app-person-history-timeline>
        </div>
    </div>

</div>