<div class=" content">

    <div class=" row">
        <div class=" col-md-6">

          <!-- loading person -->
          <div *ngIf="!person">
            <!-- loading spinner -->
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
          </div>

          <!-- person loaded -->
          <div *ngIf="person" class=" card card-testimonial">
            <div class=" card-header card-header-avatar">
              <a href="javascript:void(0)">
                <img
                  [alt]="person.firstName + ' ' + person.lastName"
                  class=" img img-raised"
                  [src]="person.photo"
                />
              </a>
            </div>
            <div class=" card-body">
                <h4 class=" card-title">{{ person.firstName + ' ' + person.lastName }}</h4>

                <!-- person type -->
                <div *ngIf="person.type === 'warm lead'" class=" badge badge-danger">
                  🔥 Warm Lead
                </div>
                <div *ngIf="person.type === 'lead'" class=" badge badge-success">
                  Lead
                </div>
                <div *ngIf="person.type === 'client'" class=" badge badge-primary">
                  Client
                </div>

                <!-- person status -->
                <div class=" mt-3" 
                  [ngClass]="{
                  'text-danger': person.status === 'Awaiting reply' || person.status === 'Client responded',
                  'text-success' : person.status === 'Responded',
                  'text-primary' : person.status === 'Enrolled in self-study course'}"
                  >
                    {{ person.status }}
                </div>

            </div>
            <div class=" card-footer">
              <!--  -->
            </div>
          </div>
        </div>
        <!-- end col -->
        <div class=" col-md-6">
            <app-person-history-timeline [person]="person"></app-person-history-timeline>
        </div>
    </div>

</div>