<div class=" row">
    <div class=" col-md-8">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title"> Let's give this service a title! </h4>
              <h6 class="card-subtitle mb-4 text-muted"> You can change your title at any time. </h6>
              <div class=" p-3">
                <p class=" small text-muted pl-2 mb-2">
                    <i class="fas fa-info-circle"></i> Use your brand if you have one, or choose a title that 
                    gives clients a good idea about what you can help them to achieve by working with you.
                </p>

                <div class="mt-3">
                    <form *ngIf="newServiceForm" [formGroup]="newServiceForm" (submit)="onSubmit()">

                        <div
                        class="input-group no-symbol"
                        [ngClass]="{
                            'has-danger':
                            (( (focusTouched && serviceF.title.value != '') || saveAttempt) && serviceF.title.errors),
                            'has-success': !serviceF.title.errors
                        }">
                            <input
                            type="text"
                            class="form-control"
                            formControlName="title"
                            placeholder="eg. 'Laura Mills Coaching' or 'Find Your Fulfilment'"
                            (focus)="focusTouched = true"
                            (input)="onTitleInput($event)">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                  {{ titleActualLength + '/' + titleMaxLength }}
                              </span>
                            </div>
                        </div>
                        <div *ngIf="(( (focusTouched && serviceF.title.value != '') || saveAttempt) && serviceF.title.errors)">
                            <label
                            *ngFor="let error of objKeys(serviceF.title.errors)"
                            class="error custom-error-label"
                            >{{ showError('title', error) }}
                            </label>
                        </div>

                        <div class=" pull-right">
                            <button type="submit" class=" btn btn-primary btn-round btn-fill mt-4">
                                <span *ngIf="!saving">
                                    <i class="fas fa-save"></i>
                                  </span>
                                  <span
                                  *ngIf="saving"
                                  class="spinner-border spinner-border-sm"
                                  role="status"
                                  ></span> {{ saving ? 'Saving...' : 'Continue'}}
                            </button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
