<div class=" row">
    <div class=" col">
      <h4 class=" card-title d-inline-block"> Reviews </h4>
    </div>
</div>

<hr>

<!-- Results -->
<div *ngFor="let review of hits">
    <div class=" row">
        <div class=" col-4">
            <div class=" text-center d-inline-block mr-3">
                <img *ngIf="review.reviewerPhoto"
                [src]="review.reviewerPhoto"
                style="width: 60px; height: 60px; border-radius: 60px; object-fit: cover;">
                <img
                *ngIf="!review.reviewerPhoto"
                src="https://eu.ui-avatars.com/api/?name={{review.reviewerFirstName}}+{{review.reviewerLastName}}&background=00f2c3&color=fff&rounded=true&bold=true"
                style="width: 60px; height: 60px; border-radius: 60px; object-fit: cover;">
            </div>
            <div class=" d-inline-block">
                <p class=" text-muted">
                    {{ getDisplayDate(review.lastUpdated) }}
                </p>
                <p>
                    {{ review.reviewerFirstName + ' ' + review.reviewerLastName }}
                </p>
            </div>
        </div>
        <div class=" col-8">
            <div class="d-inline-block">
                <app-program-stars
                [program]="program">
                </app-program-stars>
            </div>
            <p>
                {{ review.summary }}
            </p>
        </div>
    </div>
    <hr>
</div>

<!-- Navigator -->
<app-navigator
[page]="page"
[totalItems]="totalHits"
[itemsPerPage]="hitsPerPage"
[maxSize]="maxSize"
(messageEvent)="receivePageUpdate($event)"
></app-navigator>
