.service-image{
    height: 14rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  }
.service-image_half {
    display: block;
  }
  :host-context(.webp) {
    .service-image_half {
      display: none;
    }
    .service-image_webp_half {
      display: block;
    }
  }
@media screen and (min-width: 575px){
    .service-image_half,
    .service-image_webp_half {
      display: none;
    }
    .service-image_full {
      display: block;
    }
    :host-context(.webp){
      .service-image_full,
      .service-image_webp_half{
        display: none;
      }
      .service-image_webp_full {
        display:block;
      }
    }
  }