<div *ngIf="coachProfile">
    <div class=" row">
      <div class=" col-md-6 ml-auto mr-auto text-center">
        <h2 class=" title">Your coach</h2>
      </div>
    </div>
    
    <div class=" card card-testimonial">
        <div class=" card-header card-header-avatar">
          <a [routerLink]="['/coach', coachId]">
            <img
            style="width: 100px; height: 100px; object-fit: cover;"
            class=" img img-raised"
            [src]="coachProfile.photo"
            [alt]="coachProfile.firstName + ' ' + coachProfile.lastName">
          </a>
        </div>
        <div class=" card-body">
          <h4 class=" card-title">
            <a style="color: rgba(255, 255, 255, 0.8)" [routerLink]="['/coach', coachId]">
              {{ coachProfile.firstName + ' ' + coachProfile.lastName }}
            </a>
          </h4>
          <p>
            <!-- Coach's avg. rating across all products & services -->
            <span *ngIf="!avgCourseRating && !avgProgramRating" class=" ml-3 badge badge-danger">
              🔥 New Coach
              </span>
            <strong *ngIf="avgCourseRating && avgProgramRating">
              {{ (avgCourseRating + avgProgramRating) / 2 }}
            </strong>
            <strong *ngIf="avgCourseRating && !avgProgramRating">
                {{ avgCourseRating }}
            </strong>
            <strong *ngIf="!avgCourseRating && avgProgramRating">
                {{ avgProgramRating }}
            </strong>
    
            <!-- If the coach has a rating -->
            <span *ngIf="avgCourseRating || avgProgramRating">
                <i class="fas fa-star mr-1"></i>
                Coach rating
            </span>
            <span>
              <i class="fas fa-comment ml-4 mr-1"></i>
            </span> 
            <strong>
              {{ courseReviews?.length + programReviews?.length }}
            </strong> {{ courseReviews?.length + programReviews?.length === 1 ? 'Review' : 'Reviews'}}
            <span>
              <i class="fas fa-user ml-4 mr-1"></i>
            </span> 
            <strong>
              {{ ((sellerCourseEnrollments | async)?.totalEnrollments) + ((sellerProgramEnrollments | async)?.totalEnrollments) }} 
            </strong>
            {{ ((sellerCourseEnrollments | async)?.totalEnrollments) + ((sellerProgramEnrollments | async)?.totalEnrollments) === 1 ? 'Coachee' : 'Coachees' }}
            <span>
              <i class="fas fa-graduation-cap ml-4 mr-1"></i>
            </span> 
            <strong>
              {{ (sellerCourses | async)?.length }}
            </strong>
            {{ (sellerCourses | async)?.length === 1 ? 'eCourse' : 'eCourses' }}
            <span>
                <i class="fas fa-graduation-cap ml-4 mr-1"></i>
              </span> 
            <strong>
                {{ (sellerPrograms | async)?.length }}
            </strong>
            {{ (sellerPrograms | async)?.length === 1 ? 'Program' : 'Programs' }}
          </p>
        </div>
    </div>
  </div>
  