<div *ngIf="coachProfile">
    <div class=" row">
      <div class=" col-md-6 ml-auto mr-auto text-center">
        <h2 class=" title">Your coach</h2>
      </div>
    </div>
    
    <div class=" card card-testimonial">
        <div class=" card-header card-header-avatar">
          <a [routerLink]="['/coach', coachId]">
            <img
            style="width: 100px; height: 100px; object-fit: cover;"
            class=" img img-raised"
            [src]="coachProfile.photo"
            [alt]="coachProfile.firstName + ' ' + coachProfile.lastName">
          </a>
        </div>
        <div class=" card-body">
          <h4 class=" card-title">
            <a style="color: rgba(255, 255, 255, 0.8)" [routerLink]="['/coach', coachId]">
              {{ coachProfile.firstName + ' ' + coachProfile.lastName }}
            </a>
          </h4>
          <!-- <p>
            <span class=" ml-3 badge badge-danger">
              🔥 New Coach
            </span>
          </p> -->
          <p>
            <span>
              <i class="fas fa-graduation-cap ml-4 mr-1"></i>
            </span> 
            <strong>
              {{ (sellerCourses | async)?.length }}
            </strong>
            {{ (sellerCourses | async)?.length === 1 ? 'eCourse' : 'eCourses' }}
            <span>
                <i class="fas fa-graduation-cap ml-4 mr-1"></i>
            </span> 
            <strong>
                {{ (sellerPrograms | async)?.length }}
            </strong>
            {{ (sellerPrograms | async)?.length === 1 ? 'Coaching Program' : 'Coaching Programs' }}
            <span>
              <i class="fas fa-graduation-cap ml-4 mr-1"></i>
            </span> 
            <strong>
                {{ (sellerServices | async)?.length }}
            </strong>
            {{ (sellerServices | async)?.length === 1 ? 'Coaching Service' : 'Coaching Services' }}
          </p>
        </div>
    </div>
  </div>
  