<div class=" card">
    <div class=" card-body">

        <h5 class=" mb-3"> More Service Options
            
        </h5>

        <p class=" small text-muted pl-2 mb-2">
            <i class="fas fa-info-circle"></i> Use these additional options to manage your Service.
        </p>

        <div class=" mt-5">
            <!-- Delete service-->

            <h5>
                Delete this Service
            </h5>

            <div class=" mt-3">
                <button
                type="button"
                class="btn btn-danger btn-round"
                (click)="onDeleteService()">
                    Delete Service
                </button>
            </div>

        </div>

    </div>
</div>
